 <div class="categoryHighlight">
		<img src="/content/dam/eaton/images/story_board.png" class="storyBoardImage">
		<div class="storyBoardOverlay">

				<h1 class="categoryHighlightHead">Eaton UPS At work</h1>
				<div class="categoryHighlightDesc">Discover why more companies are switching to eaton UPS.</div>
				<div class="aem-GridColumn aem-GridColumn--default--4">
					<div class="aem-GridColumn aem-GridColumn--default--6 categoryHighlightSeperator"></div>
				</div>				
		</div>

		<div class="cardHolder hidden-xs hidden-sm">
			<div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
						<div class="aem-GridColumn aem-GridColumn--default--6 categoryHighlightCard container-padding">
							<img src="/content/dam/eaton/images/card1.png">
                            <div class="inner-border">
								<div class="cardHighlight">DATA CENTER & FACILITY UPS</div>
								<div class="cardDesc">Unlock power and revenue with a modern UPS</div>
                            </div>
						</div>
						<div class="aem-GridColumn aem-GridColumn--default--6 categoryHighlightCard container-padding">

							<img src="/content/dam/eaton/images/card2.png">
                            <div class="inner-border">
								<div class="cardHighlight">ELECTRICAL</div>
								<div class="cardDesc">Eaton awarded U.S. Army Corps Contract to Modernize Electrical..</div>
                            </div>
						</div>
             </div>
			</div>
		</div>

		<div class="container-fixed container-padding">
			<div class="cardCaraousel hidden-md hidden-lg">				
				<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
					<!-- Carousel indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
					</ol>   
					<!-- Wrapper for carousel items -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="/content/dam/eaton/images/card1.png" alt="First Slide">
								 <div class="inner-border">
								<div class="cardHighlight">DATA CENTER & FACILITY UPS</div>
								<div class="cardDesc">Unlock power and revenue with a modern UPS</div>
								</div>
						</div>
						<div class="item">
							<img src="/content/dam/eaton/images/card2.png" alt="Second Slide">
                             <div class="inner-border">
							<div class="cardHighlight">ELECTRICAL</div>
							<div class="cardDesc">Eaton awarded U.S. Army Corps Contract to Modernize Electrical..</div>
                            </div>
						</div>
					</div>
				</div>

		<!-- Carousel controls -->

			</div>

		</div>


	</div>	