<sly data-sly-use.data="${ '../data/view-horizontal-data.js' @testdata=properties.testdata }">

  <!--/* Link List Horizontal */-->
  <div class="link-list-horizontal b-body-copy-small">
    <ul
      data-sly-list="${ data.view.links }"
      class="link-list-horizontal__list"
    >
      <li class="link-list-horizontal__list-item">
        <a href="${ item.url }"
          aria-label="Go to ${ item.title }"
          class="link-list-horizontal__list-link"
          target="${ item.target }"
        >${ item.title }</a>
      </li>
    </ul>
  </div>

</sly>
