<div class="article-list-single-feature container" data-sly-use.data="com.eaton.platform.core.helpers.ListHelper">

    <div class="row article-list-single-feature__container">
    <sly data-sly-list.card="${data.typeList}" data-sly-unwrap>
        <div data-sly-test="${cardList.first}" class="col-xs-12 col-md-6 article-list-single-feature__single">
            <a href="${card.pagePath}" target="${card.windowFixed}" class="article-list-single-feature__link equal-height-row tablet-card">
                <div class="related-category--tablet-left">
                    <img src="${card.teaserImage}" class="img-responsive category__image" alt="${card.altTxt}"/>
                </div>
                <div class="category__item--border category__item-innerpadding related-category--tablet-right">
                    <p class="b-eyebrow-large category__title--bottompadding">${card.eyebrow}</p>
                    <p class="b-h4-link">${card.headline}</p>
                    <p class="category-item-date"><em>${card.publicationDate}</em></p>
                </div>
            </a>
        </div>
        <div data-sly-test="${!cardList.first}" class="col-xs-12 col-md-6 article-list-single-feature__article">
            <a href="${card.pagePath}" target="${card.windowFixed}" class="article-list-single-feature__link">
                <span class="article-list-single-feature--border"></span>
                <div class="article-list-single-feature__article--copy">
                    <p class="b-eyebrow-small category__title--bottompadding">${card.eyebrow}</p>
                    <p class="b-h4-link">${card.headline}</p>
                    <p class="category-item-date"><em>${card.publicationDate}</em></p>
                </div>
            </a>
        </div>
    </sly>
    </div>
    <!--/* Bottom CTA */-->
    <div class="row">
        <div class="col-xs-12 text-center featured-category__cta-container">
            <sly data-sly-resource="${'featured-article-ctabutton' @ resourceType='/apps/eaton/components/general/ctabutton'}"></sly>
        </div>
    </div>    
</div>