<sly data-sly-use.data="${'../data/view-links-2col-data.js' @testdata=properties.testdata}">
  <!--/* Link Groups - Cols */-->
  <div data-sly-list="${data}" class="eaton-list-links" data-testdata="${data.testdata}">
      <ul data-sly-list="${item.linkGroup}" class="eaton-list-links__col">
        <li class="eaton-list-links__item">
          <a href="${item.cta.url}"
            aria-label="Go to ${ item.cta.title }"
            class="eaton-list-links__link"
            target="${ item.cta.target }">
            <span class="eaton-list-links__text">
                ${ item.cta.title }
            </span>
            <i class="eaton-list-links__icon glyphicon glyphicon-menu-right"
              aria-hidden="true"></i>
          </a>
        </li>
      </ul>
  </div>
</sly>
