<!--/*

  Load Component Views:

	Author may select one of the following views
	- default
	- statement

*/-->


<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">Text Component</div>
</sly>

<sly data-sly-use.data="com.eaton.platform.core.helpers.TextHelper">
<sly data-sly-test="${ data.textModel.view == 'default' }">
  <sly data-sly-include="views/view-default.html"></sly>
</sly>

<sly data-sly-test="${ data.textModel.view == 'statement' }">
  <sly data-sly-include="views/view-statement.html"></sly>
</sly>
</sly>