.module-related-products { position: relative; }

.module-related-products__slides { padding: 0; }

.module-related-products__slides .slides { position: relative; }

.module-related-products__slides a { z-index: 10; }

.module-related-products__dots { text-align: center; padding-top: 20px; }

@media screen and (min-width: 768px) { .module-related-products__dots { padding-top: 40px; } }

.module-related-products__dots li { display: inline; padding-right: 10px; }

.module-related-products__dots button { height: 10px; width: 10px; border: 10px; line-height: 0; display: inline; padding: 5px; cursor: pointer; color: transparent; border-radius: 10px; background-color: #EEF0F2; }

.module-related-products__arrows { position: absolute; top: 25%; color: #CCD2D7; display: none !important; }

.module-related-products__arrows .icon { font-size: 37px; }

.module-related-products__prev-arrow { left: 42px; }

.module-related-products__next-arrow { right: 42px; }

.module-related-products .slick-active button { background-color: #005EB8; }

@media screen and (min-width: 1200px) { .module-related-products:hover .module-related-products__arrows { display: block !important; } }
