.slick-carousel { position: relative; }

.slick-carousel__dots { text-align: center; }

.slick-carousel__dots li { display: inline; padding-right: 10px; }

.slick-carousel__dots button { height: 10px; width: 10px; border: 10px; line-height: 0; display: inline; padding: 5px; cursor: pointer; color: transparent; border-radius: 10px; }

.slick-carousel__arrows { position: absolute; top: 28%; color: #CCD2D7; display: none !important; }

.slick-carousel__prev-arrow { left: 42px; }

.slick-carousel__next-arrow { right: 42px; }

.slick-carousel .slick-active button { background-color: #005EB8; }

@media screen and (min-width: 1200px) { .slick-carousel:hover .slick-carousel__arrows { display: block !important; } }
