//------------------------------------------
// Component M-1: Header: Primary Navigation
//------------------------------------------

$primary-nav-border: #eef0f2;

.header-primary-nav {
  background: $color__white;
  padding: 20px 0 16px; // 4px for bottom shadow - height
  border-bottom: 4px solid $primary-nav-border;
  transition: height 0.3s ease-in-out;

  .row {
    display: flex;
    align-items: center;
  }

  &__links {
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    i {
      font-size: 25px;
    }
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
    &__links {
      text-align: right;
    }

    &__open-search {
      display: inline-block;
      margin-right: 30px;
    }
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    &__open-search {
      display: flex;
      justify-content: flex-end;
      height: 60px;
      align-items: center;

      .eaton-header--fixed & {
        height: 40px;
      }
    }

    &__open-mobile-menu {
      display: none;
    }
  }
}
