//-----------------------------------
// AEM Author Mode Styles
// Handles Style overrides when in wcmmode-edit
//-----------------------------------

// stylelint-disable selector-class-pattern
.aem-AuthorLayer-Edit,
.cq-wcm-edit {

  // stylelint-disable declaration-no-important
  .full-page-drawer,
  .mega-menu,
  .header-search {
    position: relative !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 99999 !important;

    &__content {
      display: block !important;
    }
  }

  .header-search {
    transform: translateY(0) !important;
    transition: none !important;
  }
}
