//-----------------------------------
// Component M-3: Header: Utility Navigation
//-----------------------------------

.header-utility-nav {
  background: $color__primary-blue;
  padding: 10px 0;
  font-size: 1.4rem;

  &__row {
    display: flex;
  }

  &__country {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
    font-family: Arial, sans-serif;
  }

  &__sign-in {
    text-align: right;
  }

  .icon {
    position: relative;
    top: 2px;
    font-size: 1.4rem;

    &.icon-chevron-down {
      font-size: 0.9rem;
      top: 0;
      margin-left: 6px;
    }
  }

  .open-country-selector,
  .open-sign-in {
    color: $color__white;
    text-decoration: none;
  }

  .open-sign-in:hover {
    // EATON-465: Underline on hover (this is a stand-alone navigation link)
    text-decoration: underline;
  }

  //-----------------------------
  // Mobile Breakpoints
  // ----------------------------

  @include media-mobile-and-tablet {
    position: fixed;
    bottom: 0;
    z-index: 113; /* Higher Stacking order than Primary Nav but Less than Search */
    width: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    padding: 0;

    .container {
      padding: 0;
    }

    &__row {
      align-items: center;
      margin: 0;
    }

    &__toggle-selector {
      padding: 25px 0 25px 30px;
      flex-grow: 1;
      background: $color__primary-gray1;
    }

    &__sign-in {
      text-align: center;
      padding: 0 $spacing__sm;
      flex-basis: 80px;
    }

    &__signin { display: none; }

    .icon {

      &.icon-globe {
        margin-right: 5px;
      }
    }
  }

  //-----------------------------
  // Desktop Breakpoints
  // ----------------------------

  @include media-desktop-and-up {
    position: relative;
    z-index: 112;

    &__row {
      padding: 0 15px;
    }

    &__toggle-selector {
      flex: 1;
    }

    .icon {
      margin-right: 5px;
    }
  }
}
