//------------------------------------------
// Component M-1: Header: Search
//------------------------------------------

.header-search {
  width: 100%;
  transform: translateY(-100%);
  overflow: hidden;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

  .search-open & {
    transform: translateY(0);
    visibility: visible;
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    position: absolute;
    z-index: 10;
  }
}
