//------------------------------------------
// Component M-1: Header: Primary Navigation
//------------------------------------------
$primary-nav-border: #EEF0F2;

.header-primary-nav {
  position: relative;
  z-index: 112;
  background: $color__white;
  transition: height 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: $primary-nav-border;
  }

  .row {
    display: flex;
  }

  &__links {
    position: relative;
    z-index: 1;

    .icon {
      font-size: 20px;
      color: $color__primary-blue;
      position: relative;
    }
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {

    .row {
      align-items: center;
    }

    &__links {
      justify-content: flex-end;
      display: flex;
      flex-grow: 1;
    }

    &__open-search,
    &__toggle-mobile-menu {
      display: inline-block;
      padding: ($spacing__sm / 2) + 2;
    }

    .icon-close {
      display: none;
      color: $color__white;
    }
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    &__menu {
      flex-grow: 1;
      position: relative;

      &::after {
        content: '';
        height: 30px;
        width: 1px;
        background: $color__primary-gray3;
        position: absolute;
        top: 36px;
        right: 0;
      }

      .eaton-header--fixed & {
        &::after {
          top: 26px;
          right: 7px;
        }
      }
    }

    &__links {
      i {
        top: -5px;
      }
    }

    &__open-search {
      display: flex;
      height: 90px;
      padding: 30px; // Equidistant Spacing between menu & search icon
      margin-top: 10px;

      .icon-close {
        display: none;
      }

      .eaton-header--fixed & {
        height: 70px;
        padding: 20px;
      }

      .search-open & {
        transition: background 0.3s ease-in-out;
        background: $color__primary-gray1;

        .icon-search {
          display: none;
        }

        .icon-close {
          display: block;
          top: -5px;
          font-size: 18px;
          color: $color__white;
        }
      }
    }

    &__toggle-mobile-menu {
      display: none;
    }
  }
}
