//-----------------------------------
// Component: Global Header
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";


// Import Sub Components
@import "header-utility-nav";
@import "header-primary-nav";
@import "header-search";
@import "header-interactions";
@import "header-aem-authoring";

// Base Styles
.eaton-header {
  position: relative;
  z-index: 200;

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
    .eaton-logo {
      padding: 10px 15px;

      &__link {
        width: 100px;
        height: 32px;
      }
    }
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    .eaton-logo {
      padding: 20px 15px 16px;
    }

    &--fixed {
      position: fixed;
      width: 100%;
      z-index: 250;
      top: 0;

      .header-utility-nav {
        display: none;
      }

      .eaton-logo__link {
        width: 126px;
        height: 40px;
        transition: height ease-in-out 0.3s, width ease-in-out 0.3s;
      }
    }
  }
}
