<sly data-sly-use.data="${'../data/view-default-data.js' @testdata=properties.testdata}">

  <div class="eaton-text-default">

    <!--/* If Grid Enabled */-->
    <div data-sly-test="${ properties.toggleInnerGrid }" class="container">
      <div class="eaton-text-default__content rich-text-container">${ data.text @ context = 'html' }</div>
    </div>

    <!--/* If Grid NOT-Enabled */-->
    <div data-sly-test="${ !properties.toggleInnerGrid }"
      class="eaton-text-default__content rich-text-container" >${ data.text @ context = 'html' }</div>

  </div>

</sly>
