/* Styles: Sample Component with Views
/* Post Styleguide and PL build - will be written with SASS */

.eaton-component {
    background: #F8F8F8;
    padding: 30px ! important;
}

.eaton-component--heading {
    margin-bottom: 15px;
}

.eaton-component--small-text {
    font-style: italic;
    color: #005EB8;
    font-size: 14px;
}

.eaton-component--small-text span {
    color: #4C8C2B;
    font-weight: bold;
    text-transform: uppercase;
}
