 <!-- Product Tabs Family Starts -->
	  <div class="productTabsFamily">
	  <div class="productTabsBackground">
	  
		<div class="container">
			<div class="col-md-3 col-xs-12 ptHolder">
				<div>&#60; Network Storage UPS</div>
				<div class="pxUps">9PX UPS</div>
			</div>
			<ul class="col-md-6 col-xs-12 np tabHolder nav navpills">
				<li class="col-md-3 col-xs-4 np tab active">
					<a href="#overview" data-toggle="tab">
						<div class="tabInsideContent">
							<div class="tabIconHolder">
								<img src="../../../../../../../content/dam/eaton/images/overview.png" class="tabIcon">
							</div>
							<div class="overview">Overview</div>
						</div>
					</a>
					
				</li>
				<li class="col-md-3 col-xs-4 np tab">
					<a href="#model" data-toggle="tab">
						<div class="tabInsideContent">
							<div class="tabIconHolder">
								<img src="../../../../../../../content/dam/eaton/images/model.png" class="tabIcon">
							</div>
							<div class="overview">Model</div>
						</div>
					</a>
				</li>
				<li class="col-md-3 col-xs-4 np tab">
					<a href="#resources" data-toggle="tab">
						<div class="tabInsideContent">
							<div class="tabIconHolder">
								<img src="../../../../../../../content/dam/eaton/images/resource.png" class="tabIcon">
							</div>
							<div class="overview">Resources</div>
						</div>
					</a>
				</li>
		
			</ul>
			<div class="col-md-2 btnHolder hidden-xs hidden-sm">
				<button type="button" class="btn btn-success howToBuy">How to buy 
					<span class="glyphicon glyphicon-menu-down"></span>
				</button>
			
			</div>
			<div class="clear"></div>
		</div>
	  </div>
	  <div class="hidden-md hidden-lg col-xs-12 np">
		  <div class="col-xs-10 btnHolder">
					<button type="button" class="btn btn-success howToBuy">How to buy 
						<span class="glyphicon glyphicon-menu-down"></span>
					</button>
				
			</div>
	  </div>
	  </div>
	  <!-- Product Tabs Family Ends -->