// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import 'global/css/_config/config';

//-----------------------------------
// Component M-25: Media Gallery
//-----------------------------------
.c-media-gallery {

  text-align: left;

  &__item {
    background: $color__primary-blue;
  }

  &__caption {
    font-family: $font-family__primary;
  }

}
