<sly data-sly-use.searchObj="com.eaton.platform.core.helpers.SearchHelper">
  <div class="eaton-search-inline">
    <!--/* If Headline */-->
    <p class="eaton-search-inline__headline b-eyebrow-small">${searchObj.searchModel.transSearchHeader}</p>

    <!--/* Search Box */-->
    <form class="eaton-search-inline__form">
      <div class="form-group">
        <label for="mega-menu-search" class="sr-only">${searchObj.searchModel.transSearchHeader}</label>
          <input type="email" class="form-control eaton-search-inline__form-input" id="mega-menu-search" placeholder="${searchObj.searchModel.transFieldAid}">
          <button type="submit" class="eaton-search-inline__form-submit">
            <span class="sr-only">Search</span>
            <i class="icon icon-search" aria-hidden="true"></i>
          </button>
      </div>
    </form>
  </div>
</sly>
