<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
    <div>Search Component</div>
</sly>
<sly data-sly-use.searchModel="com.eaton.platform.core.models.SearchBean">
	<sly data-sly-test="${properties.view == 'site-search'}">
		<div class="container-full hide-mob">
			<div class="aem-Grid aem-Grid--12">
				<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
					<div class="search-main pull-right" role="search">
						<button class="search-btn" id="search-btn"><span class="search-btn-icon"></span></button>
						<button class="close-search-btn" id="close-search-btn"><span class="close-search-btn-icon"></span></button>
					</div>
				</div>
			</div>
		</div>
	</sly>
	<sly data-sly-test="${properties.view == 'product-search'}">
		<div class="container-full container-padding">
			<div class="aem-Grid aem-Grid--12">
				<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 search ">
					 <div class="eyeBrowSmall smallPaddingBottom uppercase light"> ${searchModel.transSearchHeader} </div>
					<div class='searchContainer'>
						<div class='form-group'>
							<input type='text'  placeholder='${searchModel.transFieldAid}' class='form-control'>
							<div class="eyeBrowSmall smallPaddingBottom uppercase light smallPaddingTop">  ${searchModel.transSubhead}</div>
							<ul class="list-group small-body-copy-link-on-dark" data-sly-list=${searchModel.relevantLinks.listChildren}>
								<li class="list-group-item smallPaddingBottom"> 
									<a href="${item.link}.html" target="${item.newWindow ? '_blank' : ''}">${item.transLinkText}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</sly>
	<sly data-sly-test="${properties.view == 'career-search'}">
		<div class="container-full container-padding">
			<div class="aem-Grid aem-Grid--12">
				<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 search ">
					<div class="eyeBrowSmall smallPaddingBottom uppercase light">  ${searchModel.transSearchHeader} </div>
					<div class='searchContainer'>
						<div class='form-group'>
							<input type='text'  placeholder='${searchModel.transFieldAid}' class='form-control'>
							<div class="eyeBrowSmall smallPaddingBottom uppercase light smallPaddingTop">  ${searchModel.transSubhead} </div>
							<ul class="list-group small-body-copy-link-on-dark" data-sly-list=${searchModel.relevantLinks.listChildren}>
								<li class="list-group-item smallPaddingBottom"> 
									 <a href="${item.link}.html" target="${item.newWindow ? '_blank' : ''}">${item.transLinkText}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</sly>
</sly>