//-----------------------------------
// @font-face Definitions
//-----------------------------------

@font-face {
  font-family: 'Eaton';
  src: url('fonts/EatonRegular.woff') format('woff');
}

@font-face {
  font-family: 'EatonMedium';
  src: url('fonts/EatonMedium.woff') format('woff');
}

@font-face {
  font-family: 'EatonBold';
  src: url('fonts/EatonBold.woff') format('woff');
}

@font-face {
  font-family: 'Arial';
  src: url('fonts/Arial.woff');
}
