//-----------------------------------
// @font-face Definitions
//-----------------------------------

@font-face {
  font-family: 'Eaton';
  src: url('fonts/EatonRegular.woff') format('woff');
}

@font-face {
  font-family: 'EatonMedium';
  src: url('fonts/EatonMedium.woff') format('woff');
}

@font-face {
  font-family: 'EatonBold';
  src: url('fonts/EatonBold.woff') format('woff');
}

// NOTE: This Custom version of 'Arial' font was disabled
// due to issues in Google Chrome not rendering "Bold" fonts.
//--------------
// @font-face {
//   font-family: 'Arial';
//   src: local('Arial'), url('fonts/Arial.woff') format('woff');
// }
