@font-face {
    font-family: 'Eaton';
    src: url('/etc/designs/eaton/clientlib-site/css/fonts/EatonReg.woff') format('woff');
}
@font-face {
    font-family: 'EatonMedium';
    src: url('/etc/designs/eaton/clientlib-site/css/fonts/EatonMed.woff') format('woff');
}
@font-face {
    font-family: 'EatonBold';
    src: url('/etc/designs/eaton/clientlib-site/css/fonts/EatonBol.woff') format('woff');
}
/**  All browsers compatible Arial fonts***/

@font-face {
    font-family: 'Arial';
    src: url('/etc/designs/eaton/clientlib-site/css/fonts/Arial.woff');
}
/**  All browsers compatible Arial  fonts***/