
// Colors
// Some color names are simplified to match the Toolkit
//--------------

$color__primary-blue:      #005EB8;

// Primary Grays
$color__primary-gray1:     #333F48;  //Gray1
$color__primary-gray2:     #5B6770;  //Gray2
$color__primary-gray3:     #98A4AE;  //Gray3

// Secondary Grays
$color__secondary-gray1:    #CCD2D7;  //Gray5
$color__secondary-gray2:    #EEF0F2;  //Gray6
$color__secondary-gray3:    #F8F8F8;  //Gray7

// Accent Colors
$color__accent-darkblue:    #003865;  //Dark Blue
$color__accent-aqua:        #00B2A9;  //Aqua
$color__accent-orange:      #ED8B00;  //Orange

// System colors
$color__black:              #000000;
$color__white:              #FFFFFF;
$color__green:              #4C8C2B;
$color__red:                #9D2235;

