// Locale / Languages
//--------------
$font-en: (
  font__primary: Arial,
  font__secondary: Eaton,
  h1: (
    font: '',
    desktop: 'xx',
    tablet: 'xx',
    mobile: 'xx'
  )
);

$font-jp: (
  font__primary: 'Kozuka Pro',
  font__secondary: Eaton
);

$font-marathi: (
  font__primary: 'Kruti Dev',
  font__secondary: Eaton
);
