.full-page-drawer { background: #5B6770; color: #FFF; display: none; }

.full-page-drawer__headline { background: #333F48; padding: 30px 0; }

@media screen and (max-width: 991px) { .full-page-drawer { position: fixed; top: 100%; width: 100%; } }
