.moreInfo{
	border-top:8px solid #EEF0F2;*/
	 margin-right: 20px;
    padding-right: 0px;
}
.moreInfo  p{
	margin: 0px 0px;
}
.moreInfo >div
{
	margin-bottom:30px;
}

/* More Info card  ends here*/
@media only screen and (max-width:768px){

.moreInfo {
    font-family: Arial;
    margin-right: 20px;
    padding-right: 112px !important;
}

    }
