#primary-content {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 15px;
}

.primaryContentText {
    font-family: EatonBold;
    color: #333f48;
    font-size: 50px;
    /* Approximation due to font substitution */
    //line-height: 4em;/* Approximation due to font substitution */
    text-align: center;
}

.primaryContentText ~ .blueLine > span {
    width: 60px;
    margin: 0 auto;
    border-bottom: 3px solid #005eb8;
    display: block;
    padding-top: 30px;
}

.primaryContentDesc {
    font-family: Arial;
    color: #333f48;
    font-size: 26px;
    /* Approximation due to font substitution */
    //font-weight: 500;
    //line-height: 4em;/* Approximation due to font substitution */
    text-align: center;
    margin-top: 30px;
}