.eaton-footer-top { background: #5B6770; padding: 60px 0; }

.eaton-footer-top .eaton-text-default__content { font-family: Arial, sans-serif; font-size: 1.3rem; font-weight: normal; line-height: 1.7rem; }

.eaton-footer-top .eaton-text-default__content a { color: #005EB8; }

@media screen and (min-width: 992px) { .eaton-footer-top .eaton-text-default__content { font-family: Arial, sans-serif; font-size: 1.8rem; font-weight: normal; line-height: 2.4rem; } }

.eaton-footer-top .eaton-text-default__content p { font-size: 1.7rem; line-height: 2.8rem; }

.eaton-footer-top .eaton-footer-top__link-list { margin-bottom: 40px; }

.eaton-footer-top .eaton-footer-top__link-list a { font-size: 13px; line-height: 17px; }

.eaton-footer-bottom { background: #333F48; }

.dark-theme .eaton-footer-bottom { color: #FFF; }

.dark-theme .eaton-footer-bottom a, .dark-theme .eaton-footer-bottom a:hover, .dark-theme .eaton-footer-bottom a:focus { color: #FFF; }

.eaton-footer-back-to-top { position: fixed; bottom: 6rem; height: 5.8rem; width: 5.8rem; background-color: #FFF; right: 3rem; -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.15); cursor: pointer; display: none; }

.eaton-footer-back-to-top.visible { display: block; }

.eaton-footer-back-to-top .icon { font-size: 3rem; display: block; width: 100%; height: 100%; text-align: center; color: #005EB8; line-height: 6.5rem; }

.eaton-footer-back-to-top .icon::before { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }

@media screen and (max-width: 991px) { .eaton-footer-top__logo { margin-bottom: 60px; }
  .eaton-footer-top__content { margin-bottom: 120px; }
  .eaton-footer-top__link-list { margin-bottom: 60px; }
  .eaton-footer-bottom { padding: 120px 0; }
  .eaton-footer-bottom__link-list .eaton-link-list-horizontal__list-item { margin-bottom: 32px; } }

@media screen and (min-width: 992px) { .eaton-footer-top__logo { margin-bottom: 30px; }
  .eaton-footer-bottom { padding: 40px 0; }
  .eaton-footer-bottom__link-list { float: left; }
  .eaton-footer-bottom__copyright { float: right; }
  .eaton-footer-top .eaton-footer-top__link-list a { font-size: 18px; line-height: 26px; } }
