.eaton-footer-top { background: #5B6770; padding: 60px 0; }

.eaton-footer-top .eaton-footer-top__link-list { margin-bottom: 40px; }

.eaton-footer-bottom { background: #333F48; }

.dark-theme .eaton-footer-bottom { color: #FFF; }

.dark-theme .eaton-footer-bottom a, .dark-theme .eaton-footer-bottom a:hover, .dark-theme .eaton-footer-bottom a:focus { color: #FFF; }

@media screen and (max-width: 991px) { .eaton-footer-top__logo { margin-bottom: 60px; }
  .eaton-footer-top__content { margin-bottom: 120px; }
  .eaton-footer-top__link-list { margin-bottom: 60px; }
  .eaton-footer-bottom { padding: 120px 0; }
  .eaton-footer-bottom__link-list .eaton-link-list-horizontal__list-item { margin-bottom: 32px; } }

@media screen and (min-width: 992px) { .eaton-footer-top__logo { margin-bottom: 30px; }
  .eaton-footer-bottom { padding: 40px 0; }
  .eaton-footer-bottom__link-list { float: left; }
  .eaton-footer-bottom__copyright { float: right; } }
