<sly data-sly-use.data="../data/view-proof-points-data.js">

  <div class="icon-list-proof-points">
    <div class="container">
      <div class="row">
          <!--/* Icon List */-->
          <div data-sly-list="${ data.items }">
            <div class="col-xs-12 col-md-4 icon-list-proof-points__item">
              <div class="icon-list-proof-points__image">
                <img src="${item.image}" alt="${item.title}" />
              </div>

              <div class="icon-list-proof-points__content">
                <!--/* Post integration - to be mapped with ${item.text} */-->
                <div class="icon-list-proof-points__text">${item.tcsText @context = 'html'}</div>
                <div class="icon-list-proof-points__title">${item.title}</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</sly>
