<sly data-sly-use.data="${'../data/view-tile-links-data.js' @testdata=properties.testdata}">
    <div class="tile-link-component container">
        <div class="tile-link-component__container">
            <div class="row" data-sly-list.tile="${data.element}">
                <a class="col-xs-12 col-md-3 tile-link-component__element tile-link-component__element--${tileList.index}" data-sly-test="${tile.image}" href="${tile.link}" target="${tile.openNewWindow ? '_blank' : '_self'}">
                    <img class="tile-link-component__icon" src="${tile.image}" alt="${tile.imageAlt}">
                    <h2 class="tile-link-component__title">${tile.title} <i aria-hidden="true" class="tile-link-component__arrow glyphicon glyphicon-menu-right arrow"></i></h2>
                </a>
            </div>
        </div>
    </div>
</sly>
