.rte-strikethrough {
    text-decoration: line-through;
}

.rte-warning {
    color: #cc0505;
    background-color: #FEEFB3;
}

.rte-note
{
     color: #616E14;
     border: solid 1px #BFD62F;
     background-color: #DAE691;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     padding: 14px 20px;
     mc-auto-number-format: '{b}Note: {/b}';
}

.rte-header{
	font-size: 3em;
}

.rte-dark-headline {
    text-decoration: none;
    border-bottom: 10px solid black;
}

.rte-quote:before, .rte-quote:after {
    content: '"';
}

.rte-small-text{
	font-size: .5em;
}