.carousel-component-slide:hover > .carousel-component__arrow { display: block; border: 0; background-image: none; }

.carousel-component-slide__caption { top: 10%; }

.carousel-component-slide__cta { margin-top: 60px; }

.carousel-component-slide__image { width: 100%; }

.carousel-component-slide__text { margin-top: 20px; }

.carousel-component-slide__title { font-size: 3.25em; line-height: 1.192em; margin: 0; }

.carousel-component__dots:only-child { display: none; }

.carousel-component__down-arrow { position: absolute; bottom: 25px; color: #FFF; width: 10%; font-size: 1.5em; z-index: 10; left: 47%; }

.carousel-component__arrow { display: none; }

@media screen and (max-width: 991px) { .carousel-component-slide__caption { top: 0; }
  .carousel-indicators { bottom: 56px; } }

.featured-story-component__content { padding: 60px 50px; }

.featured-story-component__text { color: #FFF; font-size: 2.45em; font-family: "Eaton", Arial, sans-serif; line-height: 1.25em; padding-top: 30px; }

.featured-story-component__title { font-size: 2.55em; }

.featured-story-component__blue { position: absolute; top: 0; height: 100%; background-color: #005EB8; color: #FFF; opacity: 0.8; padding: 0; }

.featured-story-component__blue--right { right: 0; }

.featured-story-component__blue--left { left: 0; }

@media screen and (max-width: 991px) { .featured-story-component__blue { position: relative; }
  .featured-story-component__row { padding-bottom: 20px; } }

.eaton-page-overview { padding: 120px 0; }

.eaton-page-overview__cta { text-align: center; }

.eaton-cta-button { background-color: #FFF; color: #005EB8; border: 2px solid #005EB8; padding: 20px 40px; display: inline-block; max-width: 600px; text-align: center; margin: 60px 0 0; text-decoration: none; }

.eaton-cta-button:hover { background-color: #005EB8; color: #FFF; text-decoration: none; }

.eaton-title__eyebrow { color: #005EB8; font-size: 52px; margin: 0; }

.eaton-title__dash { display: block; width: 68px; height: 4px; margin: 60px 0; background-color: #005EB8; }

.eaton-title__byline { font-size: 12px; margin-top: 15px; }

.tile-link-component__copy { padding: 60px 0; }

.tile-link-component__element { color: #FFF; margin-left: 30px; margin-bottom: 60px; height: 240px; position: relative; padding: 0; }

.tile-link-component__element:hover { color: #FFF; text-decoration: none; }

.tile-link-component__element--0 { background-color: #005EB8; margin-left: 0; }

.tile-link-component__element--1 { background-color: #5B6770; }

.tile-link-component__element--2 { background-color: #00B2A9; }

.tile-link-component__element--3 { background-color: #ED8B00; margin-left: 0; }

.tile-link-component__element--4 { background-color: #005EB8; }

.tile-link-component__element--5 { background-color: #333F48; }

.tile-link-component__icon { position: absolute; bottom: 70px; color: #FFF; width: 20%; left: 15px; }

.tile-link-component__image { width: 100%; }

.tile-link-component__title { position: absolute; bottom: 0; width: 100%; margin: 0; padding: 10px 15px; }

.tile-link-component__title--background { background-color: #333F48; opacity: 0.7; }

.tile-link-component__arrow { font-size: .75em; }

@media screen and (max-width: 991px) { .tile-link-component__element { margin-left: 0; } }

@media screen and (max-width: 767px) { .tile-link-component { margin: 0 15px; } }

@media screen and (min-width: 992px) { .tile-link-component__element { width: 31%; } }

.eaton-ttil-list-category-hero { font-family: "Eaton", Arial, sans-serif; }

.category-hero__header-image { width: 100%; height: auto; }

.category-hero__header-content { position: absolute; top: 0; left: 0; }
