.filter-labels label{
font-family:Arial;
font-size:0.813em;
    font-weight:Bold;
	color:#333F48;
    margin:0px 10px;
    }

.downArrowIcon {  
display:inline;
margin-left: 10px;
}

.TBDmargin
{
margin-top:-30px;
}