<template data-sly-template.primaryNavigation="${ @ data }">
    <div class="eaton-link-list-primary-nav ${data.backgroundImage ? 'eaton-link-list-primary-nav--has-background' : ''} ">
      <!--/* Headline: Visible only for Mobile Breakpoints */-->
      <div data-sly-test="${data.headline}" class="eaton-link-list-primary-nav__headline">
        <div class="eaton-link-list-primary-nav__container container">
          ${data.headline}
        </div>
      </div>

      <!--/* List Links */-->
      <div class="eaton-link-list-primary-nav__container container">
        <nav data-sly-list.level1="${data.links}" class="eaton-link-list-primary-nav__items" style="background-image: url('${data.backgroundImage @ context = 'uri'}')">
            <a href="#" data-menu-category="${level1.menuCategory}" aria-expanded="false">${ level1.title }</a>
        </nav>
      </div>
    </div>
</template>
