<sly data-sly-use.data="../data/view-vertical-data.js">

  <div class="eaton-link-list-vertical">

    <!--/* If Eyebrow */-->
    <sly data-sly-test="${ data.view.eyebrow }">
      <h4 class="eaton-link-list__eyebrow">${ data.view.eyebrow }</h4>
    </sly>

    <!--/* List Links */-->
    <ul
      data-sly-list="${ data.view.links }"
      class="eaton-link-list__list"
    >
      <li class="eaton-link-list__list-item">
        <a href="${ item.url }"
          class="eaton-link-list__list-link"
          target="${ item.target }"
        >${ item.title }</a>
      </li>
    </ul>
  </div>

</sly>
