.carousel-component {

  &-slide {

    &__caption {
      top: 0;
    }

    &__cta {
      margin-top: 30px;
    }

    &__image {
      width: 100%;
    }

    &__text {
      margin-top: 20px;
    }

    &__title {
      font-size: 3.25em;
      line-height: 1.192em;
      margin: 0;
    }
  }

  &__arrow {
    display: none;
  }

  &__dots {

    &:only-child {
      display: none;
    }

    &--gray .inactive-gray {
      background-color: $color__secondary-gray4;
      border: 1px solid $color__secondary-gray4;
    }
  }

  &__down-arrow {
    position: absolute;
    bottom: 25px;
    color: $color__white;
    width: 100%;
    font-size: 1.5em;
    z-index: 10;
    text-align: center;
  }

  .carousel-indicators .active {
    background-color: $color__primary-blue;
    border: 1px solid $color__primary-blue;
  }

  //.carousel-indicators .inactive-gray {
  //  background-color: $color__secondary-gray2;
  //  border: 1px solid $color__secondary-gray2;
  //}

}

@include media-mobile-only {
  .carousel-component-slide {
    &__image--mobile {
      min-height: 750px;
    }
  }

  .carousel-indicators {
    bottom: 56px;
  }
}


@include  media-tablet-and-up {
  .carousel-indicators {
    bottom: 20px;
  }
}


@include media-desktop-large {
  .carousel-component {

    &-slide {

      &__caption {
        top: 10%;
      }

      &__cta {
        margin-top: 60px;
      }
    }

    &:hover .carousel-component__arrow {
      display: block;
      background-image: none;
    }
  }
}

//******** landing hero styles **********
.eaton-landing-hero--single {

  .carousel-component-slide {

    &__caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
    }

    &__separator {
      width: 5%;
      height: 2px;
      background: $color__white;
      margin: 20px auto;
    }

    h2 {
      font-size: 53px;
    }

    &__text {
      font-size: 20px;
    }
  }


  //-----------------------------------
  // Desktop & Desktop Large
  //-----------------------------------
  @include media-mobile-and-tablet {

    .carousel-component-slide {

      h2 {
        font-size: 35px;
      }

      &__separator {
        display: none;
      }

      &__text {
        font-size: 14px;
      }
    }

  }
}
