//-----------------------------------
// Component M-11: Page Overview
//-----------------------------------




$size-sm: 30px;
$size-md: 60px;
$size-lg: 90px;
$size-xl: 120px;


.eaton-page-overview {

  padding:  $size-xl 0;




  &__content {

  }



  &__cta {
    text-align: center;
  }

}






.eaton-cta-button {
  background-color: $color__white;
  color: $color__primary-blue;
  border: 2px solid $color__primary-blue;
  padding: 20px 40px;
  display: inline-block;
  max-width: 600px;
  text-align: center;
  margin: $size-md 0 0;
  text-decoration: none;

  &:hover {
    background-color: $color__primary-blue;
    color: $color__white;
    text-decoration: none;
  }
}







  .eaton-title {

    &__eyebrow {
      color: $color__primary-blue;
      font-size: 52px;
      margin:  0;
    }

    &__dash {
      display: block;
      width: 68px;
      height: 4px;
      margin:  $size-md 0;
      background-color: $color__primary-blue;
    }

    &__byline {
      font-size: 12px;
      margin-top:  15px;
    }

  }
