.tile-link-component {

  &__element {

    color: $color__white;

    &--0 {
      background-color: $color__primary-blue;
    }

    &--1 {
      background-color: $color__primary-gray2;
    }

    &--2 {
      background-color: $color__accent-aqua;
    }

    &--3 {
      background-color: $color__accent-orange;
    }

    &--4 {
      background-color: $color__primary-blue;
    }

    &--5 {
      background-color: $color__primary-gray1;
    }

  }

}

