.featured-story-component {

  &__content {
    padding: 60px 50px;
  }

  &__text {
    color: $color__white;
    font-size: 2.45em;
    font-family: $font-family__primary;
    line-height: 1.25em;
    padding-top: 30px;
  }

  &__title {
    font-size: 2.55em;
  }

  &__blue {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $color__primary-blue;
    color: $color__white;
    opacity: 0.8;
    padding: 0;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }
}

// @media only screen and (max-width: 769px)
@include media-mobile-and-tablet {

  .featured-story-component {

    &__blue {
      position: relative;
    }

    &__row {
      padding-bottom: 20px;
    }
  }

}

