.tile-link-component {

  &__container {

    @include media-tablet-and-up {
      padding: 0 15px;
    }
  }

  &__copy {
    padding: 60px 0;
  }

  &__element {

    color: $color__white;
    margin-left: 30px;
    margin-bottom: 60px;
    height: 240px;
    position: relative;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      color: $color__white;
      text-decoration: none;
    }

    &--0 {
      background-color: $color__primary-blue;
      margin-left: 0;
    }

    &--1 {
      background-color: $color__primary-gray2;
    }

    &--2 {
      background-color: $color__accent-aqua;
    }

    &--3 {
      background-color: $color__accent-orange;
      margin-left: 0;
    }

    &--4 {
      background-color: $color__primary-blue;
    }

    &--5 {
      background-color: $color__primary-gray1;
    }

  }

  &__icon {
    position: absolute;
    width: 72px;
    bottom: 80px;
    color: $color__white;
    left: 15px;

    @include media-desktop-and-up {
      left: 30px;
    }
  }

  &__image {
    width: 100%;
  }

  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px 15px 30px;
    font-size: 1.875em;


    @include media-desktop-and-up {
      font-size: 2em;
      padding: 20px 30px;
    }

    &--background {
      background-color: $color__primary-gray1;
      opacity: 0.7;
    }
  }

  &__arrow {
    font-size: .75em;
  }
}

@include media-mobile-and-tablet {
  .tile-link-component {

    &__element {
      margin-left: 0;
    }
  }
}

@include media-mobile-only {
  .tile-link-component {
    margin: 0 15px;
  }
}

@include media-desktop-and-up {
  .tile-link-component {

    &__element {
      width: 31%;
    }
  }
}

//override column width
.eaton-grid-control {
  .tile-link-component {
    margin: 0;

    &.container {
      width: 100%;

      @include media-mobile-and-tablet {
        padding: 0 15px;
      }
    }

    &__container {
      padding: 0;
    }

    &__element {
      margin-left: 0;
    }

    .col-md-3 {
      width: 100%;
    }
  }
}

