.eaton-category-hero {
  position: relative;
  display: flex;
  align-items: center;

  &__image {
    z-index: 1;
    @include absolute-fill();
  }

  &__content {
    position: relative;
    padding: 15px 0;
    width: 100%;
    z-index: 5;
  }

  &__cta {
    &:hover,
    &:visited {
      text-decoration: underline;
    }

    .icon {
      font-size: 1.4rem;
      position: relative;
      top: 1px;
    }
  }

  &__title {
    margin: 0;
    position: relative;

    &::after {
      background: $color__white;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: .5rem;
      width: 6rem;
    }
  }

  // EATON-474: Category Hero, Landing Hero - Semi-Transparent gradient should be applied on the whole image
  //--------------
  .image-mask & {
    &__image::before {
      @include image-mask-gradient();
    }
  }


  //-----------------------------------
  // Add Support For DarkTheme (White Text Over Dark Background)
  //-----------------------------------
  .dark-theme & {
    &__title,
    &__text {
      color: $color__white;
    }

    &__cta {
      &,
      &:hover,
      &:visited {
        color: $color__white;
      }
    }
  }


  //-----------------------------------
  // MediaQuery: >0 to 991px
  //-----------------------------------
  @include media-mobile-and-tablet {
    min-height: 92.6666vw; // Mobile and Tablet Aspect Ratio

    &__eyebrow {
      margin-bottom: 1.2rem;
    }

    &__title {
      padding-bottom: 2.4rem;
    }

    &__text {
      margin-top: 1.5rem;
    }

  }


  //-----------------------------------
  // MediaQuery: >992px and up
  //-----------------------------------
  @include media-desktop-and-up {
    min-height: 25vw; // Desktop Aspect Ratio

    &__content {
      padding: 30px 0;
    }

    &__eyebrow {
      margin-bottom: 1.2rem;
    }

    &__title {
      padding-bottom: 3.2rem;
    }
  }


  //-----------------------------------
  // IE11 Styles - http://browserhacks.com/
  //-----------------------------------
  // It fixes vertical alignment issues in IE11 due to flexbox elements inside a container with "min-height"
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE11 and Up */
    height: 92.6666vw;
  }

  @media all and (-ms-high-contrast: none) and (min-width: $grid__md), (-ms-high-contrast: active) {
    /* IE11 and Up */
    height: 25vw;
  }


}
