.featured-story-component {

  // Override Component - Rendition Images
  //--------------
  .rendition__image {
    width: 100%;
  }

  &__content {
    padding: 60px 50px;
  }

  &__text {
    color: $color__white;
    padding-top: 30px;
  }

  &__row {

    &--nopadding {
      padding: 0;
    }
  }

  &__arrow::before {
    font-size: 0.7em;
    left: 10px;
  }

  &__title {
    color: $color__white;
  }

  &__link {

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $color__white;
    }
  }

  &__link h2.featured-story-component__text::after{
    color: $color__white;
    margin-left: 20px;
    content: "\e258";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
  }

  &__blue {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: transparentize($color__primary-blue, 0.2);
    color: $color__white;
    padding: 0;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }


  // @media only screen and (max-width: 769px)
  @include media-mobile-only {

    &__blue {
      position: relative;
    }

    &__content {
      padding: 30px 40px;
    }

    &__row {
      padding-bottom: 20px;
    }

  }

  @include media-tablet-only {

    &__text {
      padding-top: 15px;
      width: 250px;
    }

    &__content {
      padding: 60px 30px 60px 50px;
    }

  }

}
