.container-full {
  overflow-x: hidden;
}

.carousel-component {

  position: relative;

  &-slide {

    padding: 0;

    &__caption {
      position: absolute;
      right: 20%;
      left: 20%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      color: $color__white;
    }

    &__cta {
      margin-top: 30px;
    }

    &__image {
      position: relative;

      img {
        width: 100%;
        min-height: 1285px;

        @include media-tablet-and-up {
          min-height: 668px;
        }
      }
    }

    &__text {
      margin-top: 20px;
    }

    &__title {
      font-size: 3.25em;
      line-height: 1.192em;
      margin: 0;
    }
  }

  &__arrow {
    display: none !important; // stylelint-disable-line declaration-no-important
    position: absolute;
    top: 45%;

    .icon {
      font-size: 6.0rem;
      color: $color__secondary-gray4;
    }

    &--next {
      right: 130px;
    }

    &--prev {
      left: 130px;
    }
  }

  &__dots {

    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;

    @include media-tablet-and-up {
      bottom: 20px;
    }

    &:only-child {
      display: none;
    }

    button {
      background-color: $color__secondary-gray5;
      height: 10px;
      width: 10px;
      border: 10px;
      line-height: 0;
      display: inline;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border-radius: 10px;
    }
  }

  &__down-arrow {
    position: absolute;
    bottom: 25px;
    color: $color__white;
    width: 100%;
    font-size: 1.5em;
    z-index: 10;
    text-align: center;
  }

  @include media-desktop-large {
    &:hover .carousel-component__arrow {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }

  .slick-active button {
    background-color: $color__primary-blue;
    border: 1px solid $color__primary-blue;
  }
}

@include media-desktop-large {
  .carousel-component {

    &-slide {
      &__cta {
        margin-top: 60px;
      }
    }
  }
}

//******** landing hero styles **********
.eaton-landing-hero--single {

  .carousel-component-slide {

    &__caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
    }

    &__separator {
      width: 5%;
      height: 2px;
      background: $color__white;
      margin: 20px auto;
    }
  }


  //-----------------------------------
  // Desktop & Desktop Large
  //-----------------------------------
  @include media-mobile-and-tablet {

    .carousel-component-slide {
      &__separator {
        display: none;
      }
    }
  }
}
