.eaton-category-hero {
  position: relative;
  display: flex;
  align-items: center;

  &__image {
    z-index: 1;
    @include absolute-fill();
  }

  &__content {
    position: relative;
    padding: 15px 0;
    width: 100%;
    z-index: 5;
  }

  &__cta {
    &:hover,
    &:visited {
      text-decoration: underline;
    }

    .icon {
      font-size: 1.4rem;
      position: relative;
      top: 1px;
    }
  }

  &__title {
    margin: 0;
    position: relative;

    &::after {
      background: $color__white;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: .5rem;
      width: 6rem;
    }
  }

  .image-mask & {
    &__image::before {
      @include absolute-fill;
      background-image: linear-gradient(0deg, rgba(0,0,0,0.75) 15%,rgba(0,0,0,0) 100%);

      content: '';
      z-index: 2;
    }
  }


  //-----------------------------------
  // Add Support For DarkTheme (White Text Over Dark Background)
  //-----------------------------------
  .dark-theme & {
    &__title,
    &__text {
      color: $color__white;
    }

    &__cta {
      &,
      &:hover,
      &:visited {
        color: $color__white;
      }
    }
  }


  //-----------------------------------
  // MediaQuery: >0 to 991px
  //-----------------------------------
  @include media-mobile-and-tablet {
    min-height: 92.6666vw; // Mobile and Tablet Aspect Ratio

    &__eyebrow {
      margin-bottom: 1.2rem;
    }

    &__title {
      padding-bottom: 2.4rem;
    }

    &__text {
      margin-top: 1.5rem;
    }

  }


  //-----------------------------------
  // MediaQuery: >992px and up
  //-----------------------------------
  @include media-desktop-and-up {
    min-height: 25vw; // Desktop Aspect Ratio

    &__content {
      padding: 30px 0;
    }

    &__eyebrow {
      margin-bottom: 1.2rem;
    }

    &__title {
      padding-bottom: 3.2rem;
    }
  }


}
