.eaton-ttil-list-category-hero {
  overflow: hidden;
}

.category-hero {
  &__header-image {
    img {
      width: 100%;
      height: auto;
    }

  }

  &__header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color__white;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__header-cta {
    border: 0;
    color: $color__white;
  }

  &-eye-brown {
    color: $color__white;

    a:hover,
    a:active,
    a:visited,
    a:focus {
      color: $color__white;
      text-decoration: underline;
    }
  }

  &-body-copy {
    color: $color__white;
    margin-top: 20px;
  }

  &__header-title {
    margin: 20px 0;
  }

  &-bottomline {
    background-color: $color__white;
    height: 0.3em;
    width: 4em;
  }
}

@media only screen and (min-width: 991px) {
  .category-hero {

    &__header-title {
      margin: 30px 0;
    }
  }
}
