//-----------------------------------
// Module M-8: Landing Hero
//-----------------------------------
.eaton-landing-hero {
  position: relative;

  &__slide-list {
    padding: 0;
  }

  &__slide-item,
  &__content .container {
    position: relative;
  }

  &__content {
    color: $color__white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  &__cta {
    margin-top: 30px;
  }

  &__image {
    @include absolute-fill();
  }

  /*
  &__image {
    position: relative;

    img {
      width: 100%;
      min-height: 1285px;

      @include media-tablet-and-up {
        min-height: 668px;
      }
    }
  }
  */

  // EATON-474: Category Hero, Landing Hero - Semi-Transparent gradient should be applied on the whole image
  //--------------
  .image-mask & {
    &__image::before {
      @include image-mask-gradient();
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__title {
    margin: 0;
  }

  &__separator {
    width: 5%;
    height: 2px;
    background: $color__white;

    // EATON-516 Landing Hero - Article Page - Incorrect spacing between Headline, Horizontal Rule, and Description.
    margin: 48px auto 52px; // Visually, 60px Spacing above and below - extracted from PSD File
  }

  &__arrow {
    display: none !important; // stylelint-disable-line declaration-no-important
    position: absolute;
    top: 45%;

    .icon {
      font-size: 6rem;
      color: $color__secondary-gray4;
    }

    &--next {
      right: 80px;
    }

    &--prev {
      left: 80px;
    }
  }

  &__dots {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;

    @include media-tablet-and-up {
      bottom: 20px;
    }

    &:only-child {
      display: none;
    }

    button {
      background-color: $color__secondary-gray5;
      height: 10px;
      width: 10px;
      border: 10px;
      line-height: 0;
      display: inline;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border-radius: 10px;
    }
  }

  &__down-arrow {
    position: absolute;
    bottom: 25px;
    color: $color__white;
    width: 100%;
    font-size: 1.5em;
    z-index: 10;
    text-align: center;
  }

  .slick-active button {
    background-color: $color__primary-blue;
    border: 1px solid $color__primary-blue;
  }


  //-----------------------------------
  // MediaQuery: 0-991px
  //-----------------------------------
  @include media-mobile-and-tablet {

    // Aspect Ratio Mobile Breakpoint
    $aspect-ratio--mobile: #{(1268 / 750) * 100 }vw;
    // $aspect-ratio--max-height: 600px;

    height: $aspect-ratio--mobile;
    // max-height: $aspect-ratio--max-height;

    &__slide-item {
      height: $aspect-ratio--mobile;
      // max-height: $aspect-ratio--max-height;
    }

    &__caption {
      padding: 0;
    }

    &__separator {
      display: none;
    }
  }


  //-----------------------------------
  // MediaQuery: > 992px and up
  //-----------------------------------
  @include media-desktop-and-up {

    // Aspect Ratio Desktop Breakpoint
    $aspect-ratio--desktop: #{(9 / 16) * 100 }vw;

    height: $aspect-ratio--desktop;

    &__slide-item {
      height: $aspect-ratio--desktop;
    }

    &__caption {
      padding: 0 100px;
    }
  }


  //-----------------------------------
  // MediaQuery: > 1200px and up
  //-----------------------------------
  @include media-desktop-large {
    &:hover &__arrow {
      display: block !important; // stylelint-disable-line declaration-no-important
    }

    &__slide-list {
      &__cta {
        margin-top: 60px;
      }
    }
  }

}


// landing hero styles
/*
.eaton-landing-hero--single {

  .eaton-landing-hero__slide {

    &__caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
    }

    &__separator {
      width: 5%;
      height: 2px;
      background: $color__white;
      margin: 20px auto;
    }
  }



}
*/
