.header-utility-nav { background: #005EB8; padding: 10px 0; }

.header-utility-nav__country { text-transform: uppercase; font-weight: bold; margin-right: 5px; font-family: Arial, sans-serif; }

.header-utility-nav__sign-in { text-align: right; }

.header-utility-nav .open-country-selector, .header-utility-nav .open-sign-in { color: #FFF; text-decoration: none; }

@media screen and (max-width: 991px) { .header-utility-nav { position: fixed; bottom: 0; z-index: 1; width: 100%; right: 0; opacity: 0; visibility: hidden; transition: opacity 0.5s ease-in-out; }
  .nav-open .header-utility-nav { opacity: 1; visibility: visible; } }

.header-primary-nav { background: #FFF; padding: 20px 0 16px; border-bottom: 4px solid #eef0f2; transition: height 0.3s ease-in-out; }

@media screen and (min-width: 992px) { .eaton-header--fixed { position: fixed; width: 100%; }
  .eaton-header--fixed .full-page-drawer, .eaton-header--fixed .header-utility-nav { display: none; }
  .eaton-header--fixed .eaton-logo__link { width: 126px; height: 40px; transition: height 0.3s ease-in-out, width 0.3s ease-in-out; } }

@media screen and (max-width: 991px) { .nav-open .eaton-link-list-primary-nav { height: 100%; visibility: visible; overflow: auto; }
  .nav-open.level-2-open .mega-menu { visibility: visible; transform: translate(0); } }
