.product_card_row{
margin:10px 0px;
}
.product-card-tag{
padding:5px 10px;
background:#ee9118;
color:#fff;
margin:10px;
}
.noMobilePadding .product_card{
border:0px solid #000;
        }
.product_card{
position:relative;
margin-top: 0px;
}
.mybadge {
   display: inline-block !important;
    margin: 0px !important;
    background-color: #ED8B00;
    padding: 0px 9px;
    color: #fff;
    font-size:18px;
    font-family:Arial;
}
.product_card img{
height:auto;
width:100%;
margin:10px 0px;
    padding:0px 35px;
}
    .pImgHolder{
background:#f8f8f8;
    padding:0px 0px 25px 0px;
    border:1px solid #e4e4e4;
}
.product_subcat{
font-size:18px;
font-family:Arial;
padding:30px 30px 0px 30px;

}
.product_family{
font-size:28px;
color:#0a70cd;
padding:30px 30px 60px 30px;
font-family:Arial;
}



@media only screen and (max-width: 768px) {
.product-card-tag{
margin:0px;
}
        .noMobilePadding{
padding:0px;
    }
    .product_family{
padding:15px 30px;
        font-size:20px;
}
    .product_subcat{
padding:35px 30px 15px 30px;

}
}