.eaton-list-component { font-family: "Eaton", Arial, sans-serif; margin-bottom: 60px; }

.category__image { width: 100%; }

.category__title--font, .related-category__title--font { font-size: 1em; font-weight: bold; color: #333F48; text-transform: uppercase; }

.category__item--border { border-left: 1px solid #CCD2D7; border-right: 1px solid #CCD2D7; border-bottom: 2px solid #CCD2D7; }

.category__link--font { font-size: 1.3em; font-weight: bold; }

.eaton-list-component a { text-decoration: none; }

.eaton-list-component a:hover, .eaton-list-component a:active, .eaton-list-component a:visited, .eaton-list-component a:focus { color: #005EB8; text-decoration: none; }

.eaton-list-component .carousel-indicators { position: inherit; margin: 40px auto 0; }

.eaton-list-component .carousel-indicators li { width: 15px; height: 15px; cursor: inherit; background-color: #98A4AE; border: 0; border-radius: 50%; margin: 0 4px; }

.eaton-list-component .carousel-indicators .active { background-color: #005EB8; width: 15px; height: 15px; margin: 0 4px; }

.category__item-innerpadding { padding: 30px; }

.category__title--bottompadding { padding-bottom: 15px; }

.header-text__topmargin { margin-top: 5%; }

.category__item { min-height: 231px; }

.category-item-date { padding-top: 15px; color: #333F48; }

@media only screen and (max-width: 767px) { .category__item-innerpadding { padding: 25px; }
  .carousel__item { min-height: 233px; }
  .category__link--font { font-size: 1.1em; line-height: 1.2em; }
  .category__title--bottompadding { padding-bottom: 10px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) { .related-category--tablet-left { float: left; }
  .related-category--tablet-right { float: right; }
  .category__item--border { border-top: 1px solid #CCD2D7; background-color: #FFF; }
  .equal-height-row { margin-bottom: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .equal-height-row > div { width: 50%; display: inline-block; }
  .category__item, .category__image { min-height: 263px; }
  .category__link--font { font-size: 1.3em; } }

.featured-category--topbottompadding { padding: 30px 0; }

.featured-category-container { margin-bottom: 30px; }

.featured-category__cta-container { margin-top: 30px; }

.featured-category__cta-container a:hover, .featured-category__cta-container a:active, .featured-category__cta-container a:focus { color: #FFF; }

@media only screen and (max-width: 767px) { .featured-category-container { padding: 0; margin-bottom: 30px; } }

.article-list-single-feature { padding-bottom: 50px; }

.article-list-single-feature--border { border-top: 4px solid; border-color: #005EB8; width: 60px; display: block; margin-left: 0; }

.article-list-single-feature__link:hover { text-decoration: none; }

.article-list-single-feature__text { margin-left: 15px; }

.article-list-single-feature__article--copy { padding: 50px 0; }

.article-list-single-feature__cta { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 767px) { .article-list-single-feature__article { margin-top: 30px; } }

@media screen and (min-width: 992px) { .article-list-single-feature--border { margin-left: 30px; }
  .article-list-single-feature__article--copy { padding: 50px 30px; } }
