//-----------------------------------
// Component How to Buy
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.eaton-how-to-buy {
  padding-top: $spacing__lg / 2;
  overflow: hidden;
  background: $color__secondary-gray6;

  &__icon {
    color: $color__accent-orange;
    max-width: $spacing__md;
    display: inline-block;

    img {
      width: $spacing__md;
      height: $spacing__md;
    }
  }

  &__text-wrapper {
    width: calc(100% - 90px);
    display: inline-block;
    float: right;
  }

  &__element {
    margin-bottom: $spacing__lg / 2;
  }


  @include media-desktop-and-up {
    padding-top: $spacing__lg;

    &__icon {
      max-width: 70px;

      img {
        width: 70px;
        height: 70px;
      }

    }

    &__text-wrapper {
      width: calc(100% - 100px);
    }

    &__element {
      margin-bottom: $spacing__lg;
    }

    .container {
      margin: 0 auto;

      &.row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .col-md-3 {
          flex: 0 0 24%;
          padding: 0;
        }

        .col-md-9 {
          flex: 0 0 75%;
          padding: 0;

          > .row {

            .col-md-6 {
              flex: 0 0 49%;

              &:nth-child(2n) {
                padding-left: 60px;
                padding-right: 0;
              }

              &:nth-child(2n+1) {
                padding-left: 30px;
              }
            }
          }
        }

        .row {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .eaton-how-to-buy {
    .container {
      &.row {
        .col-md-9 {

          > .row .col-md-6 {
            flex: 0 0 41%;
          }
        }
      }
    }
  }
}
