//-----------------------------------
// M-35: Product Detail Card
//-----------------------------------

// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";

.module-product-detail-card {

  &__title {
    margin: 35px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: $color__primary-blue;
      height: 4px;
      width: 60px;
      bottom: -15px;
    }
  }

  &__price {
    margin: $spacing__sm 0;

    span {
      color: $color__primary-gray2;
      padding-left: 5px;
    }
  }
}
