//-----------------------------------
// Component : Sitemap
//-----------------------------------
// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";


.eaton-sitemap {
  padding: 30px 0;

  &__levelone {
    font-family: $font-family__primary;
    font-size: 5.0rem;
    color: $color__primary-blue;
    margin-bottom: 30px;
  }

  &__leveltow {
    font-family: $font-family__primary;
    font-size: 3.2rem;
    display: block;
    color: $color__primary-blue;
    margin-bottom: 15px;
  }

  .separator {
    width: 100%;
    height: 1px;
    background: #dcdcdc;
    margin-bottom: 25px;
  }

  &__levelthree {
    font-size: 1.9rem;
    display: block;
    margin-bottom: 25px;
  }

  &__levelfour {
    width: 100%;
    font-size: 1.4rem;
    font-family: $font-family__secondary;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }

  &__levelfive,
  &__levelsix {
    font-size: 1.4rem;
    font-family: $font-family__secondary;
    display: block;
    margin-bottom: 15px;
  }

  .last-wrapper {
    padding-left: 20px;
  }

  @include media-desktop-and-up {
    &__levelone {
      font-size: 6.4rem;
      margin-bottom: 50px;
    }

    &__leveltow {
      font-size: 4.0rem;
      margin-bottom: 25px;
    }

    &__levelthree {
      font-size: 2.6rem;
      margin-bottom: 30px;
    }

    &__levelfour {
      font-size: 1.8rem;
    }

    &__levelfive {
      font-size: 1.8rem;
    }
  }
}
