<div class="eaton-topic-link-white ${data.ctaText ? '' : 'no-cta'} eaton-topic-link-white--${data.color}" data-sly-use.data="${'../data/view-topic-link-white-data.js' @testdata=properties.testdata}">

    <div class="container ${data.ctaText ? '' : 'no-cta'}">

    <div class="eaton-topic-link-white__icon" data-sly-test=${data.icon}>
      <img src="${data.icon}" alt="" aria-hidden="true">
    </div>
    <div class="eaton-topic-link-white__text-wrapper ${data.icon ? '' : 'no-icon'}">
      <div class="eaton-topic-link-white__text ${data.ctaText ? '' : 'no-cta'}">
        <h3 class="eaton-topic-link-white__header b-heading-h3">
          ${data.header}
        </h3>
        <p class="eaton-topic-link-white__description b-body-copy">
          ${data.description}
        </p>
      </div>
      <div class="eaton-topic-link-white__cta-wrapper" data-sly-test="${data.ctaText}">
        <a href="${data.ctaLink}" class="b-button b-button__primary ${data.color == 'blue' ? 'b-button__primary--dark' : 'b-button__primary--light'}" target="${ctaTarget}">
          ${data.ctaText}
        </a>
      </div>
    </div>


    </div>

</div>
