<sly data-sly-test="${wcmmode.edit}">Product Detail Card Component</sly>
 <sly data-sly-test="${properties.view == 'product-detail-card-family'}">
	   <article class="container">
			<div class="primaryTextFamilyPage">
				<div class="col-md-6 primaryTextHolder np">
					<h1>Eaton 9PX UPS.</h1>
					<div class="col-md-2 col-sm-4 col-xs-4 np">
						<div class="divider"></div>
					</div>
					<div class="clear"></div>
					<p class="placeLine">Reliable. Versatile. Powerful. Efficient. With double-conversion topology for constant power conditioning and up to 93% efficiency, the Eaton 9PX 700-3000 VA models support your overall goal of business continuity. It's built for scalable deployment, features a graphical LCD for local status updates and integrates with virtualized environments.</p> 
				</div>
				<div class="col-md-3 col-xs-12 primaryImageHolder">
						<img class="img-responsive" src="../../../../../../../content/dam/eaton/images/intro_image.png" alt="No image"/>
				</div> 
				<div class="clear"></div>
				<div class="col-md-6 col-xs-12 np requestQuoteHolder">
					<div class="col-md-4 np">
						<button type="button" class="btn btn-success requestAQuoteBtn">Request A Quote</button>
					</div>
					<div class="col-md-8 col-xs-12">
						<ul class="requestQuoteList">
							<li>Interact with the 9PX1500RTN</li>
							<li><img src="../../../../../../../content/dam/eaton/images/new_win.png" class="newWinIcon">View Spicework Reviews</li>
							<li><img src="../../../../../../../content/dam/eaton/images/new_win.png" class="newWinIcon">View StorageReviews.com reviews</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</article>
</sly>			

<sly data-sly-test="${properties.view == 'feature-block'}">
	 <div class="featureBlock">
	 <div class="featureBlockUpper">
		<!--<div class="container">
			<div class="col-md-6 col-xs-12">
				<div class="featureHighlight">Core features</div>
				<div class="featureDescription">
					<p>Works as a rackmount or tower unit and can be combined to support all types of configurations.</p>
					<p>LCD display provides 13 measurements, 25 settings, 15 control functionalities, 6 points of identification and optional password protection.</p>
					<p>Includes remote power off (RPO) and remote on/off (ROO).</p>
					<p>Online double conversion topology works well in IT, edge networks, industrial automation, healthcare, K-12 and more.</p>					
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<img src="../../../../../../../content/dam/eaton/images/feature_block_image.png" class="img-responsive featureBlockImage">
			</div>			
		</div>
		
		<div class="container-fluid np">
			<div class="col-md-6 col-xs-12 np serverImage">
				<img src="../../../../../../../content/dam/eaton/images/server.png" class="img-responsive">
			</div>
			<div class="col-md-6 col-xs-12 featureBlockBottomRight">
				<div class="col-md-offset-1 col-md-9 featureBlockRightContent">
					<div class="featureBlockHeading">Virtualization-ready for seamless integrations</div>
					<div class="featureBlockBottomDesc">
							<p>Integrates seamlessly with Eaton's Intelligent Power Manager (IPM) software for continuous uptime of servers and virtual machines.</p>
							<p>Works with Eaton's PredictPulse remote monitoring service for a second set of expert eyes to keep tabs on your equipment 24/7 and call you if there's a critical alarm.</p>
							<p>Integrates with Eaton network closet and server room solutions.</p>
							

					</div>
				</div>
			</div>
		
		</div>
	</div>-->
		
		<div class="container">
			<div class="energyStats col-md-5 np">
				<div class="energyStatHead">Energy efficiency</div>
				<div class="energyStatDesc">
					<p>Built in energy metering</p>
					<p>Extends battery service life by 50% with ABM technology</p>
					<p>Maximizes availability with extended battery modules for more runtime and optional maintenance bypass</p>
					<p>Helps save money and protect the environment through energy efficient operation (ENERGY STAR &#174; qualified UPS)</p>
					<p><a href="#">Learn more about Energy Star &#174;</a></p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-2 esImage np">
				<img src="../../../../../../../content/dam/eaton/images/energy.png" class="featureBlockImage">
			</div>
		</div>
	 </div>

</sly>
