<template data-sly-template.module="${ @ data }">
  <div class="autocorrected-search">
    <div class="container b-body-copy">
      <div class="autocorrected-search__results">
        <strong class="autocorrected-search__results-label">${ 'Showing results for' @ i18n }
          <em class="autocorrected-search__results-term">${ data.correctedTerm }</em> </strong>
      </div>
      <div class="autocorrected-search__search-instead">
        <strong class="autocorrected-search__search-instead-label">${ 'Search instead for' @ i18n }</strong>
        <a href="${ data.url }"
        class="autocorrected-search__search-instead-link"
        target="${ data.target }">${ data.searchTerm }</a>
      </div>
    </div>
  </div>
</template>
