<template data-sly-template.module="${ @ data }">
  <div class="module-autocorrected-search">
    <div class="container">
      <strong class="module-autocorrected-search__results-label">${ 'Showing results for' @ i18n } <em class="module-autocorrected-search__results-term">${ data.searchTerm }</em> </strong>
      <strong class="module-autocorrected-search__corrected-label">${ 'Search instead for' @ i18n }</strong>
      <a href="${ data.url }"
        class="module-autocorrected-search__corrected-term"
        target="${ data.target }">${ data.correctedTerm }</a>
    </div>
  </div>
</template>
