.eaton-page-overview .eaton-title__headline { font-family: 'EatonMedium', sans-serif; font-size: 35px; line-height: 40px; }

@media screen and (min-width: 992px) { .eaton-page-overview .eaton-title__headline { font-size: 54px; line-height: 68px; } }

.eaton-title-text-image { font-family: "Eaton", Arial, sans-serif; }

.category-hightlight-header__text { font-size: 1.5em; color: #FFF; }

.category-hightlight-header__title { font-size: 3.5em; line-height: 1.192em; color: #FFF; }

.category-hightlight-header__image { background-size: cover; height: 450px; }

.category-hightlight-header--vertical-align { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media only screen and (max-width: 767px) { .category-hightlight-header__image { height: 400px; }
  .category-hightlight-header__title { font-size: 2.5em; }
  .category-hightlight-header__text { font-size: 1.3em; } }

@media only screen and (min-width: 768px) and (max-width: 991px) { .category-hightlight-header-header__image { height: 300px; }
  .category-hightlight-header__title { font-size: 3em; } }

.eaton-single-feature__headline, .eaton-single-feature__image { margin-bottom: 30px; }

.eaton-single-feature__headline, .eaton-single-feature__eyebrow { text-transform: uppercase; }

.dark-theme .eaton-single-feature__headline, .dark-theme .eaton-single-feature__eyebrow { color: #FFF; }

.eaton-single-feature__image { max-width: 300px; }

.eaton-single-feature__eyebrow { margin-bottom: 15px; }

.eaton-single-feature__links { padding: 0; margin: 0; list-style-type: none; }

.eaton-single-feature__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 0; text-decoration: none; }

.eaton-single-feature__item i { font-size: 0.75em; margin-left: 0.25em; }

.dark-theme .eaton-single-feature__item { color: #FFF; }

.feature-block-component__container { height: 600px; }

.feature-block-component__copy { height: 100%; color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.feature-block-component__text { padding-left: 120px; padding-right: 40px; }

.feature-block-component__description { font-family: "Eaton", Arial, sans-serif; font-size: 1.125em; line-height: 1.5; padding-top: 30px; }

.feature-block-component__image { height: 100%; }

.feature-block-component__cta { margin-top: 30px; }

@media screen and (max-width: 767px) { .feature-block-component__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0; }
  .feature-block-component__text { padding: 30px; }
  .feature-block-component__copy { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

@media screen and (min-width: 768px) and (max-width: 991px) { .feature-block-component__container { height: 400px; } }

.eaton-title-text-image { font-family: "Eaton", Arial, sans-serif; }

.article-feature-image { width: 100%; height: auto; margin-top: 120px; }

.article-feature-title { font-size: 1.5em; font-weight: bold; color: #333F48; text-transform: uppercase; margin-top: 60px; }

.article-feature-cta { color: #005EB8; font-size: 2.5em; font-family: Arial; font-weight: bold; padding-right: 7%; margin-top: 30px; margin-bottom: 30px; }

.article-feature-cta a:hover, .article-feature-cta a:active, .article-feature-cta a:visited, .article-feature-cta a:focus { text-decoration: none; color: #005EB8; }

.article-feature-date { margin-bottom: 60px; }

.article-feature-body { margin-bottom: 120px; padding-right: 7%; font-size: 1.5em; }

@media only screen and (max-width: 767px) { .article-feature-image { margin-top: 60px; }
  .article-feature-title { font-size: 1.1em; margin-top: 30px; }
  .article-feature-date { margin-bottom: 30px; }
  .article-feature-body { margin-bottom: 60px; line-height: 1.5em; font-size: 1.2em; }
  .article-feature-cta { padding-right: 1%; font-size: 1.5em; margin-top: 15px; margin-bottom: 15px; } }

.eaton-page-overview { padding: 120px 0; }

.eaton-page-overview__title { position: relative; margin-bottom: 60px; padding-bottom: 60px; }

.eaton-page-overview__title::after { content: ''; background-color: #005EB8; bottom: 0; display: block; height: 4px; left: 0; position: absolute; width: 68px; }

@media screen and (max-width: 767px) { .eaton-page-overview__cta { margin-top: 60px; } }

@media screen and (min-width: 992px) { .eaton-page-overview .eaton-title__headline { font-size: 54px; line-height: 68px; } }

.eaton-ttil-card-view__image { margin-bottom: 30px; }

.eaton-ttil-card-view__title { margin-bottom: 30px; }

.eaton-ttil-card-view__text { color: #005EB8; text-transform: none; }
