//-----------------------------------
// Component M-22: Quote
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.eaton-example-quote {

  background-color: $color__primary-gray1;

  &__heading {
    margin-bottom: 1em;
  }

  &__author {
    color: $color__primary-blue;
    font-family: $font-family__primary;
  }

  @include media-mobile-only {
    width: 100%;
  }

  @include media-tablet-only {
    margin: 40px 0;
  }

  @include media-desktop-only {
    margin: 60px 0;
  }
}
