// Layout Utils
//--------------
.u-is-fixed { position: fixed; }

.u-absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.u-is-center-aligned {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.u-no-margin { margin: 0; }
.u-no-padding { padding: 0; }

.u-float-left { float: left; }
.u-float-right { float: right; }

.u-clearfix {
  @include clearfix();
}


// Text Utils
//--------------
.u-text-center { text-align: center; }
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }

.u-text-uppercase { text-transform: uppercase; }

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Visibility
//--------------
.u-hide { display: none; }
.u-show { display: block; }
.u-show-inline { display: inline; }
.u-show-ib { display: inline-block; }

.u-hidden { visibility: hidden; }
.u-visible { visibility: visible; }
