<div data-sly-use.data="../carousel.js" id="carousel-example-generic" class="carousel-component carousel slide" data-ride="carousel" data-pause="hover">
    <!-- Indicators -->
    <ol class="carousel-indicators" data-sly-list.slide="${data}">
        <li data-target="#carousel-example-generic" data-slide-to="${slideList.index}" class="${slideList.index == 0 ? 'active' : ''}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-component-slide carousel-inner" data-sly-list.slide="${data}" role="listbox">
        <div class="item ${slideList.index == 0 ? 'active' : ''}">
            <img class="carousel-component-slide__image--desktop img-responsive" src="${slide.image}" alt="...">
            <img class="carousel-component-slide__image--mobile" src="${slide.mobile_image}" alt="...">
            <div class="carousel-component-slide__caption carousel-caption">
                <h1>${slide.title}</h1>
                <p class="carousel-component-slide__text">${slide.text}</p>
                <input class="carousel-component-slide__cta primary-button-light" type="button" value="See how">
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" data-sly-test="${slideList.count > 1}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" data-sly-test="${slideList.count > 1}">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<style>
    .carousel-component-slide__caption {
        top: 10%;
    }

    .carousel-component-slide__cta {
        margin-top: 60px;
    }

    .carousel-component-slide__text {
        margin-top: 20px;
    }

    .carousel-control {
        display: none;
    }

    .carousel-inner:hover > .carousel-control {
        display: block;
    }

    .carousel-component-slide__image--mobile {
        display: none!important;
    }

    @media only screen and (max-width: 600px) {
        .carousel-component-slide__image--mobile {
            display: block!important;
        }
        .carousel-component-slide__image--desktop {
            display: none!important;
        }

        .carousel-control {
            display: none!important;
        }
    }
</style>