<sly data-sly-use.data="${'../data/view-category-hero-data.js' @testdata=properties.testdata}">
    <div class="eaton-ttil-list-category-hero">
        <div class="row">
            <div class="col-xs-12">
                <img src="${data.image}" class="visible-xs img-responsive category-hero__header-image" />
                <img src="${data.mobile_image}" class="hidden-xs img-responsive category-hero__header-image" />
                <div class="row category-hero__header-content">
                    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 text-left">
                        <div class="category-hero-eye-brown text-left">
                            <i class="glyphicon glyphicon-menu-left"></i>
                            <a class="category-hero__header-cta" target="${data.cta._target}" href="${data.cta.url}">${data.cta.title}</a>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2 text-left">
                        <div class="category-hero__header-title">
                            <h2 class="eaton-title__headline">${ data.title }</h2>
                        </div>
                        <div class="category-hero-bottomline"></div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 category-hero-body-copy">
                        <p>${data.text}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>