<sly data-sly-use.data="../data/view-category-hero-data.js">
    <div class="eaton-ttil-list-category-hero container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <img src="${data.image}" class="visible-xs img-responsive category-hero__header-image" />
                <img src="${data.mobile_image}" class="hidden-xs img-responsive category-hero__header-image" />
                <div class="category-hero__header-content">
                    <div>
                        Left side
                    </div>
                    <div>
                        Right side
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>