<div class="featured-story-component" data-sly-use.data="../data/view-featured-story-multiple-data.js">
    <div data-sly-list.component="${data}">
        <div class="row featured-story-component__row">
            <div class="col-xs-12 col-lg-11 featured-story-component__row--nopadding ${componentList.odd ? 'col-lg-pull-0' : 'col-lg-offset-1'}">
                <div class="featured-story-component__image">
                    <img class="img-responsive hidden-xs" src="${component.image}" />
                    <img class="img-responsive visible-xs" src="${component.mobile_image}" />
                </div>
                <div class="col-xs-12 col-sm-5 col-lg-4 featured-story-component__blue ${componentList.odd ? 'featured-story-component__blue--right' : 'featured-story-component__blue--left'}">
                    <div class="featured-story-component__content">
                        <h2 class="featured-story-component__title">${component.title}</h2>
                        <a class="featured-story-component__link" href="${component.link}">
                            <p class="featured-story-component__text">${component.text}<span class="featured-story-component__arrow glyphicon glyphicon-menu-right arrow"></span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
