<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">Grid 2-Column-Control Component</div>
</sly>


<div class="eaton-grid-control eaton-grid-control--2-col eaton-grid-control--theme-${properties.testdata}">
  <div class="container">
    <div class="row">
      <!--/* Include Parsys - Column One */-->
      <div class="col-xs-12 eaton-grid-control__column
        ${properties.view == 'is-half' ? 'col-md-6' : null}
        ${properties.view == 'is-7' ? 'col-md-7' : null}
        ${properties.view == 'is-two-third' ? 'col-md-8' : null}">
          <sly data-sly-resource="${@path='col1-par', resourceType='wcm/foundation/components/parsys'}" />
      </div>

      <!--/* Include Parsys - Column Two */-->
      <div class="col-xs-12 eaton-grid-control__column
        ${properties.view == 'is-half' ? 'col-md-6' : null}
        ${properties.view == 'is-7' ? 'col-md-5' : null}
        ${properties.view == 'is-two-third' ? 'col-md-4' : null}">
          <sly data-sly-resource="${@path='col2-par', resourceType='wcm/foundation/components/parsys'}" />
      </div>
    </div>
  </div>
</div>
