// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.secondary-content-accordion{
  
  &__header {
    padding: 30px 0 0;
    position: relative;
  }

  &__panel {
    border-bottom: 3px solid $color__secondary-gray5;
  }

  &__download-icon .icon {
    color: $color__primary-blue;
    font-size: 1.5rem;
    margin-right: 20px;
  }

  &__badge {
    background-color: $color__accent-orange;
    color: $color__white;
    padding: 6px 10px;
    font-size: 1.125rem;
    bottom: 7px;
    position: relative;
    left: 10px;
  }

  &__body {
    padding-bottom: 50px;
  }

  &__icons {
    position: absolute;
    right: 0;
    color: $color__primary-blue;
    font-size: 2.25rem;
    bottom: 10px;
  }
}