.module-media-gallery__header, .module-media-gallery__description { margin-bottom: 30px; }

.module-media-gallery__headline { margin-bottom: 30px; }

.module-media-gallery__slide-container { position: relative; border: 2px solid mediumseagreen; }

.module-media-gallery__slide-image { position: relative; text-align: center; border: 1px solid indianred; }

.module-media-gallery__slide-image img { display: inline-block; }

.module-media-gallery__slide-utility { position: absolute; bottom: 0; }

.module-media-gallery__slide-utility .icon { color: #005EB8; }

.module-media-gallery__download { left: 0; }

.module-media-gallery__zoom { right: 0; }

.module-media-gallery__slide-info { padding: 30px 0 30px 30px; border-left: 1px solid #CCD2D7; }

.module-media-gallery__slide-text { margin-bottom: 0; }

.module-media-gallery__arrows { position: absolute; top: 0; color: #CCD2D7; border: 1px solid red; }

.module-media-gallery__prev-arrow { left: 0; }

.module-media-gallery__next-arrow { right: 0; }

.module-media-gallery__thumbnail-container { position: relative; }

.module-media-gallery__thumbnail-list { padding: 0; margin: 0; list-style-type: none; }

.module-media-gallery__thumbnail-container .module-media-gallery__arrows { color: #005EB8; }

@media screen and (min-width: 992px) { .module-media-gallery { padding: 60px 0 120px; }
  .module-media-gallery__slide-container .module-media-gallery__arrows .icon { font-size: 37px; }
  .module-media-gallery__thumbnail-container .module-media-gallery__arrows .icon { font-size: 12px; }
  .module-media-gallery__slide-info { margin: 30px 0 30px; } }
