.quick-link-blue{
    font-family: Arial;
    color: #005eb8 !important;
    font-size: 24px;
    font-weight: bold;
    transform: scaleY(1.0006);
    display: block;
    text-decoration:none !important;
}
.quicklink-centered{
    text-align:center;
    }
.quick-link-ul{
    list-style:none;
    padding-left: 0;
    margin-bottom: 0;
}
.quick-link-ul li{
  	margin-top:22px;
        }
@media only screen and (max-width: 767px) {
    .quicklink-centered{
      margin-top: 55px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        .quicklink-centered{
				margin-top: 30px;
            }

        }

/* Desktop Style starts here */

.footer-top .footer-link-heading{
	text-transform:uppercase;
	font-family: Eaton;
	color:  #ffffff;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 700;
	line-height: 18px;/* Approximation due to font substitution */
	text-align: left;
    margin-top: 5px;
}

.footer-top .glyphicon{
	font-size: 11px;
    margin-left: 7px;
} 
.footer-bottom{
	background: #323f48;
	padding: 30px 0px;
    line-height: 2;
	font-family: Arial;
	min-height:91px;
}
.footer-bottom a, .footer-bottom a:hover, .footer-bottom a:focus{
	font-family: Arial;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-decoration:none;
}

.footerLinks{
	    list-style-type: none;
    	    padding-left: 0px;
}
.footerLinks li{
    margin-bottom: 10px;
}

.footer-bottom .hide-mob{
	color:#5B6770;
}
.footer-pipe{
	color: #5b6770;
    margin: 0 30px;
}

.quicklinks1, .quicklinks2{
		padding-left:30px !important;
    padding-right:15px !important;
}


/* Desktop Style ends here */
@media only screen and (max-width: 992px) {
	
	.footer-top .footer-link-heading{
	    margin-top: 30px;
	}
	
}

/* iPhone 4, 5, 5s Style starts here */

@media only screen and (max-width: 767px) {
	
	.footer-top .footer-link-heading{
	    margin-top: 30px;
	}

    .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
            .quicklinks1, .quicklinks2{
		padding-left:0px !important;
    padding-right:0px !important;
}

	
}
/* iPhone 4, 5, 5s Style ends here */

/* iPhone 4, 5, 5s landscape Style starts here */
@media (max-width: 767px) and (orientation: landscape){
.footer-top .footer-link-heading{
	    margin-top: 30px;
	}
                    .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
            .quicklinks1, .quicklinks2{
		padding-left:0px !important;
    padding-right:0px !important;
}

    
}
/* iPhone 4, 5, 5s landscape Style ends here */

/*iPhone 6 Portrait Style starts here*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {	
                    .footer-top .footer-link-heading{
	    margin-top: 30px;
	}
                    .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
            .quicklinks1, .quicklinks2{
		padding-left:0px !important;
    padding-right:0px !important;
}

    
}
/*iPhone 6 Portrait Style ends here*/

/*iPhone 6 landscape starts here*/
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation : landscape) { 
   .footer-top .footer-link-heading{
	    margin-top: 30px;
	}
                    .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
            .quicklinks1, .quicklinks2{
		padding-left:0px !important;
    padding-right:0px !important;
}

}

/*iPhone 6 landscape ends here*/

/*iPhone 6+ Portrait starts here*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
    .footer-top .footer-link-heading{
	    margin-top: 30px;
	}
                    .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
            .quicklinks1, .quicklinks2{
		padding-left:0px !important;
    padding-right:0px !important;
}

	
}
/*iPhone 6+ Portrait ends here*/

/*iPhone 6+ landscape starts here*/
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : landscape) { 
    .footer-top .footer-link-heading{
	    margin-top: 30px;
	}
                    .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
            .quicklinks1, .quicklinks2{
		padding-left:0px !important;
    padding-right:0px !important;
}

    
}
/*iPhone 6+ landscape ends here*/

/* iPad portrait Style starts here */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	
	.footer-top .footer-link-heading{
	    margin-top: 30px;
	}
     .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
        padding-bottom: 15px;
	}                                                               
	.footer-bottom span.hide-mob-inline{
		display:none !important;
	}
        .footer-bottom{
		line-height: 2;
	}
	.footer-bottom a,.footer-bottom span {
		float:left;
		width:100%;
      	padding-bottom: 15px;      
	}
    .quicklinks1, .quicklinks2{
            padding-left:0px !important;
        padding-right:0px !important;
    }
	.quick-links .industry-links .list-group, .quick-links .support-links .list-group, .quick-links .company-links .list-group, .quick-links .product-links .list-group{
		margin-left:10px;
	}

	.quick-links .industry-links h4, .quick-links .support-links h4, .quick-links .company-links h4, .quick-links .product-links h4{
		margin-left:10px;
	}
}
/* iPad portrait Style ends here */

/* iPad landscape Style starts here */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {


    
}
/* iPad landscape Style ends here */
.quick-links{
	color:#fff;
}        
.quick-links h4{
	color: white;
    text-transform: uppercase;
    font-family: 'Eaton';
    margin-top: 5px;        
}
.quick-links .storyContainer{
	font-family:Arial;
}   
.quick-links .industry-links, .quick-links .support-links, .quick-links .company-links, .quick-links .product-links{
	min-height: 400px;
    border-right: 1px solid #8c9aa5;
}
.quick-links .industry-download-links, .quick-links .support-download-links{
	margin-left:15px;
    margin-right:15px;                                
 }
@media only screen and (max-width:767px){
	.quick-links .industry-links,.quick-links .support-links, .quick-links .company-links,  .quick-links .product-links{
	min-height: auto;
    border-right: none;
	}
} 
