/* More Info card  starts here*/



.moreInfo .iconClass{
   	width: 31px;
    margin-right: 11px;
    vertical-align: -5px;
 }

.moreInfo .site-icons{
    margin-bottom:15px;
    margin-top: 27px;
 }

/* infor container */
.info-quick-link{
    margin-top:27px;
    }
.infoContainer .iconClass{
   	width: 30px;
    height: 27px;
    margin-right: 20px;
    vertical-align: -5px;
    float: left;
    margin-bottom: 50px;
    margin-top: 7px;
    line-height: 32px;
 }
.quick-link-span-block{
 display:block;
    }
.infoContainer .download-size{
	 font-size: 15px;
     margin-left: 50px;
    }
 .infoContainer .download-desc{
	 font-size: 20px;
     line-height: 26px;
     margin-left: 50px;
        }
 .infoContainer.market-info{
    margin-top:30px;
        }
