
.sec-nav .navbar-nav>li
{
	border-right: 1px solid #5B6770;
    padding-top:20px;
    padding-bottom:20px;
	padding-left:30px;
    padding-right:30px;
}
.sec-nav .navbar-nav>li:active, .sec-nav .navbar-nav>li:hover{
                	background-color: #5B6770;
            }
.sec-nav
{
 	border-radius:0px;
 	background-color: #333F48;
	border-color: #333F48; 

}

.section-nav-one
{
  	float:none;
}

.sec-nav .navbar-nav>li:last-child
{
	border-right:none;
}

.sec-nav-list>li>a:first-child
{
	padding-left: 0px !important;
} 

.section-nav-one .navbar-nav>li>a
{
	padding-top: 0px;
    padding-bottom: 0px;
}

.sec-nav .smalllinkdeviation
{
	font-family:Arial;
    font-weight:bold;
    font-size:1.125em;
    color: #FFFFFF !important; 
}


/* iPhone 4, 5, 5s Style starts here */

@media only screen and (max-width: 600px){

.sec-nav .navbar-nav>li
{
	border-bottom:1px solid #5B6770;
    border-right: none;
}
.sec-nav .navbar-nav>li:last-child
{
	border-bottom:none;
}

.sec-nav .navbar-nav>li>a {
    padding-left: 0px;
}

.sec-nav-list
{
	margin:0px 0px;
}

.sec-nav .navbar-nav>li
{
	padding-left: 0px;
}

.sec-nav .navbar-nav>li
{

    padding-top:40px;
    padding-bottom:40px;

}
.sec-nav .smalllinkdeviation
{
    font-size: 1.625em;

}
.sec-nav .navbar-nav>li:last-child
{
	padding-bottom:60px;
}
.sec-nav .navbar-nav>li:first-child
{
	padding-top:60px;
}
.padding_sec_nav    
{padding-left: 25px;
    padding-right: 25px;
}
.sec-nav
{

    padding-left: 0px;
}
}

@media only screen and (min-width: 601px) and (max-width: 992px){

.sec-nav .navbar-nav>li
{
	border-bottom:1px solid #5B6770;
    border-right: none;
}
.sec-nav .navbar-nav>li:last-child
{
	border-bottom:none;
}

.sec-nav .navbar-nav>li>a {
    padding-left: 0px;
}

.sec-nav-list
{
	margin:0px 0px;
}

.sec-nav-list
{
    width: 100%;
}

.sec-nav-list li
{
	float: none;
   
}
.sec-nav .navbar-nav>li
{
	padding-left: 0px;
}

.sec-nav .navbar-nav>li
{
	padding-bottom: 40px;
    padding-top: 40px;
}

.sec-nav .navbar-nav>li
{

    padding-top:40px;
    padding-bottom:40px;
	padding-left:40px;
    padding-right:40px;
}
.sec-nav-list>li
{
	padding-left: 0px !important;
}
.sec-nav .smalllinkdeviation
{
    font-size:1.625em;

}
.sec-nav .navbar-nav>li:last-child
{
	padding-bottom:60px;
}
.sec-nav .navbar-nav>li:first-child
{
	padding-top:60px;
}

.padding_sec_nav    
{	padding-left: 25px;
    padding-right: 25px;
}
.sec-nav
{

    padding-left: 0px;
}
}    