/* Desktop Style starts here */
.footer-top .social-media-links a{	
	margin-top:20px;
	width:33px;
	height:33px;
	border: none;
	display: inline-block;
}

.footer-top .social-media-facebook {		
    background: url(/content/dam/eaton/images/icons/facebook.png) no-repeat;	
}

.footer-top .social-media-twitter {	
    background: url(/content/dam/eaton/images/icons/twitter.png) no-repeat;
}

.footer-top .social-media-pinterest {	
    background: url(/content/dam/eaton/images/icons/pinterest.png) no-repeat;
}

.footer-top .social-media-googleplus {	
    background: url(/content/dam/eaton/images/icons/google.png) no-repeat;
}

.footer-top .social-media-linked-in {	
    background: url(/content/dam/eaton/images/icons/linkedin.png) no-repeat;
}

/* Desktop Style ends here */




/**********MOBILE TABLET ***********/
@media only screen and (max-width: 600px) , screen and (min-width: 601px) and (max-width:992px) {

		.footer-top .social-media-links {		
			margin-top: 30px;			
		}
         .social-media-links{
			/* margin-top:120px !important; */
			margin:0;
			margin-top:29px;
    	}    
    	
    	.footer-top .social-media-links a{	
			margin-right:20px !important;
			
		}
}

