//-----------------------------------
// Styleguide - Buttons
//-----------------------------------

.b-button {
  paddin: 1em;

  &--dark {
    background: black;
  }

  &--with-icon {

    .icon {
      margin-left: 1rem;
    }
  }
}
