//-----------------------------------
// Styleguide - Rich Text Elements
//-----------------------------------

.eaton-text-default .rich-text-container {

  @include body-copy;

  font-family: Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 3.8rem;
  margin-top: 15px;

  // &__left-padded {
  //   padding-left: 15px;
  //   margin-top: -5px; //remove extra space
  // }

  // wysiwyng classes
  span.b-eyebrow-large {
    padding-bottom: 20px;
    display: inline-block;
    top: -5px;
    position: relative;
  }

  // stylelint-disable selector-max-compound-selectors
  b,
  strong {
    font-weight: bold;
  }

  h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
  }

  i,
  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 3.8rem;
  }


  // Unordered lists
  //--------------
  ul {
    list-style-type: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 40px;

      &::before {
        @include square(6px); // Width & Height

        content: '';
        background-color: $color__primary-blue;
        border-radius: 50%;
        left: 20px;
        position: absolute;
        top: 0.6em;

      }
    }
  }


  // Over DARK-Background
  //--------------
  .dark-theme & {

    color: $color__white;

    a,
    a:visited {
      text-decoration: underline;
      color: $color__white;
    }

    // Headings
    //--------------
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color__white;
    }

    // Ordered Lists
    //--------------
    ol {

    }

    // Unordered lists
    //--------------
    ul {
      li {
        &::before {
          background-color: $color__white;
        }
      }
    }


  }
}


@include media-desktop-and-up {
  .eaton-text-default .rich-text-container {
    h3 {
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      padding: 0;
      margin-bottom: 15px;
      line-height: 2.4rem;
    }
  }
}
