//-----------------------------------
// Component M-7: Global Footer
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";


.eaton-footer {
  // Empty selector for future Reference
}


// Footer Top
//--------------
.eaton-footer-top {
  background: $color__primary-gray2;
  padding: 60px 0;

  .eaton-text-default__content {
    @include body-copy-small;

    // override the default font size for /text component
    p {
      font-size: 1.7rem;
      line-height: 2.8rem;
    }
  }

  .eaton-footer-top__link-list {
    margin-bottom: 40px;

    a {
      font-size: 13px;
      line-height: 17px;
    }
  }

}



// Footer Bottom
//--------------
.eaton-footer-bottom {
  background: $color__primary-gray1;

  // Over Dark Background: Make all text elements white
  .dark-theme & {
    color: $color__white;

    a,
    a:hover,
    a:focus {
      color: $color__white;
    }
  }
}

// Footer Back to top button
//--------------
.eaton-footer-back-to-top {
  position: fixed;
  bottom: 6rem;
  height: 5.8rem;
  width: 5.8rem;
  background-color: $color__white;
  right: 3rem;
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, .15);
  cursor: pointer;
  display: none;
  z-index: 1; // Fixes issue the button can't be clicked / The content overlaps this button

  @include media-mobile-only {
    bottom: 3rem;
  }

  &.visible {
    display: block;
  }

  .icon {
    font-size: 3rem;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $color__primary-blue;
    line-height: 6.8rem;

  }
}


//-----------------------------------
// Media-Query: Tablet & Desktop
//-----------------------------------
@include media-mobile-and-tablet {

  .eaton-footer-top__logo { margin-bottom: 60px; }

  .eaton-footer-top__content { margin-bottom: 120px; }

  .eaton-footer-top__link-list { margin-bottom: 60px; }

  .eaton-footer-bottom { padding: 120px 0; }

  .eaton-footer-bottom__link-list {

    // LinkList Component Nested in the Footer
    .eaton-link-list-horizontal__list-item {
      margin-bottom: 32px; // Visually 40px between elements
    }

  }

}

//-----------------------------------
// Media-Query: Desktop & Desktop Large
//-----------------------------------
@include media-desktop-and-up {

  .eaton-footer-top__logo { margin-bottom: 30px; }

  .eaton-footer-bottom { padding: 40px 0; }


  .eaton-footer-bottom__copyright { float: right; }

  .eaton-footer-top {
    .eaton-footer-top__link-list {
      a {
        font-size: 18px;
        line-height: 26px;
      }
  .eaton-footer-bottom__link-list {
    float: left;
    width: 68%; // EATON-536: Link List and Copyright Alignment [ALM-107]
  }

    }
  }

}
