.categoryHighlight {
	position: relative;
	margin-bottom: 480px;
}

.categoryHighlight-first {
	position: relative;
	margin-bottom: 476px;
}

.categoryHighlight-second {
	position: relative;
	margin-bottom: 544px;
}

.storyBoardImage {
	width: 100%;
}

.categoryHighlight .cat-highlight-desc {
	font-size: 1.25em;
	color: #fff;
}

.categoryHighlight-first .cat-highlight-desc, .categoryHighlight-second .cat-highlight-desc
	{
	font-size: 1.25em;
	line-height: 1.6em;
	color: #fff;
}

.categoryHighlight .category-highlight-seperator,
	.categoryHighlight-first .category-highlight-seperator,
	.categoryHighlight-second .category-highlight-seperator {
	height: 3px;
	background: #fff;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.storyBoardOverlay {
	position: absolute;
	color: #fff;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.categoryHighlight-second .categoryHighlightCard img {
   height:268px;
}
.category-highlight-rel3-second .category-highlight-carousel-indicator {
	bottom: -53px;
        }
.category-highlight-rel3-second div.carousel {

    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
	.categoryHighlight {
		margin-bottom: 720px;
	}
	.categoryHighlight-first {
		margin-bottom: 207px;
	}
	.categoryHighlight-second {
		margin-bottom: 700px;
	}
	.categoryHighlight-first .cat-highlight-desc, .categoryHighlight-second .cat-highlight-desc
		{
		font-size: 1.750em;
		line-height: 1.571em;
	}
	.categoryHighlight-second .categoryHighlightCard img {
	   height:auto;
	}
	.categoryHighlight-first .storyBoardOverlay, .category-highlight-rel3-second .storyBoardOverlay{
		width:100%;
	}

	.categoryHighlight-first .storyBoardImage, .categoryHighlight-second .storyBoardImage{
   		 height:330px;

    }


}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	.categoryHighlight {
		margin-bottom: 720px;
	}
        .categoryHighlight-first {
		margin-bottom: 386px;
	}
	.categoryHighlight-second {
		margin-bottom: 964px;
	}
.carousel-indicators {
		margin-top: 30px;
	}

	.categoryHighlight-first .cat-highlight-desc, .categoryHighlight-second .cat-highlight-desc
		{
		font-size: 1.750em;
		line-height: 1.571em;
	}
	.categoryHighlight-second .categoryHighlightCard img {
	   height:auto;
	}
	.categoryHighlight-first .storyBoardOverlay, .category-highlight-rel3-second .storyBoardOverlay{
		width:100%;
	}
	.categoryHighlight-first .storyBoardImage, .categoryHighlight-second .storyBoardImage{
   		 height:330px;

    }
}
@media only screen and (max-width: 992px) {
        .cat-highlight-desc{
margin-top:60px !important;
            font-size:0.875em !important;
}
    }