.proof_point_data{
    font-size:8.36458341698em;
	font-family: EatonBold;
    color: var(--Aqua);
    }
.proof_point_image1{
    width:88%;
	}
.proof_point_image2{
    width:98%;
	margin-top:15px;
	}
.proof_point_image3{
    margin-right:20px;
    width:88%;
    }
@media only screen and (max-width: 600px) {

.proof_point_image1 {
    width: 50%;
    float: right;
     margin-top: -20px;

	}

.proof_point_image2{
   width: 65%;
    float: right;
     margin-top: 0px;

	}
.proof_point_image3 {
    width: 50%;
    float: right;
    margin-top: -15px;
	}
.proof_point_data {
    font-size: 6.9em;
    font-family: EatonBold;
    color: var(--Aqua);

}
}
@media only screen  and (min-width: 601px) and (max-width: 767px) {
.proof_point_image1 {
  	 width: 38%;
    float: right;
    margin-top: -20px;
	}

.proof_point_image2{
       width: 49%;
    float: right;
    margin-top: 0px;

	}
.proof_point_image3 {
    width: 36%;
    float: right;
    margin-top: -15px;
	}
.proof_point_data {
    font-size: 6.9em;
    font-family: EatonBold;
    color: var(--Aqua);

}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

.proof_point_image1 {
  	 width: 38%;
    float: right;
    margin-top: -20px;
	}

.proof_point_image2{
       width: 49%;
    float: right;
    margin-top: 0px;

	}
.proof_point_image3 {
    width: 36%;
    float: right;
    margin-top: -15px;
	}
.proof_point_data {
    font-size: 6.9em;
    font-family: EatonBold;
    color: var(--Aqua);

}
.proof-points-value{

    }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and(max-width:650px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px) and(max-width:650px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and(max-width:650px){ ​

.proof_point_data1 {
    font-size: 13.88em;
    font-family: EatonBold;
    color: var(--Aqua);

}
.proof_point_image2{
   width: 75%;
    float: right;
}
.proof_point_image3 {
    width: 65%;
    float: right;
}
 .proof_point_data {
    font-size: 6.9em;
    font-family: EatonBold;
    color: var(--Aqua);

}
}