.proof_point_data {
	font-size: 6.250em;
	font-family: EatonBold;
	color: #00B2A9;
	line-height:.8;
}

.proof-point-img-container {
	width: 125px;
	height: 125px;
	float: left;
}

.proof_point_image1 {
	width: 100%;
	max-width: 100%;
	padding-right: 10px;
}

.proof_point_image2 {
	width: 100%;
	margin-top: 15px;
	max-width: 100%;
}

.proof_point_image3 {
	/* margin-right: 20px; */
	padding-right: 10px;
	width: 100%;
	max-width: 100%;
}

.proof-point-data-container {
	float: left;
}

.proof-point-data-container .small {
	width: 200px;
	float: left;
}

.primaryProofPointHolder {
	padding-left: 30px;
	padding-right: 30px;
}

@media only screen and (max-width: 600px) , screen and (min-width:601px) and (max-width:992px) {
	.proof-point-img-container {
		width: 125px !important;
		height: 125px !important;
	}
	.proof_point_image1 {
		width: auto;
		float: right;
		height: 150px !important;
		margin-top: -20px !important;
		padding-right: 10px;
	}
	.proof_point_image2 {
		width: auto;
		float: right;
		margin-top: 0px;
		height: 150px !important;
	}
	.proof_point_image3 {
		width: auto;
		float: right;
		height: 150px !important;
		margin-top: -30px !important;
	}
	.proof_point_data {
		font-size: 5.188em;
		font-family: EatonBold;
		color: #00B2A9;
		margin-bottom:15px;
	}
	.proofpointHolder .body-copy {
		margin-top: 0px !important;
	}
	.proof-point-img-container {
		width: 41.667% !important;
	}
	.proof-points-value {
		/* width: 45% !important; */
	}
}
