.grey_bkg{
background:#F8F8F8;
}
.top-bottom-padding-custom{
padding:50px 0px;
}

/*rel3 career */

.topiclink-career .content-grey-bg
{
	background-color: #f8f8f8;
    margin:0px;

}
.topiclink-career button
{
	float:right;
}

 @media only screen and (min-width:993px){
.topiclink-career .largePaddingTop
{
	padding-top:50px !important;
}

.topiclink-career .largePaddingBottom
{
	padding-bottom:50px !important;
}
    .topiclink-career .mediumPaddingTop
{
	padding-top: 20px !important;
}

} 
@media only screen and  (max-width: 992px){
.topiclink-career .smallPaddingTop
    {
		padding-top:30px !important;
    }
.topiclink-career .topic-link-desc .smallPaddingTop          
    {
		padding-top:60px !important;
    }
.top-bottom-padding-custom{
padding:90px 0px !important;
}
   .topic-links h3{
padding-bottom:60px !important;
}
  .topic-links .body-copy{
padding-bottom:60px !important;
}
}