//-----------------------------------
// Component M-3.1
// Header: Utility Navigation
// Module: Country/ Language Selector
// View: Drawer
//-----------------------------------

.country-selector-drawer {

    &__header {
      background: $color__primary-gray1;
    }

    &__item {
      border-radius: 0;
      box-shadow: none;
    }

    &__item-header {
      position: relative;
    }

    &__item-list {
      padding: 0;
      list-style: none;
      overflow: hidden;
      margin-bottom: 0;
    }

    //-----------------------------------
    // Desktop Breakpoint: >992 px
    //-----------------------------------
    @include media-desktop-and-up {

      &__header {
        margin-bottom: $spacing__sm;
      }

      &__region-list {
        list-style: none;

        li {
          margin-bottom: $spacing__sm;
        }

        a {
          color: $color__white;
        }
      }

      &__item-list {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        border: 0;
      }

      &__item-header {
        display: none;
      }

      &__item-country {
        flex-basis: 25%;
        padding: 0 0 $spacing__sm;
      }
    }
}
