//-----------------------------------
// SearchBox Component: Inline View
//-----------------------------------

.eaton-search-box {
  background-color: $color__primary-blue;
  padding: $spacing__sm;

  &__form {
    position: relative;
  }

  &__buttons-container {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
  }

  &__button-transparent {
    background: none;
    border: none;
    color: $color__white;
    font-size: 2rem;
    padding: 0 0 0 30px;
    position: relative;

    &:first-child {
      &::after {
        content: '';
        background-color: $color__white;
        position: absolute;
        height: 20px;
        width: 1px;
        right: -19px;
        top: 3px;
      }
    }
  }

  &__results-container {
    display: none;
    padding: 50px 0 20px;
  }

  &__result-list {
    list-style: none;
    color: white;
    padding: 0;
  }

  &__result-item {
    font-size: 1.9rem;
    padding: 3px 0;

    a {
      color: $color__white;
    }
  }

  &__input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $color__white;
    color: white;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    outline: none;
    width: 100%;

    &::placeholder {
      color: $color__white;
    }

    &:valid {
      & + .eaton-search-box__results-container {
        display: block;
      }

      &::placeholder {
        color: transparent;
      }
    }

  }
}
