//-------------------------------------------------
// SearchBox Component: Primary Nav View (Default)
//-------------------------------------------------

.eaton-search--default {

  padding: $spacing__sm 0 24px;
  background: $color__primary-blue;

  .form-group {
    display: flex;
    border-bottom: 1px solid $color__white;
    margin-bottom: 0;
  }

  .icon-search {
    font-size: 1.5em;
    top: 2px;
    position: relative;
  }

  &__form-input { // Styles for Form Elements
    font-size: 1.5em;
    color: $color__white;
    background: transparent;
    padding: 0;
  }

  &__form-submit { // Styles for Form Elements
    color: $color__white;
    background: transparent;
    padding: 10px 20px;
  }

  .dark-theme & {
    background: $color__primary-gray1;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color__white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color__white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color__white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color__white;
  }
}
