//-----------------------------------
// SearchBox Component: Inline View
//-----------------------------------

.eaton-search--inline {
  &__header {
    text-transform: uppercase;
  }

  &__header,
  &__subheader,
  &__form {
    margin-bottom: $spacing__sm;
  }

  .form-group {
    display: flex;
  }

  .icon-search {
    font-size: 18px;
    top: 2px;
    position: relative;
  }

  &__form-input { // Styles for Form Elements
    background: $color__white;
    font-size: 1em;
    padding: 10px 0 10px 10px;
  }

  &__form-submit { // Styles for Form Elements
    background: $color__white;
    color: $color__primary-blue;
    padding: 10px 20px;
  }

  .dark-theme & {
    &__header {
      color: $color__white;
    }
  }
}
