//-----------------------------------
// SearchBox Component: Inline View
//-----------------------------------

.eaton-search-inline {
  &__headline {
    text-transform: uppercase;
    margin-bottom: $spacing__sm;
  }

  &__form {
    margin-bottom: $spacing__sm;
  }

  .form-group {
    display: flex;
  }

  .icon-search {
    font-size: 18px;
    top: 2px;
    position: relative;
  }

  &__form-input { // Styles for Form Elements
    appearance: none;
    border: 0;
    background: $color__white;
    border-radius: 0;
    font-size: 1em;
    height: auto;
  }

  &__form-submit { // Styles for Form Elements
    appearance: none;
    background: $color__white;
    border: 0;
    color: $color__primary-blue;
    padding: 10px 20px;
  }

  .dark-theme & {
    &__headline {
      color: $color__white;
    }
  }
}
