/* Desktop Style starts here */

/* Search */
.search-main {
	height: 100px;
	padding-top: 15px;
	width: 85px;
}

.search-main .search-btn {
	background: transparent;
	border: none;
	border-left: 1px solid grey;
	margin-top: 18px;
	padding-top: 5px;
    padding-left: 35px;
}

.search-main .search-btn .search-btn-icon {
	display: inline-block;
	background: url(/content/dam/eaton/images/search-icon.png) no-repeat;
	border: none;
	width: 25px;
	height: 25px;
}

.search-main .close-search-btn {
	background: #333F48;
	border: none;
	padding: 10px 0px 0px 8px;
	display: none;
	width: 85px;
    height: 89px;
}

.search-main .close-search-btn .close-search-btn-icon {
	display: inline-block;
	background: url(/content/dam/eaton/images/close-icon.png) no-repeat;
	border: none;
	/* width: 25px;
	height: 25px;
	background-size: 80%; */
	width: 50px;
    height: 50px;
    background-position: center;
    background-size: 41% 40%;
}

.searchService-icon-white {
	display: inline-block;
	background: url(/content/dam/eaton/images/search-service-icon-white.png)
		no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    margin: 10px 20px 10px 10px;
}

#main-search-input {
	width: 100%;
	position: fixed;
	z-index: 50;
	background-color: transperent;
	/* transform: translate(-69.5%,0%); */
	overflow-Y: hidden;
	/* padding-left: 60px; */
	transition: 0.4s;
	opacity: 1;
	max-height: 495px;
	height: 0
}

#main-search-input .search-bar {
	width: 100%;
	position: absolute;
	top: 4px;
	background-color: #333F48;
	opacity: 1;
	display: none;	
	box-shadow: 0px 8px 11px 0px rgba(53, 65, 74, 0.34);		
}

#main-search-input input[type='text'] {
	font-size: 1.65em;
	width: 93%;
	background: transparent;
	border: none;
	color: #FFFFFF;
	box-sizing: none;
	line-height: 10px;
	outline: none;
	height: 30px;
	font-family: 'Arial';
	font-weight: bold;
}
#main-search-input input[type='text']::-ms-clear{
	display:none;
}
#main-search-input .main-search-box {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
    line-height: 3;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #FFFFFF;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #FFFFFF;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #FFFFFF;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #FFFFFF;
}

#main-search-input .btn.fa-search {
	color: #FFFFFF;
	float: right;
	font-size: 20px;
	padding-right: 20px;
	padding-top: 0;
}
/* Desktop Style ends here */






/****  MOBILE  and tablet ****/

@media only screen and (max-width: 600px) , screen and (min-width: 601px) and (max-width:992px) {
	
	
	.searchService-icon-white {
		/*width:8% !important;*/
		width: 30px !important;
		margin:0;
		margin-top:10px;
		background-size: 70% 75%;
	}
	

	#main-search-input .main-search-box {
		/* padding-top: 30px !important;
		padding-bottom: 30px !important; */
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	#main-search-input input[type='text'] {
		/* font-size: 1.45em; */
		font-size:1.3rem;		
		width: 85%;
		background: transparent;
		border: none;
		color: #FFFFFF;
		box-sizing: none;
		line-height: 1.8em;
		outline: none;
		font-family: 'Arial';
		/* font-weight: bold; */
		font-weight: normal;
	}

	/* search */
	#header-navigation-bar .search-mob {
		/* padding-top: 30px; */
		/*width: 50px;*/
        margin-right: 5px;    
	}
	#header-navigation-bar .search-mob .search-btn {
		border-radius: 0;
		/* 
		height: 88px; 
		width: 88px; 
		padding: 30px ;
		margin-left: -15px;
		margin-top: 0px;
		*/
		border: none;		
		background: #FFFFFF;
		border: none !important;
		outline: none !important;
		margin:0;
		padding:0;
		display: block;
    	padding-top: 5px !important;
    	height: 65px !important;
	}
	

	
	
	#header-navigation-bar .search-mob .search-btn .search-btn-icon {		       
        display: inline-block;
		background: url(/content/dam/eaton/images/icons/search_blue.svg) no-repeat;		 		
		width: 40px;
    	height: 48px;    	
    	background-position: center; 
    	background-size:90% 90%;           
	}
	
	
	#header-navigation-bar .search-mob .close-search-btn {
		/* display: none;
		border-radius: 0;		
		height: 88px !important;
		margin: 0;
		border: none;
		padding: 30px;
		background: #333F48;
		width: 88px;
		box-shadow: 0 4px 0 #333F48 ; */
		display: none;
		border-radius: 0;			
		margin: 0;
		border: none;
		padding:0;
		background: #333F48;		
		box-shadow: 0 4px 0 #333F48 ;
		padding-top: 5px !important;
    	height: 65px !important;
	}
	#header-navigation-bar .search-mob .close-search-btn .close-search-btn-icon
		{
		/* border: none;
		display: inline-block;
		background: url(/content/dam/eaton/images/close-icon.png) no-repeat;
		border: none;
		width: 25px;
		height: 25px;		
		margin-top: 0px;
		margin-left: 0px;
		transform: scale(0.7);
		display: inline-block; */
		border: none;
		display: inline-block;
		background: url(/content/dam/eaton/images/close-icon.png) no-repeat;
		border: none;
		width: 50px;
	    height: 50px;
	    background-position: center;
	    background-size: 38% 38%;			
	}
	
	#main-search-input {
		background-color: #5B6770;
		position: absolute;
		top: 66px;
	}
	#main-search-input input[type='text'] {
		width: 75%;
	}
    #main-search-input .search-bar {
		top: 0;
	}
    .search-main .close-search-btn {
    	height: 85px;
	}
	#main-search-input .main-search-box {
    	line-height: 3;
	}
	
	.searchFixed {
		top: 67px !important;
	}

}
/****  MOBILE  ****/
