
/* Desktop Style starts here */

/* Search */
.search-main{
	height: 100px;
	padding-top: 15px;
}
.search-main .search-btn{
	background: transparent;
    border: none;
    border-left: 1px solid grey;
    padding-left: 33px;
    margin-top: 18px;
	padding-top: 5px;
    margin-left:20px;
}
   
.search-main .search-btn .search-btn-icon{
	display: inline-block;
    background: url(/content/dam/eaton/images/search-icon.png) no-repeat;
    border: none;
    width: 25px;
    height: 25px;

}
.search-main .close-search-btn{
	background: var(--Gray1);
    border: none;
    padding: 10px 0px 0px 8px;
    display: none;
    height: 85px;
	width:	85px;
}
   
.search-main .close-search-btn .close-search-btn-icon{
	display: inline-block;
    background: url(/content/dam/eaton/images/close-icon.png)no-repeat;
    border: none;
    width: 25px;
    height: 25px;
	background-size: 80%;
}
.searchService-icon-white{
	display: inline-block;
    background: url(/content/dam/eaton/images/search-service-icon-white.png) no-repeat;
    width: 48px;
    height: 50px;
    vertical-align: -30px;
    float: right;
}    
#main-search-input {
   
    width: 101%;
    position: fixed;
    z-index: 50;
    background-color: transperent ;
    /* transform: translate(-69.5%,0%); */
    overflow-Y: hidden;
    /* padding-left: 60px; */
    transition: 0.4s;
    opacity: 1;
    max-height:495px;
    height:0
}
#main-search-input .search-bar {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    background-color: #333F48;
    opacity: 1;
    display:none;
	/*padding: 12px 0px;*/
    box-shadow: 0px 8px 11px 0px rgba(53, 65, 74, 0.34)

    /* transform: translate(0%,15%); */
}
#main-search-input input[type='text'] {
    font-size: 27px;
    width: 90%;
    background: transparent;
    border: none;
   /*  border-left-style: solid;
	border-left-color: #FFFFFF;
    border-left-width: 1px; */
	color: #FFFFFF;
	box-sizing: none;
	line-height: 10px;
	outline: none;
    height: 25px;
    padding-left: 10px;
    margin-left: 10px;
    font-family: 'ArialBold';
}
#main-search-input .main-search-box{
	padding-top: 25px !important;
    padding-bottom: 25px !important;
}    
 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
}
#main-search-input .btn.fa-search{
	color: #FFFFFF;
	float: right;
	font-size: 20px;
	padding-right: 20px;
	padding-top: 0;
}
/* Desktop Style ends here */

/* iPhone 4, 5, 5s Style starts here */
@media only screen and (max-width: 769px)
{
    #main-search-input input[type='text'] {
    	width: 90%;
	}

}
@media only screen and (max-width: 768px) {

/* search */

#header-navigation-bar .search-mob{
	/* padding-top: 30px; */
    width:40px;    
}
#header-navigation-bar .search-mob .search-btn{
	
	border-radius: 0;
    height: 40px;
    width:70px;
    margin-top: 0px;
    border: none;
    padding: 0px !important;
	background: #FFFFFF;
    border:none !important;
    outline:none !important;
        margin-left:-15px;
	
}

#header-navigation-bar .search-mob .search-btn .search-btn-icon{
	display: inline-block;
    background: url(/content/dam/eaton/images/sprite-sheet.png) -450px -1049px no-repeat;
    border: none;
    width: 60px;
    height: 100px;
    margin-left:8px;

}	
#header-navigation-bar .search-mob .close-search-btn{
	display:none;
	border-radius: 0;
    /*height: 70px !important;*/
    height: 88px !important;    
    margin: 0;
    border: none;
    padding: 26px 10px;
    background: #333F48;
}
   
#header-navigation-bar .search-mob .close-search-btn .close-search-btn-icon{
	border:none;
	display: inline-block;
    background: url(/content/dam/eaton/images/close-icon.png) no-repeat;
    border: none;
    width: 25px;
    height: 25px;
	background-size: 70%;
}	

    .searchService-icon-white{
    width: 37px;

} 

#main-search-input {
    background-color: #5B6770;
    position:absolute;
            top: 96px;
}
#main-search-input input[type='text'] {
    width: 75%;
}
}
/* iPhone 4, 5, 5s Style ends here */

/* iPhone 4, 5, 5s landscape Style starts here */
@media (max-width: 767px) and (orientation: landscape){
    
}
/* iPhone 4, 5, 5s landscape Style ends here */

/*iPhone 6 Portrait Style starts here*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {	
    
}
/*iPhone 6 Portrait Style ends here*/

/*iPhone 6 landscape starts here*/
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation : landscape) { 
}
/*iPhone 6 landscape ends here*/

/*iPhone 6+ Portrait starts here*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
	
}
/*iPhone 6+ Portrait ends here*/

/*iPhone 6+ landscape starts here*/
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : landscape) { 
    
}
/*iPhone 6+ landscape ends here*/

/* iPad portrait Style starts here */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}
/* iPad portrait Style ends here */

/* iPad landscape Style starts here */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    
}
/* iPad landscape Style ends here */