.searchProducts{
	background:#0a70cd;
	color:#ffffff;
	padding:30px 0px;

	
}
.find_label{
	font-family:Eaton;
	font-size:40px;
}
.searchHolder{

}
.searchBoxHolder{
margin-top:20px;
}
.searchBoxHolder input{
border-radius:0px; font-size:20px; color:#333f48; padding:34px 28px;
}
.searchBoxHolder img{
position:absolute;
top: 50%;
transform: translateY(-50%);
right:28px;
}

.searchBoxHolder input {
    border-radius: 0px;
    font-size: 20px;
    color: #333f48;
    padding: 34px 28px;
}