<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
    <div>Brightcove Page Component</div>
</sly>

<sly data-sly-test="${properties.contentRepository && properties.brightcovePlayerID && properties.contentId}">
    <sly data-sly-use.bcComponent="com.eaton.platform.core.helpers.BrightcoveHelper"></sly>
    <div style="display: block; position: relative; width:100%">
        <div style="padding-top: 56.25%;">
            <sly data-sly-test="${properties.contentType == 'video'}">
	            <video id="${bcComponent.playerUniqueId}" 
	              data-video-id="${properties.contentId}" 
	              data-account="${properties.contentRepository}" 
	              data-player="${properties.brightcovePlayerID}" 
	              data-embed="default" 
	              data-application-id 
	              class="video-js" 
	              style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" 
	              controls></video>
            </sly>
    
            <sly data-sly-test="${properties.contentType == 'playlist'}">            
	            <video id="${bcComponent.playerUniqueId}" 
	              data-playlist-id="${properties.contentId}" 
	              data-account="${properties.contentRepository}" 
	              data-player="${properties.brightcovePlayerID}" 
	              data-embed="default" 
	              data-application-id 
	              class="video-js" 
	              style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" 
	              controls></video>
	              <ol class="vjs-playlist"></ol>
            </sly>

            <sly data-sly-test="${properties.contentRepository && properties.brightcovePlayerID}">
            	<script src="//players.brightcove.net/${properties.contentRepository}/${properties.brightcovePlayerID}_default/index.min.js"></script>
            </sly>
    
        </div>
	</div>

    <script type="text/javascript">
    
        var myPlayer = videojs('${bcComponent.playerUniqueId @ context="scriptString"}');
        
        if('${properties.contentType @context="scriptString"}' == 'video'){
        
            myPlayer.catalog.getVideo('${properties.contentId @ context="scriptString"}', function(error, video){
        
              if(error !== null) {
                myPlayer.error({code:'-1'});
              }
            });
        } else {
        
            myPlayer.catalog.getPlaylist('${properties.contentId @ context="scriptString"}', function(error, video){
        
              if(error !== null) {
                myPlayer.error({code:'-1'});
              }
            });
        }
        
            myPlayer.errors({
                "errors": {
                    "-1": {
                        "headline": '${bcComponent.errorMsg @ context="scriptString"}',
                            "type": "PLAYER_ERR_NO_SRC",
                            "message": "This video could not be loaded, because video/playlist id is invalid"
                    }
                }
            });
    
    </script>
</sly>

