<sly data-sly-use.data="${'../data/view-inline-data.js' @testdata=properties.testdata}">
  <div class="eaton-search eaton-search--inline">
    <!--/* If Header */-->
    <p class="eaton-search--inline__header b-eyebrow-small">${data.header}</p>
    <!--/* If Subheader */-->
    <p data-sly-test="${data.subheader}" class="eaton-search--inline__subheader">${data.subheader}</p>

    <!--/* Search Form */-->
    <form class="eaton-search__form eaton-search--inline__form"
          action="${data.form.searchResultsPath}"
          autocomplete="off"
          target="${data.form.isExternal == true ? '_blank' : '_self'}">
      <div class="form-group">
        <label for="mega-menu-search" class="sr-only">${data.header}</label>
          <input type="text" name="search-term" class="form-control eaton-search--inline__form-input" id="mega-menu-search" placeholder="${data.form.placeholder}">
          <button type="submit" class="eaton-search__submit eaton-search--inline__form-submit">
            <span class="sr-only">${data.form.submitLabel}</span>
            <i class="icon icon-search" aria-hidden="true"></i>
          </button>
      </div>
    </form>
  </div>
</sly>
