<div class="eaton-search-inline">

  <!--/* If Headline */-->
  <p class="eaton-search-inline__headline eyebrow-small">Product Search</p>

  <!--/* Search Box */-->
  <form class="eaton-search-inline__form">
    <div class="form-group">
      <label for="mega-menu-search" class="sr-only">Product Search</label>
        <input type="email" class="form-control eaton-search-inline__form-input" id="mega-menu-search" placeholder="Products, sku, parts, specs">
        <button type="submit" class="eaton-search-inline__form-submit">
          <span class="sr-only">Search</span>
          <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
        </button>
    </div>
  </form>

</div>
