@font-face { font-family: 'Eaton'; src: url("fonts/EatonRegular.woff") format("woff"); }

@font-face { font-family: 'EatonMedium'; src: url("fonts/EatonMedium.woff") format("woff"); }

@font-face { font-family: 'EatonBold'; src: url("fonts/EatonBold.woff") format("woff"); }

@font-face { font-family: 'Arial'; src: url("fonts/Arial.woff"); }

body { color: #333F48; font-family: "Arial", sans-serif; }

h1, h2, h3, .heading-h1, .heading-h2, .heading-h3 { font-family: "Eaton", Arial, sans-serif; }

h4, h5, .heading-h5, .heading-h6 { font-family: "Arial", sans-serif; }

h1, .heading-h1 { margin-top: 0; }

h2, .heading-h2 { margin-top: 0; }

h3, .heading-h3 { margin-top: 0; }

h4, .heading-h4 { margin-top: 0; }

h5, .heading-h5 { margin-top: 0; }

h5__link, .heading-h5__link { font-size: 2.4rem; font-weight: bold; }

.body-link { color: #005EB8; }

.body-link:hover, .body-link:focus, .body-link:active { color: #003865; }

.dark-theme .body-link { color: #FFF; }

.dark-theme .body-link:hover, .dark-theme .body-link:focus, .dark-theme .body-link:active { color: #FFF; }

.body-copy { background: inherit; font-size: 2.2rem; line-height: 3.5rem; color: #333F48; }

.body-copy-small { color: #333F48; font-family: "Arial", sans-serif; font-size: 26px; line-height: 34px; }

.eyebrow-small { color: #333F48; font-family: "Arial", sans-serif; font-size: 28px; font-weight: bold; line-height: 34px; }

@media screen and (min-width: 992px) { .body-copy-small { font-size: 18px; line-height: 24px; }
  .eyebrow-small { font-size: 18px; line-height: 24px; } }

.u-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.u-inline-flex { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.u-flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.u-flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.u-flex-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.u-flex-align-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.u-flex-justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.u-is-fixed { position: fixed; }

.u-absolute-fill { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.u-is-center-aligned { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.u-no-margin { margin: 0; }

.u-no-padding { padding: 0; }

.u-float-left { float: left; }

.u-float-right { float: right; }

.u-clearfix::before, .u-clearfix::after { content: " "; display: table; }

.u-clearfix::after { clear: both; }

.u-text-center { text-align: center; }

.u-text-left { text-align: left; }

.u-text-right { text-align: right; }

.u-text-uppercase { text-transform: uppercase; }

.u-visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.u-hide { display: none; }

.u-show { display: block; }

.u-show-inline { display: inline; }

.u-show-ib { display: inline-block; }

.u-hidden { visibility: hidden; }

.u-visible { visibility: visible; }

.button--reset { border: 0; background: none; padding: 0; }

.b-button { background: none; border-radius: 0; border-style: solid; display: inline-block; font-weight: bold; max-width: 600px; }

.b-button--with-icon .icon { margin-left: 1rem; }

.b-button--primary { border-width: 3px; font-size: 1.6em; padding: 20px 40px; }

.b-button--secondary { border-width: 3px; font-size: 1.4em; padding: 20px; }

.b-button--light { border-color: #005EB8; color: #005EB8; padding: 20px 40px; font-size: 1.6em; }

.b-button--light:hover, .b-button--light:active, .b-button--light:focus { color: #FFF; background: #005EB8; border-color: #005EB8; text-decoration: none; }

.b-button--dark { border-color: #FFF; color: #FFF; }

.b-button--dark:hover, .b-button--dark:active, .b-button--dark:focus { color: #005EB8; background: #FFF; border-color: #FFF; text-decoration: none; }

@media screen and (max-width: 767px) { .b-button { width: 100%; } }

.b-list__item { display: inline-block; padding-bottom: 2rem; }

.b-list--no-bullets { list-style-type: none; padding-left: 0; }
