h1, .b-heading-h1 { font-family: 'EatonMedium', sans-serif; font-size: 35px; line-height: 40px; }

@media screen and (min-width: 992px) { h1, .b-heading-h1 { font-size: 54px; line-height: 68px; } }

h2, .b-heading-h2 { font-family: 'EatonMedium', sans-serif; font-size: 28px; line-height: 32px; }

@media screen and (min-width: 992px) { h2, .b-heading-h2 { font-size: 40px; line-height: 50px; } }

h3, .b-heading-h3 { font-family: 'EatonMedium', sans-serif; font-size: 28px; line-height: 32px; }

@media screen and (min-width: 992px) { h3, .b-heading-h3 { font-size: 40px; line-height: 50px; } }

h4, .b-heading-h4 { font-family: Arial, sans-serif; font-size: 22px; font-weight: bold; line-height: 29px; }

@media screen and (min-width: 992px) { h4, .b-heading-h4 { font-size: 30px; line-height: 42px; } }

h5, .b-heading-h5 { font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; line-height: 30px; }

@media screen and (min-width: 992px) { h5, .b-heading-h5 { font-size: 26px; line-height: 40px; } }

.b-body-copy, .b-body-copy-small { font-family: Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 28px; }

.b-body-copy a, .b-body-copy-small a { color: #005EB8; }

.b-body-copy a:active, .b-body-copy-small a:active { font-weight: bold; }

@media screen and (min-width: 992px) { .b-body-copy, .b-body-copy-small { font-size: 24px; line-height: 38px; } }

.b-eyebrow-large { color: #333F48; font-family: Arial, "Arial", sans-serif; font-size: 17px; line-height: 20px; text-transform: uppercase; }

@media screen and (min-width: 992px) { .b-eyebrow-large { font-size: 24px; line-height: 38px; } }

.b-eyebrow-small { color: #333F48; font-family: Arial, "Arial", sans-serif; font-size: 14px; line-height: 17px; text-transform: uppercase; }

@media screen and (min-width: 992px) { .b-eyebrow-small { font-size: 18px; line-height: 24px; } }

@font-face { font-family: 'Eaton'; src: url("fonts/EatonRegular.woff") format("woff"); }

@font-face { font-family: 'EatonMedium'; src: url("fonts/EatonMedium.woff") format("woff"); }

@font-face { font-family: 'EatonBold'; src: url("fonts/EatonBold.woff") format("woff"); }

@font-face { font-family: 'Arial'; src: url("fonts/Arial.woff"); }

body { color: #333F48; font-family: Arial, "Arial", sans-serif; font-size: 16px; }

b, strong { font-weight: bold; }

em { font-style: italic; }

i { font-style: normal; }

p { line-height: 1.3; }

h1, h2, h3, .b-heading-h1, .b-heading-h2, .b-heading-h3 { font-family: "Eaton", Arial, sans-serif; }

h4, h5, .b-heading-h5, .b-heading-h6 { font-family: Arial, "Arial", sans-serif; }

h1, .b-heading-h1 { margin-top: 0; }

h2, .b-heading-h2 { margin-top: 0; }

h3, .b-heading-h3 { margin-top: 0; }

h4, .b-heading-h4 { margin-top: 0; }

h5, .b-heading-h5 { margin-top: 0; }

/* .body-link { color: $color__primary-blue; &:hover, &:focus, &:active { color: $color__accent-darkblue; //TBD } .dark-theme & { color: $color__white; &:hover, &:focus, &:active { color: $color__white; //TBD } } } */
.u-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.u-inline-flex { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.u-flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.u-flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.u-flex-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.u-flex-align-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.u-flex-justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.u-is-fixed { position: fixed; }

.u-absolute-fill { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.u-is-center-aligned { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.u-no-margin { margin: 0; }

.u-no-padding { padding: 0; }

.u-float-left { float: left; }

.u-float-right { float: right; }

.u-clearfix::before, .u-clearfix::after { content: " "; display: table; }

.u-clearfix::after { clear: both; }

.u-text-center { text-align: center; }

.u-text-left { text-align: left; }

.u-text-right { text-align: right; }

.u-text-uppercase { text-transform: uppercase; }

.u-visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.u-hide { display: none; }

.u-show { display: block; }

.u-show-inline { display: inline; }

.u-show-ib { display: inline-block; }

.u-hidden { visibility: hidden; }

.u-visible { visibility: visible; }

.button--reset { border: 0; background: none; padding: 0; }

.b-button { background: none; border-radius: 0; border-style: solid; display: inline-block; font-weight: bold; max-width: 600px; }

.b-button--with-icon .icon { margin-left: 1rem; }

.b-button--primary { border-width: 3px; font-size: 1.6em; padding: 20px 40px; }

.b-button--secondary { border-width: 3px; font-size: 1.4em; padding: 20px; }

.b-button--light { border-color: #005EB8; color: #005EB8; padding: 20px 40px; font-size: 1.6em; }

.b-button--light:hover, .b-button--light:active, .b-button--light:focus { color: #FFF; background: #005EB8; border-color: #005EB8; text-decoration: none; }

.b-button--white { border-color: #FFF; color: #FFF; padding: 20px 40px; font-size: 1.6em; text-align: center; }

.b-button--white:hover { text-decoration: none; color: #FFF; }

.b-button--dark { border-color: #FFF; color: #FFF; }

.b-button--dark:hover, .b-button--dark:active, .b-button--dark:focus { color: #005EB8; background: #FFF; border-color: #FFF; text-decoration: none; }

@media screen and (max-width: 767px) { .b-button { max-width: 100%; } }

.b-list__item { display: inline-block; padding-bottom: 2rem; }

.b-list--no-bullets { list-style-type: none; padding-left: 0; }

.rich-text-container b, .rich-text-container strong { font-weight: 700; }

.rich-text-container i, .rich-text-container em { font-style: italic; }

.dark-theme .rich-text-container { color: #FFF; }

.dark-theme .rich-text-container h2, .dark-theme .rich-text-container h3, .dark-theme .rich-text-container h4, .dark-theme .rich-text-container h5, .dark-theme .rich-text-container h6 { color: #FFF; }
