<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">Breadcrumb Component</div>
</sly>



  <div class="eaton-breadcrumb">
    <div class="container">
      <ul class="eaton-breadcrumb__list" data-sly-list.link="${data.links}">
        <li class="eaton-breadcrumb__list-item" >
        	<a href="${link.list}" title="Go back to ${link.text}">${link.text}</a> <span class="glyphicon glyphicon-chevron-right" data-sly-test="${linkList.index != data.links.length}"></span>
        </li>
      </ul>
    </div>
  </div>

