//-----------------------------------
// SASS: Placeholders
// EATON - Styleguide
//-----------------------------------

// H1 Heading
//--------------
%h1 {
  font-family: 'EatonMedium', sans-serif;
  font-size: 35px;
  line-height: 40px;

  @include media-desktop-and-up {
    font-size: 54px;
    line-height: 68px;
  }
}


// H2 Heading
//--------------
%h2 {
  font-family: 'EatonMedium', sans-serif;
  font-size: 28px;
  line-height: 32px;

  @include media-desktop-and-up {
    font-size: 40px;
    line-height: 50px;
  }
}


// H3 Heading
//--------------
%h3 {
  font-family: 'EatonMedium', sans-serif;
  font-size: 28px;
  line-height: 32px;

  @include media-desktop-and-up {
    font-size: 40px;
    line-height: 50px;
  }
}


// H4 Heading
//--------------
%h4 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;

  @include media-desktop-and-up {
    font-size: 30px;
    line-height: 42px;
  }
}


// H5 Heading
//--------------
%h5 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;

  @include media-desktop-and-up {
    font-size: 26px;
    line-height: 40px;
  }
}


// Body Copy
//--------------
%body-copy {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;

  a {
    color: $color__primary-blue;

    &:active {
      font-weight: bold;
    }
  }

  @include media-desktop-and-up {
    font-size: 24px;
    line-height: 38px;
  }

}


// Body Copy Small
//--------------
%body-copy-small {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;

  a {
    color: $color__primary-blue;

    &:active {
      font-weight: bold;
    }
  }

  @include media-desktop-and-up {
    font-size: 18px;
    line-height: 24px;
  }

}


// Eyebrow Large
//--------------
%eyebrow-large {
  color: $color__primary-gray1;
  font-family: $font-family__secondary;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  @include media-desktop-and-up {
    font-size: 24px;
    line-height: 38px;
  }
}


// Eyebrow Small
//--------------
%eyebrow-small {
  color: $color__primary-gray1;
  font-family: $font-family__secondary;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  @include media-desktop-and-up {
    font-size: 18px;
    line-height: 24px;
  }
}
