//-----------------------------------
// Component M-22: Quote
//-----------------------------------
// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";

.quote {
  @include component-spacing();
}

.eaton-quote {
  .container {
    padding: 100px 0 60px;
    border-top: 4px solid $color__secondary-gray5;
    border-bottom: 4px solid $color__secondary-gray5;
    position: relative;
  }

  &__image {
    // width: 80px;
    // height: 82px;
    // background: $color__white;
    color: $color__primary-blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: -8px auto 0;

    .icon {
      font-size: 8rem;
    }
  }

  &__text {
    font-size: 3.4rem;
    font-style: italic;
    font-family: Arial;
    color: $color__primary-gray3;
    margin-bottom: 60px;
  }

  &__author {
    font-size: 2rem;
    font-family: Arial;
    font-style: italic;
    color: $color__primary-gray1;
  }

  &__name {
    font-weight: bold;
  }
}

@include media-mobile-and-tablet {
  .eaton-quote {
    .container {
      padding: 60px 15px 25px;
    }

    &__image {
      // width: 17%;
      // height: 50px;
      // background-size: contain;

      .icon {
        font-size: 6rem;
        line-height: .9;
      }
    }

    &__text {
      font-size: 2.3rem;
      margin-bottom: 20px;
    }

    &__author {
      font-size: 1.6rem;
    }

    &__name {
      display: block;
    }
  }
}

@include media-desktop-and-up {
  .eaton-grid-control {
    .eaton-quote {
      .container {
        width: 100%;
      }
    }

    .quote {
      padding-top: 0;
    }
  }
}
