   <div class="aem-GridColumn aem-GridColumn--tablet--8 aem-GridColumn--phone--12 mob-view-filter-wraper hidden-sm hidden-lg hidden-md">
		<div class="filter-main-container">
			<div class="button-container">
				<div class="filter-tab">
					<div class="result200">200Results</div>
					<div class="arrow">Sort By<span class="glyphicon glyphicon-menu-down chevron"></span></div>
				</div>
					<button type="button" class="btn btn-default filter-button">Filter(<span class="filter-count">0</span>)</button>
			</div>
		</div>
   </div>
	<div class="dekstop-view-wrapper">

      <div class="filter-list">
         <span class="hidden-xs narrow">Narrow results</span>
         <div class="aem-GridColumn aem-GridColumn--default--12 list-group-div">
			<div class="filterHeadHolder">
                <div class="filterHead">Group attribute</div>
                <div class="expand">&minus;</div>
				<div class="clear"></div>
				<ul>
                  <li><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></li>
                  <li><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></li>
                  <li><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></li>

				</ul>
<div class="dividerLine"></div>
			</div>


            </div>

         <div class="aem-GridColumn aem-GridColumn--default--12 list-group-div">
            <div class="filterHeadHolder">
                <div class="filterHead">Power Rating</div>
                <div class="expand">&minus;</div>
				<div class="clear"></div>
               <ul>
                  <li><label><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">700VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">800VA</label></label></li>

			</ul>
<div class="dividerLine"></div>
            </div>
			</div>
         <div class="aem-GridColumn aem-GridColumn--default--12 list-group-div">
            <div class="filterHeadHolder">
                <div class="filterHead">Voltage</div>
                <div class="expand">&minus;</div>
				<div class="clear"></div>
               <ul>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>

				</ul>
<div class="dividerLine"></div>
            </div>

         </div>
         <div class="aem-GridColumn aem-GridColumn--default--12 list-group-div">
            <div class="filterHeadHolder">
                <div class="filterHead">Frequency</div>
                <div class="expand">&minus;</div>
				<div class="clear"></div>
			<ul>
				<li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>
                <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>
                <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>

			</ul>
<div class="dividerLine"></div>
            </div>

         </div>
         <div class="aem-GridColumn aem-GridColumn--default--12 list-group-div">
            <div class="filterHeadHolder">
                <div class="filterHead">Configuration</div>
                <div class="expand">&minus;</div>
				<div class="clear"></div>
			<ul>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>
                  <li><label class="form-check-label"><input class=" check-box" type="checkbox" value=""><label class="checkbox-text-label">Loren Ipsum</label></label></li>

			</ul>
<div class="dividerLine"></div>
            </div>

         </div>
		 <div class="aem-GridColumn aem-GridColumn--default--12 button-div hidden-xs">
			<button class="">Apply</button>
		 </div>
		 <nav class="navbar navbar-default navbar-fixed-bottom bottombar">
			<div class="container no-padding">
				<div class="clear-filters clear-filters_ float-left"><label>Clear filters</label></div>
				<div class="apply float-right"><label>Apply</label></div>
			</div>
		 </nav>
</div>
      </div>