<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
    <div>Mobile Country Selector Component</div>
</sly>
<sly data-sly-use.countrySelectorHelper="com.eaton.platform.core.helpers.CountrySelectorHelper"></sly>
<div class="continent-dropdown-menu-mob" id="continent-dropdown-menu-mob">
    <div class="heading">
        <div class=" container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    Select your location <a href="#." class="utility-close-icon-mob"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
     <sly data-sly-list.regionlist="${countrySelectorHelper.countrySelectorBean.regionList}">
        <div class="panel panel-default">           
                <div class="panel-heading" role="tab" id="headingOne${regionlist.regionID}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne${regionlist.regionID}" aria-expanded="true" aria-controls="collapseOne${regionlist.regionID}">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            ${regionlist.regionname}
                        </a>
                    </h4>
                </div>
            <div id="collapseOne${regionlist.regionID}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne${regionlist.regionID}">
                    <div class="panel-body">
                        <div class="aem-Grid aem-Grid--12 country-language" data-sly-list.countryList="${regionlist.countrylist}">
                            <div class="aem-GridColumn aem-GridColumn--phone--2 aem-GridColumn--tablet--1 country-holder">
                                <div class="country-flag">
                                    <span class="flag flag1 floatRight"></span>
                                </div>
                            </div>
                            <div class="aem-GridColumn aem-GridColumn--phone--10 aem-GridColumn--tablet--10 country-language-holder">
                                <div class="country">
                                    <span class="country-name">${countryList.countryname}</span>
                                </div>
                                <div class="aem-Grid aem-Grid--12 country-language-margin" data-sly-list.laguageList="${countryList.languagelist}">
                                    <div class="aem-GridColumn aem-GridColumn--phone--6 aem-GridColumn--tablet--6">
                                        <div class="language">
                                            <a href="${laguageList.languagepath}.html" data-path="${laguageList.languagepath}" data-countryName="${countryList.countryname}"><span>${laguageList.languagename}</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>   
         </sly>       
    </div>
</div>