<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
    <div>Mobile Country Selector Component</div>
</sly>

<sly data-sly-use.CountrySelectorModel="com.eaton.platform.core.models.CountrySelectorBean"></sly>
<sly data-sly-use.countrySelectorHelper="com.eaton.platform.core.helpers.CountrySelectorHelper">

<div class="continent-dropdown-menu-mob" id="continent-dropdown-menu-mob" id="index" data-countryview="${CountrySelectorModel.view}" data-domain="${countrySelectorHelper.serverUrl}">
    <div class="heading">
        <div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    Select your location <a href="#." class="utility-close-icon-mob"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-sly-list.regionListbean="${countrySelectorHelper.regionListArr}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    ${regionListbean.regionName}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="aem-Grid aem-Grid--12 country-language">
                        <div class="aem-GridColumn aem-GridColumn--phone--2 aem-GridColumn--tablet--1 country-holder">
                            <div class="country-flag">
								<span class="flag flag1 floatRight"></span>
                            </div>
                        </div>
                        <div class="aem-GridColumn aem-GridColumn--phone--10 aem-GridColumn--tablet--10 country-language-holder" data-sly-list.countryListbean="${regionListbean.countryList}">
                            <div class="country">
                                <span class="country-name">${countryListbean.countryName}</span>
                            </div>
							<div class="aem-Grid aem-Grid--12 country-language-margin" data-sly-list.languageListbean="${countryListbean.languageList}">
								<div class="aem-GridColumn aem-GridColumn--phone--6 aem-GridColumn--tablet--6">
									<div class="language">
										<span data-languagepath="${languageListbean.languagePath}">${languageListbean.languageName}</span>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
     </div>  
</div>
