<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
    <div>Desktop Country Selector Component</div>
</sly>
<sly data-sly-use.countrySelectorHelper="com.eaton.platform.core.helpers.CountrySelectorHelper"></sly>

<div class="continent-dropdown-menu" id="continent-dropdown-menu">
<div class="aem-Grid aem-Grid--12 headingHolder" id="index" data-domain="http://localhost:4502/" data-countryview="${countrySelectorHelper.view}">
    <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
        <div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12 ">
                <div class="aem-GridColumn aem-GridColumn--default--11 aem-GridColumn--tablet--11 aem-GridColumn--phone--12">
                    <div class="heading container-fixed">${'select.location' @ i18n}</div>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--tablet--1 aem-GridColumn--phone--12">
                    <a href="#." class="utility-close-icon"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="utility-content ">
    <div class="aem-Grid aem-Grid--12 container-fixed container-padding">
        <!-- Navigation Buttons -->
        <div class="aem-GridColumn aem-GridColumn--tablet--3 aem-GridColumn--default--3">
            <ul class="nav nav-pills nav-stacked" id="myTabs" data-sly-list.regionlist="${countrySelectorHelper.countrySelectorBean.regionList}">
                <li><a href="#${regionlist.regionID}" data-toggle="pill">${regionlist.regionname}<span class="glyphicon glyphicon-menu-right"></span></a></li>
            </ul>
        </div>
        <!-- Content -->
        <div class="aem-GridColumn aem-GridColumn--tablet--9 aem-GridColumn--default--9 flag-list">
            <div class="tab-content" data-sly-list.regionlist="${countrySelectorHelper.countrySelectorBean.regionList}">
                <div class="tab-pane" id="${regionlist.regionID}">
                    <div class="aem-Grid aem-Grid--12">
                        <div class="aem-GridColumn aem-GridColumn--tablet--4 aem-GridColumn--default--4" data-sly-list.countryList="${regionlist.countrylist}">
                            <div class="country smallMarginBottom">
                                <span class="flag flag1"></span>
                                <span class="country-name">${countryList.countryname}</span>
                                </div>
                            <div class="language" data-sly-list.laguageList="${countryList.languagelist}">
                                <a href="${laguageList.languagepath}.html" data-path="${laguageList.languagepath}" data-countryName="${countryList.countryname}">${laguageList.languagename}</a>
                                <div data-sly-test="${!laguageListList.last}" data-sly-unwrap>|</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>