<div class="product-card-list">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--8 aem-GridColumn--phone--12">
    
            <div data-sly-resource="${'product-card1' @ resourceType='eaton/components/content/product-card'}"></div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--6">
            <div data-sly-resource="${'product-card2' @ resourceType='eaton/components/content/product-card'}"></div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--6">
            <div data-sly-resource="${'product-card3' @ resourceType='eaton/components/content/product-card'}"></div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--6">
            <div data-sly-resource="${'product-card4' @ resourceType='eaton/components/content/product-card'}"></div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--6">
            <div data-sly-resource="${'product-card5' @ resourceType='eaton/components/content/product-card'}"></div>
        </div>
    </div>
</div>