.cardHolder {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.categoryHighlightCard img {
	width: 100%;
}

.inner-border {
	border-left: 1px solid #a7b2ba;
    border-right: 1px solid #a7b2ba;
    border-bottom: 2px solid #a7b2ba;

}

.cardCaraousel {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.category-highlight-carousel-indicator {
	bottom: -35px;
	z-index: 2;
	width: 100%;
	padding-left: 0;
	text-align: center;
	list-style: none;
	left: 0;
}

.category-highlight-carousel-indicator li {
	border: 1px solid #c8c8c8 !important;
	background-color: #c8c8c8 !important;
	width: 15px;
	height: 15px;
	margin-top: 1px;
}

.category-highlight-carousel-indicator .active {
	background-color: #005eb8 !important;
	border: 0px solid #005eb8 !important;
	width: 15px;
	height: 15px;
	margin: 1px;
}


@media only screen and (max-width: 992px) {

	.inner-border {
		padding: 60px 50px !important;
	}
	.categoryHighlight .inner-border h5 {
		padding-top: 60px !important;
	}
	.categoryHighlight .cardCaraousel .item img {
		width: 100% !important;
		/* height: 400px !important; */
	}
	.inner-border {
		min-height: 256px !important;
	}
	.category-highlight-carousel-indicator {
		bottom: -60px;
	}
}
@media only screen and (max-width: 600px) {
.inner-border {
		min-height: 284px !important;
        height: 284px !important;
	}
}
    @media only screen and (max-width: 450px) {
.inner-border {
		min-height: 324px !important;
        height: 324px !important;
	}
}