/* Desktop Style starts here */
#related-items-content {
	background: #F8F8F8;
}

.related-item {
	border-width: 1px;
	border-color: #8c9aa5;
	border-style: solid;
	background-color: #fff;
	min-height: auto;
}

.related-items-image img {
	max-width: 100%;
	width: 100%;
}

.related-item {
	/* min-height: 452px; */
	   /* min-height: 490px;*/
    min-height:530px;
}

.related-items-title #mask {
	position: absolute;
	top: -1px;
	left: 1px;
	width: 16%;
	height: 4px;
	background-color: #005EB8;
	display: none;
}

.related-item-heading {
	text-align: center;
}

.related-items-title {
	text-align: left;
	text-transform: uppercase;
    font-size: 1.125em;
}

.related-item-card a {
	text-align: left;
	text-decoration: none;
}

.related-item-mob-container {
	display: none;
}

.related-item-mob-container .carousel-indicators li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #8c9aa5;
	border: 1px solid #fff;
	border-radius: 10px;
}

.related-item-mob-container .carousel-indicators .active {
	width: 15px;
	height: 15px;
	margin: 1px;
	background-color: #005EB8;
}

.related-item-mob-container .carousel-indicators {
	position: absolute;
	bottom: -62px;
	left: 0;
	z-index: 9;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	text-align: center;
	list-style: none;
	top: auto;
	transform: initial;
}

.related-items-padding {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.related-products-with-images-cat-rel3 .related-item {

	    height: 535px;
}
.related-products-with-images-cat-rel3 div.carousel {

    margin-bottom: 0px;
}

.related-products-with-images-cat-rel3.related-item-mob-container .carousel-indicators{
    margin-bottom:0px;
            }
/* Desktop Style ends here */



/**********MOBILE TABLET ***********/
@media only screen and (max-width: 600px) , screen and (min-width:
	601px) and (max-width:992px) {
	.related-item-web-container {
		display: none;
	}
	.related-item-mob-container {
		display: block;
	}

	#related-items-content div.carousel {
		margin-bottom: 45px;
	}
	.related-item {		
		 /*height: 560px;*/
	}
	.related-products-with-images-cat-rel3 .related-item {

	    height: auto;
	}
	.related-products-with-images-cat-rel3.related-item-mob-container {

   	 margin-bottom: 54px;
	}
	.related-item .related-item-card {
        max-height: 60px;
        overflow: hidden;
        min-height: 60px;        
	}
}

@media only screen and (min-width:320px) and (max-width:425px)
{	
	.related-item .related-item-card {
        max-height: 120px;
        overflow: hidden;
        min-height: 120px;        
	}
}  
@media only screen and (min-width:425px) and (max-width:600px)
{	
	.related-item .related-item-card {
        max-height: 90px;
        overflow: hidden;
        min-height: 90px;        
	}
}         
/**********MOBILE TABLET ***********/

/* 
screen and (min-width:	601px) and (max-width:992px) {
	.related-item {		
		 height: 840px; 
	}
	} */
/* career -rel3 */

.imagelist-desc
{
	 font-family: Arial;
     font-weight: bold;

}

.career-container
{
	height:500px;
}
.image-list
{
	height:200px;
}

.image-list img
{
	float:right;
}

.tile-link-container
{
	position: relative;

}
.tile-box-one
{
	background-color: #005CBC;
    height:200px;

}
.tile-box-two
{
	background-color: #5B6770;
    height:200px;

}
.tile-box-three
{
	background-color: #00B2A9;
    height:200px;

}
.tile-box-four
{
	background-color: #ED8B00;
    height:200px;

}
.tile-box-five
{
	background-color: #005EB8;
    height:200px;

}
.tile-box-six
{
	background-color: #333F48;
    height:200px;

}

.tile-description
{
	position: absolute;
    bottom: 30px;
    left: 45px;

}

.tile-description h2
{
	color:#FFF;
    font-size: 2em;
    font-family: EatonMedium;

}

.tile-description  .arrow
{
	font-size: 0.7em;
    left: 5%;
}


@media only screen and (max-width: 992px) {
.tile-box-one,.tile-box-two,.tile-box-three,.tile-box-four,.tile-box-five,.tile-box-six
{

    height:350px;
}
.image-list img
{
	float:none;
}
.tile-link .smallPaddingRight
{
	padding-right:0px !important;
}

.tile-description h2
{

    font-size:1.725em;
}


}
