/* Desktop Style starts here */
#related-items-content{
	/*min-height: 615px;*/
	background:#F8F8F8;
	padding: 0px 0 120px 0;
	
}
.related-item{
	border-width: 1px;
	border-color:  #8c9aa5;
	border-style: solid;
	background-color:  #ffffff;
	/* width: 358px; */
	min-height: auto;

}
.related-items-Description{
	padding: 0 31px;
	padding-bottom: 25px;
        padding-right: 71px;

}
@media (max-width: 767px) and (orientation: landscape){
    .related-items-Description{

    padding-bottom: 30px;
}
}
.related-items-image img{
	/* width: 358px;
	height: 262px; */
	max-width:100%;
	width: 100%;
}

.related-item{
	min-height: 452px;
}

.related-items-title #mask {
        position: absolute;
		top: -1px;
		left: 1px;
		width: 16%;
		height: 4px;
		background-color: #005EB8;
		display:none;
}
.related-item-heading{
	font-family: Eaton;
	color:  #333f48;
	font-size: 35.97px;
	font-weight: 700;
	line-height: 58px;
	text-align: center;
	transform: scaleY(1.0007);
	    margin-bottom: 20px;
    margin-top: 42px;
}
.related-items-title{
	margin-top: 7px;
	font-family: Arial;
	color:  #333f48;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.42857143;
    text-align: left;
    padding: 10px 0px;
	transform: scaleX(1.0021);
	text-transform: uppercase;
	margin-bottom: 0px;
}
.related-item-card a{
	font-family: Eaton;
	color:  #005eb8;
	font-size: 26px;
	font-weight: 700;
	line-height: 32px;
	text-align: left;
	text-decoration:none;
}
.related-item-mob-container{
	display:none;
}

.related-item-mob-container .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #8c9aa5;
    border: 1px solid #fff;
    border-radius: 10px;
}
.related-item-mob-container .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: #005eb8;
}
.related-item-mob-container .carousel-indicators {
    position: absolute;
    bottom: -55px;
    left: 0;
    z-index: 9;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
        top: auto;
    transform: initial;
}

.related-items-padding{
	padding-left:15px !important;
    padding-right:15px !important;
}
/* Desktop Style ends here */

/* iPhone 4, 5, 5s Style starts here */

@media only screen and (max-width: 767px) {

.related-item-web-container{
	display:none;
}
.related-item-mob-container{
	display:block;
}
    .related-item{
	min-height: auto;
}
}
/* iPhone 4, 5, 5s Style ends here */

/* iPhone 4, 5, 5s landscape Style starts here */
@media (max-width: 767px) and (orientation: landscape){
    
}
/* iPhone 4, 5, 5s landscape Style ends here */

/*iPhone 6 Portrait Style starts here*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {	
    
}
/*iPhone 6 Portrait Style ends here*/

/*iPhone 6 landscape starts here*/
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation : landscape) { 
}
/*iPhone 6 landscape ends here*/

/*iPhone 6+ Portrait starts here*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
	
}
/*iPhone 6+ Portrait ends here*/

/*iPhone 6+ landscape starts here*/
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : landscape) { 
    
}
/*iPhone 6+ landscape ends here*/

/* iPad portrait Style starts here */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.related-item {
    border-width: 1px;
    border-color: #8c9aa5;
    border-style: solid;
    background-color: #ffffff;
    /* width: 358px; */
    min-height: 740px;
}
.related-item-web-container{
	display:none;
}
.related-item-mob-container{
	display:block;
}
.related-items-Description{
	padding: 0 31px;
	padding-bottom: 25px;
        padding-right: 50px;

}

}
/* iPad portrait Style ends here */

/* iPad landscape Style starts here */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .related-item-web-container{
	display:block;
}
.related-item-mob-container{
	display:none;
}
  .related-item{
	min-height: 488px;
}  
}
/* iPad landscape Style ends here */