<!-- back To Search Link Starts -->
		<div class="backToSearch">
			<div class="container">
				
				<a href="#"><span class="glyphicon glyphicon-menu-left"></span> Back To Search Result</a>
		<!--Page Utility Starts -->
			  <!--<span class="pageUtility"><a href="#"><img src="../../../../../../../content/dam/eaton/images/share.png"></a></span>-->
			  <span class="pageUtility">
				<div data-sly-resource="${'page-utility' @ resourceType='eaton/components/structure/page-utility'}"></div>
			 </span>
	  <!--Page Utility Ends -->
			</div>
		</div>
	  <!-- Back To Search Link Ends -->