.dekstop-view-wrapper{
display:block;
    margin:30px 30px 0px 0px;
}

.narrow{
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    }
.list-group-div{
    margin-bottom:10px;
}

.filter-list ul{
    list-style: none;
    padding: 0;
    margin: 10px 0px 0px 10px;

}
.filter-list ul li{
color:#0071bb;
    margin-top:10px;
}
.filterHeadHolder{
margin-top:33px;
}

.filter-list .dividerLine{
    height:1px;
    background:#ccc;
    margin-top:27px;
}

.none{
display:none;
}
.top-left label{
    padding: 0 35px 0 0;
    font-size: 12px;
    font-weight: bold;
    opacity: .8;
	letter-spacing: 1px;
}
.float-right label{
color:#0071bb;
}



.checkbox-text-label{ 
margin: 0;
vertical-align: text-bottom;
margin-left: 10px;
    font-size: 13px;
    font-family: Arial;
    line-height:22px;
}

.button-div {
    margin-top: 5%;
}
.button-div button{
    border: 2px solid #0071bb;
    background-color: white;
    border-radius: 2px;
    color: #0071bb;
    padding: 4px 25px;
    margin-top: 10px;
    margin-left: 10px;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
}

.filterHead{
	font-family:Arial;
    font-size:16px;
    float:left;


}
.filterHeadHolder{

}
.bottombar{
display:none;
}

.clear-filters label{

}
.apply{
background-color:#0071bb;
text-align:center;
width:50%;
height: 50px;
}
.apply label{
    margin-top: 13px;
	color:white;
}
.button-container{
    border: 1px #ccc solid;
    margin: 5% 0% 5% 0%;
}
.filter-main-container{
}
.filter-button {
       margin: 5% 10% 7% 10%;
    width: 80%;
    border-radius: 0;
    border-color: #0071bb;
	    border-width: 2px;
		letter-spacing: 1px;
}
.filter-tab{
    margin: 5% 10% 0% 10%;
}
.filter-tab .float-right{
    opacity: .8;
    font-family: sans-serif;
    letter-spacing: .9px;
}
.filter-tab .float-left{
    opacity: .8;
    font-family: sans-serif;
    letter-spacing: .9px;
}
.mob-view-filter-wraper{
display:none;
}

.expand{
color:#005EB8;
    font-size:16px;
    font-weight:bold;
    float:right;
}

.load-more {
    background: transparent;
    border: 2px #0071bb solid;
    padding: 10px 0;
    color: #0071bb;
    font-weight: bold;
}
.load-more-parent{
    margin-left: 34%;
}
.load-more-child{
    width: 100%;
    margin-top: 5%;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
.load-more-parent {
    margin-left: 0%;
}


.top-left {
    margin-bottom: 5%;
}
 .bottom-fixed{
  position:absolute;
    bottom: 5%;
    right:20%;
 }
 .bottombar{
display:block;
}

.filter-main-container .result200{
float:left;
    color:#333f48;
    font-family:Arial;
    font-size:18px;
}

.filter-main-container .arrow{
float:right;
    font-family:Arial;
    font-size:14px;
    color:#005EB8;
}


.top-left label {
       padding: 0 20px 0 0;
    font-size: 12px;
    font-weight: bold;
    opacity: .8;
    letter-spacing: 1px;
}
}
input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    border: 1px #eef0f2 solid;
    width: 15px;
    height: 15px;
    background: #eef0f2;
    position: relative;
        margin:0px;
}
input[type="checkbox"]:checked:after {
content: "\2713";
position: absolute;
        left: 10%;
    top: -30%;
}