.cookie-acceptance { background-color: #333F48; color: #FFF; top: 0; left: 0; width: 100%; padding: 30px 0 20px; z-index: 99999; display: none; }

.cookie-acceptance__agreement { color: #FFF; }

.cookie-acceptance__agreement a, .cookie-acceptance__agreement a:hover { color: #fff; text-decoration: underline; }

@media screen and (max-width: 767px) { .cookie-acceptance { padding: 10px 0 15px; }
  .cookie-acceptance__cta { width: 100%; margin-top: 5px; } }
