//-----------------------------------
// Template: T7-Product Family Models Grid
//-----------------------------------

// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";


// Import SubModules
.product-specifications {

  margin-top: 60px;
  margin-bottom: 40px;

  .value-type-document {
    // empty selector for future reference
  }

  .value-type-link {
    margin-right: 1rem;
  }

  .value-type-image {

    a { display: inline-block; }

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .value-type-default {
    // empty selector for future reference
  }


  //-----------------------------------
  // MediaQuery: 0-991px
  //-----------------------------------
  @include media-mobile-and-tablet {

    .module-anchor-links {
      display: none;
    }

    .value-type-image {
      img {
        margin-left: 6px;
        max-width: 26px;
        max-height: 26px;
      }
    }

  }


  //-----------------------------------
  // MeidaQuery: > 992px
  //-----------------------------------
  @include media-desktop-and-up {

    .value-type-image {

      $image-size: 42px;

      img {
        max-width: $image-size;
        max-height: $image-size;
      }
    }
  }
}
