//-----------------------------------
// Template: T7-Product Family Models Grid
//-----------------------------------

// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";


// Import SubModules
.product-specifications {
  padding: 20px 0;

  .value-type-document {
    // empty selector for future reference
  }

  .value-type-link {
    margin-right: 1rem;
  }

  .value-type-image {

    a { display: inline-block; }

    img {
      width: 100%;
      height: auto;
      max-width: 43px;
      max-height: 43px;
      vertical-align: middle;
    }
  }

  .value-type-default {
    // empty selector for future reference
  }


  //-----------------------------------
  // MediaQuery: Mobile & Tablet Only
  //-----------------------------------
  @include media-mobile-and-tablet {

    .module-anchor-links {
      display: none;
    }

  }



  //-----------------------------------
  // Media Query Desktop & Desktop Large
  //-----------------------------------
  @include media-desktop-and-up {
    padding: 40px 0;

    .module-anchor-links {
      margin-right: 20px;
    }
  }
}
