//-----------------------------------
// Template: T7-Product Family Models Grid
//-----------------------------------

// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";


// Import SubModules
.product-specifications {
  padding: 20px 0;


  //-----------------------------------
  // MediaQuery: Mobile & Tablet Only
  //-----------------------------------
  @include media-mobile-and-tablet {

    .module-anchor-links {
      display: none;
    }

  }



  //-----------------------------------
  // Media Query Desktop & Desktop Large
  //-----------------------------------
  @include media-desktop-and-up {
    padding: 40px 0;

    .module-anchor-links {
      margin-right: 20px;
    }
  }
}
