.eaton-grid-control { position: relative; margin: 60px 0; }

@media screen and (max-width: 991px) { .eaton-grid-control__column { margin-bottom: 60px; }
  .eaton-grid-control__column:last-child { margin-bottom: 0; } }
