<div class="eaton-list-component text-only-3-column container" data-sly-use.data="${'../data/view-text-only-3-column.js' @testdata=properties.testdata}">
    <div class="row">


<div class="col-xs-12">
<h2 class="b-heading-h2">${data.title}</h2>
</div>
</div>
    <div class="row">



        <ul class="text-only-3-column__slides" data-sly-list.card="${data.cards}">
            <li class="slides text-only-3-column__card">
        

       <a href="${data.single_feature_card.cta.url}" target="${data.single_feature_card.cta.target}" class="article-list-single-feature__link">
                <span class="article-list-single-feature--border"></span>
                <div class="article-list-single-feature__article--copy">
                    <p class="b-eyebrow-small">${card.title}</p>
                    <p class="b-h5-link">${card.text}</p>
                    
                </div>
            </a>






            </li>
        </ul>
        
            <button class="text-only-3-column__prev-arrow upsell-products__arrows button--reset">
                <i class="icon icon-chevron-left"></i>
                <span class="sr-only">Go to Previous Item</span>
            </button>
            <button class="text-only-3-column__next-arrow upsell-products__arrows button--reset">
                <i class="icon icon-chevron-right"></i>
                <span class="sr-only">Go to Next Item</span>
            </button>
       
    








    </div>


</div>
