<div data-sly-use.data="${'../data/view-related-products-data.js'}" class="related-products-component carousel slide" data-ride="carousel" data-pause="hover">

    <!-- Indicators -->
    <ol data-sly-list.slide="${data.cards}" class="carousel-indicators">
        <li data-target=".carousel-component"
            data-slide-to="${slideList.index}"
            class="carousel-component__dots ${slideList.index == 0 ? 'active' : ''}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div data-sly-list.slide="${data.cards}" class="carousel-component-slide carousel-inner" role="listbox">
        <div class="item ${slideList.index == 0 ? 'active' : ''}">
            <div class="row">
                <div class="col-sm-3" data-sly-repeat.slide1="${data.cards}">
                    <div class="col-xs-12 related-products-component__card">
                        <img class="carousel-component-slide__image" src="${slide1.image}" alt="${slide1.alt}">
                    </div>
                    <div class="col-xs-12">
                        <p class="b-eyebrow-small">${slide1.title}</p>
                        <p class="b-h4-link">${slide1.text}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-3" data-sly-repeat.slide1="${data.cards}">
                    <img class="carousel-component-slide__image visible-lg visible-md " src="${slide.image}" alt="${slide.alt}">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <button data-sly-test="${slideList.count > 1}"
                class="carousel-component__arrow left carousel-control button--reset"
                role="button">
            <span class="icon icon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Go to Previous Slide</span>
        </button>
        <button data-sly-test="${slideList.count > 1}"
                class="carousel-component__arrow right carousel-control button--reset"
                role="button">
            <span class="icon icon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Go to Next Slide</span>
        </button>
    </div>
</div>