<div class="eaton-list-component article-list-single-feature container" data-sly-use.data="${'../data/view-article-list-single-data.js' @testdata=properties.testdata}">
    <div class="row article-list-single-feature__container">
        <div class="col-xs-12 col-md-6 article-list-single-feature__single">
            <a href="${data.single_feature_card.cta.url}" target="${data.single_feature_card.cta.target}"
              class="article-list-single-feature__link equal-height-row tablet-card">
                <div class="related-category--tablet-left category__image">
                    <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-background.html">
                        <sly data-sly-call="${ tpl.module @ data=data.single_feature_card.image }"></sly>
                    </sly>
                </div>
                <div class="category__item--border category__item-innerpadding related-category--tablet-right">
                    <p class="b-eyebrow-large category__title--bottompadding">${data.single_feature_card.title}</p>
                    <p class="b-heading-h4">${data.single_feature_card.text}</p>
                    <p class="category-item-date category-item-date--gray3"><em>${data.single_feature_card.date_text}</em></p>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 article-list-single-feature__article" data-sly-list.card="${data.cards}">
            <a href="${data.single_feature_card.cta.url}" target="${data.single_feature_card.cta.target}" class="article-list-single-feature__link">
                <span class="article-list-single-feature--border"></span>
                <div class="article-list-single-feature__article--copy">
                    <p class="b-eyebrow-small category__title--bottompadding">${card.title}</p>
                    <p class="b-heading-h4">${card.text}</p>
                    <p class="category-item-date category-item-date--gray3 category-item-date--padding"><em>${card.date_text}</em></p>
                </div>
            </a>
        </div>
    </div>
    <!--/* Bottom CTA */-->
    <div class="row">
        <div class="col-xs-12 text-center featured-category__cta-container">
            <sly data-sly-resource="${'featured-article-ctabutton' @ resourceType='/apps/eaton/static-components/general/cta'}"></sly>
        </div>
    </div>
</div>
