<div class="article-list-single-feature container" data-sly-use.data="../data/view-article-list-single-data.js">
    <div class="row article-list-single-feature__container">
        <div class="col-xs-12 col-md-6 feature-block-component__copy" style="background-color: ${data.backgroundColor @ context='styleString'}">
            <a href="${data.single_feature_card.url}" class="equal-height-row tablet-card">
                <div class="related-category--tablet-left">
                    <img src="${data.single_feature_card.image}" class="img-responsive category__image" alt="${data.single_feature_card.alt}"/>
                </div>
                <div class="category__item--border category__item-innerpadding related-category--tablet-right category__item">
                    <p class="related-category__title--font category__title--bottompadding">${data.single_feature_card.eyebrow}</p>
                    <p class="category__link--font">${data.single_feature_card.headline}</p>
                    <p class="category-item-date"><em>${data.single_feature_card.date}</em></p>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 feature-block-component__image" data-sly-list.card="${data.cards}">
            <a href="${data.single_feature_card.url}" class="">
                <span class="article-list-single-feature--border"></span>
                <div class="category__item-innerpadding category__item">
                    <p class="related-category__title--font category__title--bottompadding">${card.title}</p>
                    <p class="category__link--font">${card.text}</p>
                    <p class="category-item-date"><em>${card.date}</em></p>
                </div>
            </a>
        </div>
    </div>
</div>
