<!--/*
  Component M-36 - Product Card: SKU
*/-->
<template data-sly-template.item="${ @ data }">

  <div class="product-card-sku">

    <!--/* Product Image */-->
    <div class="product-card-sku__image-wrapper b-body-copy-small">
      <img src="${ data.productItem.imgSrc }" class="product-card-sku__image" alt="${ data.productItem.imgAlt }" />
    </div>

    <!--/* Product Header */-->
    <div class="product-card-sku__header">

      <div class="product-card-sku__title-wrapper">
        <h3 class="product-card-sku__name">
          <a href="${ data.productItem.link.url @ context='uri' }"
            target="${ data.productItem.link.target }"
            class="product-card-sku__url-link">${ data.productItem.name }</a>

            <i class="icon icon-chevron-right" aria-hidden="true"></i>
        </h3>
        <div class="product-card-sku__price b-body-copy">${ '${0}' @ format=[ data.productItem.price ] }</div>
      </div>

      <!--/* Product Links */-->
      <div class="product-card-sku__links-list b-body-copy">
        <a href="#" class="product-card-sku__link-item">
          <span class="link-label">${ 'Specifications' @ i18n }</span>
          <i class="icon icon-chevron-right u-visible-mobile" aria-hidden="true"></i>
        </a>
        <a href="#" class="product-card-sku__link-item">
          <span class="link-label">${ 'Resources' @ i18n }</span>
          <i class="icon icon-chevron-right u-visible-mobile" aria-hidden="true"></i>
        </a>
      </div>

    </div>



    <!--/* Content */-->
    <div class="product-card-sku__content">

      <div class="product-card-sku__attrs-list"
        data-sly-list.attribute="${ data.productItem.attributes }">
        <div class="product-card-sku__attrs-list-item">
          <div class="product-card-sku__attr-label b-eyebrow-small text-uppercase">${ attribute.label }</div>
          <div class="product-card-sku__attr-value b-body-copy">${ attribute.value }</div>
        </div>
      </div>

      <div class="product-card-sku__description b-body-copy">${ data.productItem.description }</div>

    </div>
  </div>

</template>
