//-----------------------------------
// Component M-22: Quote
//-----------------------------------
.eaton-quote {

  background-color: $color__primary-gray1;

  &__heading {
    margin-bottom: 1em;
  }

  &__author {
    color: $color__primary-blue;
    font-family: $font-family__primary;
  }
}
