// Import Sass Utils
//--------------
// @import './variables';
// @import './buttons';

.eaton-featured-topic {
    // TODO: move to the root component
    background: $color__secondary-gray3;
    padding: $space__xl $space__sm;

    // TODO: in the markup i'm still using body-copy
    &__title {
      margin-bottom: $space__sm;
    }

    &__paragraph {
      margin-bottom: $space__md;
    }

}


// TODO: move to a standalone component
// TODO: check for reuse
.eaton-link-list {
  &__title {
    margin-bottom: $space__sm;
  }

  &--no-list-style {
    list-style: none;
    padding: 0;
  }
}
