.eaton-title-text-image {
  font-family: $font-family__primary;
}

.article-feature {
  &-image {
    width: 100%;
    height: auto;
    margin-top: 120px;
  }

  &-title {
    font-size: 1.5em;
    font-weight: bold;
    color: $color__primary-gray1;
    text-transform: uppercase;
    margin-top: 60px;
  }

  &-cta {
    color: $color__primary-blue;
    font-size: 2.5em;
    font-family: Arial;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;

    & a:hover,
    & a:active,
    & a:visited,
    & a:focus {
      text-decoration: none;
      color: $color__primary-blue;
    }
  }

  &-date {
    margin-bottom: 60px;
  }

  &-body {
    margin-bottom: 120px;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  .article-feature {
    &-image {
      margin-top: 60px;
    }

    &-title {
      font-size: 1.1em;
      margin-top: 30px;
    }

    &-date {
      margin-bottom: 30px;
    }

    &-body {
      margin-bottom: 60px;
      line-height: 1.5em;
      font-size: 1.2em;
    }

    &-cta {
      font-size: 1.5em;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
