.product-support-component { padding: 120px 30px; }

@media screen and (min-width: 768px) { .product-support-component { padding: 120px 0; } }

@media screen and (max-width: 991px) { .product-support-component--left { margin-bottom: 30px; } }

.product-support-component__icon { bottom: 110px; position: absolute; left: 25px; font-size: 60px; color: #ED8B00; }

@media screen and (min-width: 768px) and (max-width: 991px) { .product-support-component__icon { bottom: 15px; left: -60px; } }

@media screen and (min-width: 1200px) { .product-support-component__icon { bottom: 112px; left: -60px; } }

@media screen and (min-width: 1200px) { .product-support-component__info { margin-left: 50px; } }

.product-support-component__info--title { margin-bottom: 25px; }

.product-support-component__info--copy { width: 50%; float: left; }

@media screen and (max-width: 767px) { .product-support-component__info--copy { width: 100%; } }
