
.categoryMenu{
margin:10px 0px;
}
.tabHolder li{
width:30% !important;
border-radius:0px;
font-weight:bold;
margin-top:10px;
    margin-right:3% !important;

}
.tabHolder li:nth-child(1) {
margin-right:0%;

}
.tabHolder li:nth-child(1) a{
padding-left:0px !important;
}
.tabHolder li:nth-child(2) {
margin-left: 0%;
margin-right:0%;
}
.tabHolder li:nth-child(3) {
margin-left:0%;
}
.tabHolder > li a{
border-radius:0px !important;
}
.tabHolder > li.active > a, .tabHolder > li.active > a:hover, .tabHolder > li.active > a:focus{
border-bottom:3px solid #0a70cd;
background-color:#fff !important;
color:#000 !important; margin-bottom:-2px;
}
.tabHolder > li > a, .tabHolder > li > a:hover, .tabHolder > li > a:focus{
border-bottom:1px solid #f8f8f8;

}
.tabHolder > li a:hover{
background:#fff !important;
}

.menuListHolder{
 padding:30px 0px;
}
.menuList{
list-style:none;
padding-left:0px;
}
.mSeperator{
border-left:1px solid #e3e3e3;
padding:0px 20px; padding-left:60px !important;
}
.menuList li{
color:#0a70cd;
padding-bottom:20px;
}
.bottom_options{
margin-top:10px;
}
.categoryMenuPanel
{
	background-color:#ff4;	
}
.viewAllLink{
color:#0a70cd;
width: 70%; font-size:20px;
}
.tab-content > .active {

    overflow: auto;

}
.tabHolder li a { font-size:24px; font-weight:600; padding-right:0px; padding-left:0px; }
.menuList li { font-size:18px; }
.menuList-heading{ font-size:24px !important; }

.categoryMenuPanel
{
	background-color:#F8F8F8;	
}
.viewSubLinks
{
	max-height:130px;
}

.categoryMenu .panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
    	border-right:0px; border-left:0px; border-top:0px;
	}
.categoryMenu .panel-group .panel:first-child { border-top:1px; }
.panel-group .panel + .panel { margin-top:0px; }
.collapse.in { overflow:auto; }

	.categoryMenu .panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		background: none !important;
		border-color: #EEEEEE;
	}

	.categoryMenu .panel-title {
		font-size: 14px;
	}

	.categoryMenu .panel-title > a {
		display: block;
		padding: 15px 0px;
		text-decoration: none;
	}

	.categoryMenu .more-less {
		float: right;
		color: #212121;
	}

	.categoryMenu .panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}

.categoryMenu{
margin:10px 0px;
}
.tabHolder li{
/*width:27%;
border-radius:0px;*/
font-family:arial;
font-weight:bold;
}
/*.tabHolder li:nth-child(1) {
margin-right:3%;

}
.tabHolder li:nth-child(1) a{
padding-left:0px !important;
}
.tabHolder li:nth-child(2) {
margin:0% 3%;
}
.tabHolder li:nth-child(3) {
margin-left:3%;
}
*/
.tabHolder > li a{
padding: 20px 0px;
}
.tabHolder > li.active > a, .tabHolder > li.active > a:hover, .tabHolder > li.active > a:focus{
border-bottom:3px solid #0a70cd;
background-color:#fff !important;
color:#000 !important;
}
.tabHolder > li a:hover{
background:#fff !important;
}

.menuListHolder{
    padding: 30px 10px;
}
.menuList{
list-style:none;
    padding-left: 7%;
}
.mSeperator{
border-left:1px solid #e3e3e3;
padding:0px 20px;
}
.menuList li{
color:#0a70cd;
padding-bottom:20px;
}
.bottom_options{
margin-top:10px;
}

.viewAllLink{
color:#0a70cd;
width: 70%;
}

.categoryMenuPanel
{
	background-color:#F8F8F8;	
}
.viewSubLinks
{
	max-height:130px;
}

.categoryMenu .panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
	}

	.categoryMenu .panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		background-color: #FAFAFA;
		border-color: #EEEEEE;
	}

	.categoryMenu .panel-title {
		font-size: 14px;
	}

	.categoryMenu .panel-title > a {
		display: block;
		padding: 15px 0px;
		text-decoration: none;
	}

	.categoryMenu .more-less {
		float: right;
		color: #212121;
	}

	.categoryMenu .panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}


@media only screen and (max-width: 768px) {


@media only screen and (max-width: 768px) {
.menuList{
margin-top:5px;
margin-bottom:5px;
}
.searchBoxHolder img {
    right: 11px;
}
.categoryMenu .panel-title > a {
 font-size:1.5em; font-weight:bold; color:#337ab7; }.catg-menu-mobile 
.panel-heading .glyphicon-plus:before {

    color: #337ab7;
}
.menuList-heading {
    font-size: 1.4em !important;
}
       .catg-menu-mobile .col-xs-12.np { padding:0px !important; }
.catg-menu-mobile  .mSeperator {
        border-left: 0px ; }
        .no-padd-lr { padding-left:0px; padding-right:0px; }
.menuList {

    padding-left: 0%; 
}
}




@media only screen and (max-width: 768px) {
.menuList{
margin-top:5px;
margin-bottom:5px;
}
	.heroProductCatImage { height:180px; }
    .productLink {
    	font-family: Arial;
        font-size: 1em; }
    .hero_product_cat_heading h2 {
            font-size: 1.6em; }

    .heroProductCatDesc {
    	font-family: Arial;
    	font-size: 1em;
    	color: #fff;
    	line-height: 1.3em;
	}
    .navbar-collapse.collapse.in { z-index:2; }
.hero_product_cat_heading h2 { margin-top:10px; }
.heroProductCatSeperator {
    height: 3px;
    background: #fff;
    margin-top: -3px;
    margin-bottom: 6px;
}

}

@media only screen and (min-width: 768px) and (max-width: 900px) {

.heroProductCatDesc {

    font-size: 1.2em; line-height:1.5em;
    }

}

