//-----------------------------------
// Global Typography definition
//-----------------------------------
// Typography
//--------------
@import '../_config/variables/variables-colors';
@import '../_config/variables/variables-locale';

$base__font-size: 16px;
$base__line-height: 1.5;
$base__font-family: get-locale-font();
$secondary__font-family: get-locale-font('font__secondary');

body {
  color: $color__primary-gray1;
  font-family: $secondary__font-family;
  .dark-theme & {
    color: $color__white;
  }
}

.body-copy, .body-copy-link {
  font-size: 1.5em;
  line-height: 2.375em;
}

.body-copy-small, .body-small-link {
  font-size: 1.125em;
  line-height: 1.5em;
}

// Body Link
// Used with various typography elements  for link styles
// Eg: <a href="#" class="body-link body-small-link">...</a>
// Eg: <a href="#" class="body-link heading-h5">...</a>
//---------------------

.body-link {
  color: $color__primary-blue;
  cursor: pointer;

  &:hover, &:focus, &:active {
    color: $color__accent-darkblue; //TBD
  }

  .dark-theme & {
    color: $color__white;

    &:hover,
    &:focus,
    &:active {
      color: $color__white; //TBD
    }
  }
}

// Headings
// ----------------

h1, h2, h3,
.heading-h1, .heading-h2, .heading-h3 {
  font-family: $base__font-family;
}

h4, h5,
.heading-h5, .heading-h6 {
  font-family: $secondary__font-family;
}

h1, .heading-h1 {
  font-size: 2rem;
}

h2, .heading-h2 {
  font-size: 1.8rem;
}

h3, .heading-h3 {

}

h4, .heading-h4 {

}

h5, .heading-h5 {

}
