.eaton-linklist-2column {
  overflow: hidden;

  & > div {

    .col-xs-12 {
      padding: 0;
    }
  }

  &__link {
    margin-bottom: $spacing__sm;
  }

  @include media-desktop-and-up {

    & > div {

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}
