//-----------------------------------
// Component 4.5: Header - Mega Menu
// Link List - View - Download List
//-----------------------------------

.eaton-download-list {
  &__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__headline {
    margin-bottom: ($spacing__sm / 2);
    text-transform: uppercase;

    .dark-theme & {
      color: $color__white;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: ($spacing__sm / 3) 0; // Visually 30px Spacing between items
    text-decoration: none;
    margin-bottom: ($spacing__sm / 3);

    i {
      font-size: 1.2rem;
      margin-right: ($spacing__sm / 3);
      margin-top: 0.4rem;
    }

    .dark-theme & {
      color: $color__white;
    }
  }

  &__description,
  &__title,
  &__size {
    display: block;

    .dark-theme & {
      color: $color__white;
    }
  }

  &__size {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &--has-desc {

    &__item {
      margin-bottom: ($spacing__sm / 2);
    }

    &__headline {
      margin-bottom: ($spacing__sm);
    }
  }
}
