//-----------------------------------
// LinkList Component: Vertical View
//-----------------------------------
.eaton-link-list-vertical {
  font-size: 2.4rem;
  &__eyebrow {
    text-transform: uppercase;
  }

  &__eyebrow.heading {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  @include media-desktop-and-up {
    font-size: 1.8rem;

    &__eyebrow.heading {
      font-size: 1.8rem;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__list-item {

  }

  &__list-link {
    display: inline-block;
    padding: ($spacing__sm / 3) 0; // Visually 30px Spacing between items
  }

  &__list-icon {
    font-size: 1.4rem;
    margin-left: 0.4rem;
  }

  &__external-icon {
    padding-right: 10px;
    font-size: 1.5rem;
  }

  &__download-text {
    width: 100%;
    margin-left: 30px;
    font-size: 1.6rem;

    &--description {
      color: $color__primary-gray3;
      font-family: $font-family__secondary;
    }
  }


  // Over DARK-Background
  //--------------
  .dark-theme & {

    .icon-chevron-right {
      display: inline-block;
    }

    &__eyebrow,
    &__list-link,
    &__download-text {
      color: $color__white;
    }
  }


  //-----------------------------------
  // Media Query: Mobile/Tablet
  //-----------------------------------
  @include media-mobile-and-tablet {

    &__eyebrow {
      margin-bottom: 20px;
    }
  }


  //-----------------------------------
  // Media Query: Mobile/Tablet
  //-----------------------------------
  @include media-desktop-and-up {

    &__eyebrow {
      margin-bottom: ($spacing__sm / 2);
    }

    &__download-text {
      width: auto;
    }

  }


}
