.eaton-product-family-card__header { padding-bottom: 15px; }

.eaton-product-family-card__separator { width: 10%; height: 5px; background: #005EB8; margin-bottom: 15px; }

.eaton-product-family-card__image-wrapper { margin: 30px 0; text-align: center; }

.eaton-product-family-card__image-wrapper img { max-width: 750px; width: 100%; height: auto; }

.eaton-product-family-card__cta { text-align: center; margin-bottom: 30px; }

.eaton-product-family-card__links a { display: block; margin-bottom: 15px; }

@media screen and (min-width: 992px) { .eaton-product-family-card__header { padding-bottom: 30px; }
  .eaton-product-family-card__separator { margin-bottom: 30px; }
  .eaton-product-family-card__image-wrapper img { max-width: 360px; }
  .eaton-product-family-card__link-wrapper { margin-top: 90px; }
  .eaton-product-family-card__cta { text-align: left; }
  .eaton-product-family-card__links { margin-bottom: 30px; } }
