<div class="feature-block-component feature-block-component__right" data-sly-use.data="${'../data/view-product-features-data.js' @testdata=properties.testdata}">
    <div class="feature-block-component__image" data-sly-test="${data.image.desktop}" data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
        <sly data-sly-call="${ tpl.module @ data=data.image }"></sly>
    </div>
    <div class="feature-block-component__text-container">
        <h2>${data.title}</h2>
        <div class="feature-block-component__description b-body-copy">${data.text @ context = 'html'}</div>
    </div>
</div>
