<div class="feature-block-component" data-sly-use.data="../data/view-product-features-data.js">
    <div class="row feature-block-component__container feature-block-component__container--white">
        <div class="col-xs-12 ${data.imgSrc.length > 0 ? 'col-sm-7' : 'col-sm-12'} feature-block-component__copy" style="background-color: ${data.backgroundColor @ context='styleString'}">
            <div class="feature-block-component__text">
                <h2>${data.title}</h2>
                <div class="feature-block-component__description">${data.text @ context = 'html'}</div>
            </div>
        </div>
        <div data-sly-test="${data.imgSrc.length > 0}" class="col-xs-12 col-sm-5 feature-block-component__image feature-block-component__image--center">
            <img class="img-responsive" src="${data.imgSrc}" alt="${data.imgAlt}">
        </div>
    </div>
</div>