//-----------------------------------
// Component: Example Component
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";


.a-demo-component {

  background-color: $color__primary-gray1;

  &__heading {
    margin-bottom: 1em;
  }

  &__author {
    color: $color__primary-blue;
    font-family: $font-family__primary;
  }



  //-----------------------------------
  // MediaQuery: Mobile & Tablet Only
  //-----------------------------------
  @include media-mobile-and-tablet {
    width: 100%;
  }


  //-----------------------------------
  // MediaQuery: Desktop & Desktop Large
  //-----------------------------------
  @include media-desktop-and-up {
    margin: 40px 0;
  }

}
