<div class="utility-nav-mob-view show-mob">
    <div class="utility-nav utility-bottom-fixed" id="utility-nav-mob">
        <div class="container-full">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--tablet--12 aem-GridColumn--phone--12 contry-language-selector">
                    <ul>
                        <li id="selectRegion">
                            <a href="#." class="select-region-link-mob"><span class="utility-icon"></span>US/English<span class="caret"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="aem-GridColumn aem-GridColumn--tablet--12 aem-GridColumn--phone--12 sign-up-link">
                    <a href="#." class="pull-right"><span class="user-icon"></span>Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>