
// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";

.slick-carousel {
  position: relative;

  &__dots {
    text-align: center;

    li {
      display: inline;
      padding-right: 10px;
    }

    button {
      height: 10px;
      width: 10px;
      border: 10px;
      line-height: 0;
      display: inline;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border-radius: 10px;
      background-color: $color__secondary-gray5;
    }
  }

  &__arrows {
    position: absolute;
    top: 25%;
    color: $color__secondary-gray4;
    display: none !important;

    .icon {
      font-size: 37px;
    }
  }

  &__prev-arrow {
    left: 42px;
  }

  &__next-arrow {
    right: 42px;
  }

  .slick-active button {
    background-color: $color__primary-blue;
  }

  @include media-desktop-large {
    &:hover .slick-carousel__arrows {
      display: block !important;
    }
  }
}
