<sly data-sly-use.data="${'../data/view-image-only-data.js' @testdata=properties.testdata}">
    <div class="eaton-ttil-image-list">
      <!--/* Check if Grid is enabled */-->
      <div data-sly-list="${ data.items }" class="${properties.toggleInnerGrid ? 'container' : ''} eaton-ttil-image-list__container">
        <div class="eaton-ttil-image-list__item">
            <!--/* When Image has Headline & No Url */-->
            <div data-sly-test="${!item.url && item.headline}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <img src="${item.image}" class="img-responsive" />
              </div>
              <div class="img-responsive eaton-ttil-image-list__image-headline">${item.headline}</div>
            </div>

            <!--/* When Image has Headline & Url */-->
            <a data-sly-test="${item.url && item.headline}" href="${item.url}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <img src="${item.image}" class="img-responsive" />
              </div>
              <div class="eaton-ttil-image-list__image-headline">${item.headline}</div>
            </a>

            <!--/* When Image has no Headline */-->
            <div data-sly-test="${!item.headline}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <img src="${item.image}" class="img-responsive" />
              </div>
            </div>
        </div>
      </div>
    </div>
</sly>
