<sly data-sly-use.data="${'../data/view-category-hero-data.js' @testdata=properties.testdata}">
  <div class="eaton-category-hero dark-theme ${
    data.imageMaskEnabled ? 'image-mask' : ''
  } ${
    data.image.alignment ? 'bg-alignment' : ''
  } ${
    data.image.alignment == 'left' ? 'bg-alignment-left' : ''
  } ${
    data.image.alignment == 'center' ? 'bg-alignment-center' : ''
  } ${
    data.image.alignment == 'right' ? 'bg-alignment-right' : ''
  }">

    <div class="eaton-category-hero__image">
      <!-- Start: Rendition Image Component -->
      <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-background.html">
        <sly data-sly-call="${ tpl.module @ data=data.image }"></sly>
      </sly>
      <!-- End: Rendition Image Component -->
    </div>

    <div class="eaton-category-hero__content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="eaton-category-hero__eyebrow b-eyebrow-small">
              <a class="eaton-category-hero__cta"
                target="${ data.cta.target }"
                href="${ data.cta.url }"
                aria-label="${ 'Go back to' } ${ data.cta.title }"
              >
                <i class="icon icon-chevron-left" aria-hidden="true"></i>
                <span class="">${ data.cta.title }</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2 class="eaton-category-hero__title b-heading-h1">${ data.title }</h2>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="eaton-category-hero__text b-hero-description">${ data.text }</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</sly>
