<sly data-sly-use.data="${'../data/view-image-only-data.js' @testdata=properties.testdata}">
    <div class="eaton-ttil-image-list">
      <!--/* Check if Grid is enabled */-->
      <div data-sly-list="${ data.items }" class="${properties.toggleInnerGrid ? 'container' : ''} eaton-ttil-image-list__container">
        <div class="eaton-ttil-image-list__item">

            <!--/* When Image has Headline & No Url */-->
            <div data-sly-test="${!item.link && item.headline}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
                  <sly data-sly-call="${ tpl.module @ data=item.image }"></sly>
                </sly>
              </div>
              <div class="eaton-ttil-image-list__image-headline">${item.headline}</div>
            </div>

            <!--/* When Image has Headline & Url */-->
            <a data-sly-test="${item.link && item.headline}" href="${item.link.url}" target="${item.link.target}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
                  <sly data-sly-call="${ tpl.module @ data=item.image }"></sly>
                </sly>
              </div>
              <div class="eaton-ttil-image-list__image-headline">${item.headline}</div>
            </a>

            <!--/* When Image has no Headline and has a URL */-->
            <a data-sly-test="${!item.headline && item.link}" href="${item.link.url}" target="${item.link.target}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
                  <sly data-sly-call="${ tpl.module @ data=item.image }"></sly>
                </sly>
              </div>
            </a>

            <!--/* When Image has no Headline and no URL */-->
            <div data-sly-test="${!item.headline && item.link}" class="eaton-ttil-image-list__content">
              <div class="eaton-ttil-image-list__image">
                <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
                  <sly data-sly-call="${ tpl.module @ data=item.image }"></sly>
                </sly>
              </div>
            </a>
        </div>
      </div>
    </div>
</sly>
