<sly data-sly-use.data="${'../data/view-landing-hero-data.js' @testdata=properties.testdata }">
  <div class="eaton-landing-hero">
    <ul class="eaton-landing-hero__slide-list" data-sly-list.slide="${ data.hero }">
      <li class="eaton-landing-hero__slide-item ${
        slide.imageMaskEnabled ? 'image-mask' : ''
      } ${
        slide.image.alignment ? 'bg-alignment' : ''
      } ${
        slide.image.alignment == 'left' ? 'bg-alignment-left' : ''
      } ${
        slide.image.alignment == 'center' ? 'bg-alignment-center' : ''
      } ${
        slide.image.alignment == 'right' ? 'bg-alignment-right' : ''
      }">
        <div class="eaton-landing-hero__image">
          <!-- Start: Rendition Image Component -->
          <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-background.html">
            <sly data-sly-call="${ tpl.module @ data=slide.image }"></sly>
          </sly>
          <!-- End: Rendition Image Component -->
        </div>
        <div class="eaton-landing-hero__content">
          <div class="container">
            <div class="eaton-landing-hero__caption">
              <h2 class="b-heading-h1-hero">${ slide.title }</h2>
              <div data-sly-test="${ properties.showSeparator }"
                class="eaton-landing-hero__separator"></div>
              <div class="eaton-landing-hero__text b-hero-description">${ slide.text @ context = 'html'}</div>
              <a data-sly-test="${ slide.cta.text.length > 0 }"
                class="eaton-landing-hero__cta b-button b-button__primary b-button__primary--dark"
                href="${ slide.cta.url }"
                target="${ slide.cta.target }"
                role="button">${ slide.cta.text }</a>
            </div>
          </div>
        </div>

      </li>
    </ul>

    <div class="eaton-landing-hero__down-arrow visible-xs">
      <i class="icon icon-chevron-down" aria-hidden="true"></i>
    </div>

    <sly data-sly-test="${data.hero.length > 1 }">
      <button class="eaton-landing-hero__arrow--prev eaton-landing-hero__arrow button--reset">
        <i class="icon icon-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">${ 'Go to Previous Item' @i18n }</span>
      </button>
      <button class="eaton-landing-hero__arrow--next eaton-landing-hero__arrow button--reset">
        <i class="icon icon-chevron-right" aria-hidden="true"></i>
        <span class="sr-only">${ 'Go to Next Item' @i18n }</span>
      </button>
    </sly>

  </div>
</sly>
