<template data-sly-template.multiple="${@ param}">
    <div data-sly-use.data="${'../data/view-landing-hero-multiple-data.js' @testdata=param.testdata}" class="eaton-landing-hero carousel-component carousel slide" data-ride="carousel" data-pause="hover" data-sly-test="${param.hero.length > 1}">

      <!-- Indicators -->
      <ol data-sly-list.slide="${data.hero}" class="carousel-indicators">
        <li data-target=".carousel-component"
          data-slide-to="${slideList.index}"
          class="carousel-component__dots ${slideList.index == 0 ? 'active' : ''}"></li>
      </ol>
      <div class="carousel-component__down-arrow visible-xs">
        <span class="icon icon-chevron-down"></span>
      </div>

      <!-- Wrapper for slides -->
      <div data-sly-list.slide="${data.hero}" class="carousel-component-slide carousel-inner" role="listbox">
        <div class="item ${slideList.index == 0 ? 'active' : ''}">
          <img class="carousel-component-slide__image visible-lg visible-md " src="${slide.image}" alt="${slide.alt}">
          <img class="carousel-component-slide__image carousel-component-slide__image--mobile visible-xs visible-sm" src="${slide.mobile_image}" alt="${slide.alt}">
          <div class="carousel-component-slide__caption carousel-caption">
            <h2 class="carousel-component-slide__title">${slide.title}</h2>
            <p class="carousel-component-slide__text">${slide.text @ context = 'html'}</p>
            <a class="carousel-component-slide__cta b-button b-button__primary b-button__primary--dark" href="${slide.cta.url}" role="button" data-sly-test="${slide.cta.text.length > 0}">${slide.cta.text}</a>
          </div>
        </div>

        <!-- Controls -->
        <button data-sly-test="${slideList.count > 1}"
          class="carousel-component__arrow left carousel-control button--reset"
          role="button">
          <span class="icon icon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Go to Previous Slide</span>
        </button>
        <button data-sly-test="${slideList.count > 1}"
          class="carousel-component__arrow right carousel-control button--reset"
          role="button">
          <span class="icon icon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Go to Next Slide</span>
        </button>
      </div>
    </div>
</template>


<template data-sly-template.single="${@ param}">
  <div data-sly-use.data="${'../data/view-landing-hero-single-data.js' @testdata=param.testdata}"
    data-sly-test="${param.hero.length == 1}"
    class="eaton-landing-hero eaton-landing-hero--single carousel-component carousel slide"
    data-ride="carousel"
    data-pause="hover">

    <div class="carousel-component-slide carousel-inner"
      data-sly-list.slide="${data.hero}"
      role="listbox">
      <div class="item ${slideList.index == 0 ? 'active' : ''}">
        <img class="carousel-component-slide__image visible-lg visible-md " src="${slide.image}" alt="${slide.alt}" />
        <img class="carousel-component-slide__image carousel-component-slide__image--mobile visible-xs visible-sm" src="${slide.mobile_image}" alt="${slide.alt}" />
        <div class="carousel-component-slide__caption carousel-caption">
          <h2 class="landing-hero-single__title">${slide.title}</h2>
          <div class="carousel-component-slide__separator" data-sly-test="${properties.showSeparator}"></div>
          <p class="carousel-component-slide__text">${slide.text @ context = 'html'}</p>
          <a data-sly-test="${properties.showCta}"
            class="carousel-component-slide__cta b-button b-button__primary b-button__primary--dark"
            href="${slide.cta.url}" role="button">${slide.cta.text}</a>
        </div>
      </div>
    </div>

  </div>
</template>
