<sly data-sly-use.data="../data/view-featured-list-data.js">
    <div class="eaton-featured-list">

      <!--/* If Header */-->
      <div data-sly-test="${ data.header }" class="eaton-featured-list__eyebrow b-eyebrow-small">${ data.header }</div>

      <!--/* List Items */-->
      <div class="eaton-featured-list__cards" data-sly-list="${ data.items }" >
        <div class="eaton-featured-list__item">
            <a href="${ item.link }" aria-label="Go to ${ item.title }" class="eaton-featured-list__link">
                <div class="eaton-featured-list__image">
                  <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
                    <sly data-sly-call="${ tpl.module @ data=item.image }"></sly>
                  </sly>
                </div>

                <div class="eaton-featured-list__body">
                  <div class="eaton-featured-list__title b-body-copy-small">
                    ${item.title}
                    <i class="eaton-featured-list__icon glyphicon glyphicon-menu-right" aria-hidden="true"></i>
                  </div>
                  <div class="eaton-featured-list__text b-body-copy-small">${item.text}</div>
                </div>
            </a>
        </div>
      </div>
    </div>
</sly>
