<sly data-sly-use.data="${'../data/view-image-only-data.js' @testdata=properties.testdata}">
    <div class="eaton-ttil-image-list">
      <!--/* Check if Grid is enabled */-->
      <div data-sly-list="${ data.items }" class="${properties.toggleInnerGrid ? 'container' : ''} eaton-ttil-image-list__container">

        <div class="eaton-ttil-image-list__item">
          <div class="eaton-ttil-image-list__content">
            <div class="eaton-ttil-image-list__image">
              <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
                <sly data-sly-call="${ tpl.module @ data=item.image }"></sly>
              </sly>
            </div>
            <div data-sly-test="${item.headline}" class="eaton-ttil-image-list__image-headline  ${item.link ? 'headline-link' : ''}">${item.headline}</div>
            <a data-sly-test="${item.link}" class="eaton-ttil-image-list__image-link u-absolute-fill" href="${item.link.url}" target="${item.link.target}"></a>
          </div>
        </div>

      </div>
    </div>
</sly>
