<div class="product-support-component" data-sly-use.data="${../data/view-product-support-data.js @testdata=properties.testdata}">
    <div class="row">
        <div class="product-support-component--left col-xs-12 col-sm-10 col-sm-offset-2 col-lg-4 col-lg-offset-2">
            <div>
                <i class="product-support-component__icon icon icon-help"></i>
                <div class="product-support-component__text">
                    <h2>${data.title}</h2>
                    <p class="b-body-copy">${data.copy}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-lg-5 col-lg-offset-0">
            <div class="product-support-component__info">
                <div class="product-support-component__info--text">${data.info @ context = 'html'}</div>
            </div>
        </div>
    </div>
</div>