<div class="product-support-component" data-sly-use.data="../data/view-product-support-data.js">
    <div class="row spacing-xl">
        <div class="col-xs-6">
            <div class="feature-block-component__text">
                <h2>${data.title}</h2>
                <p>${data.copy}</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="feature-block-component__text">
                <div class="feature-block-component__description">${data.info @ context = 'html'}</div>
            </div>
        </div>
    </div>
</div>