<sly data-sly-use.data="${ '../data/view-pdh-data.js' @testdata=properties.testdata }">

    <div class="product-specifications">
        <div class="container">
            <div class="row">

                <!--/* M-39: Anchor Links */-->
                <div class="col-xs-12 col-md-3">
                    <div class="module-anchor-links">
                        <ul class="module-anchor-links__list">
                            <sly data-sly-list="${ data.anchors }">
                                <li class="module-anchor-links__list-item b-body-copy-small">
                                    <!--/* NOTE: data-scroll-to="#element-id" is a CSS Selector (Class, ID) */-->
                                    <button
                                            data-scroll-to="#${ item.anchorId }"
                                            data-scroll-to-offset-enabled="true"
                                            class="module-anchor-links__list-link button--reset">
                                        <span>${ item.anchorTitle }</span>
                                        <i class="icon icon-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </li>
                            </sly>
                        </ul>
                    </div>
                </div>

                <!--/* M-45: Table */-->
                <div class="col-xs-12 col-md-9">
                    <div data-sly-list="${data.anchors}" class="panel-group secondary-content-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel secondary-content-accordion__panel">
                            <div class="panel-heading secondary-content-accordion__header" role="tab" id="${item.anchorId}" data-toggle="collapse" data-parent="secondary-content-accordion"
                                 href="#collapse-${itemList.index}" aria-expanded="true" aria-controls="collapse-${itemList.index}">
                                <i class="secondary-content-accordion__icons icon ${itemList.index == 0 ? 'icon-sign-minus' : 'icon-sign-plus'}"></i>
                                    <h2 role="button">
                                        ${item.anchorTitle}
                                    </h2>
                            </div>
                            <div id="collapse-${itemList.index}" class="panel-collapse collapse ${itemList.index == 0 ? 'in' : ''}" role="tabpanel" aria-labelledby="${item.anchorId}">
                                <div class="secondary-content-accordion__body">
                                    <ul data-sly-list.document="${item.content}" class="eaton-download-list__links">
                                        <li>
                                            <a href="${document.url}" class="eaton-download-list__item" aria-label="Download ${document.type} for ${ document.title }">
                                                <i class="icon icon-download" aria-hidden="true"></i>
                                                <div class="eaton-download-list__document">
                                                    <span class="eaton-download-list__title">${document.title}<span data-sly-test="${document.isNew}" class="secondary-content-accordion__badge">NEW</span></span>
                                                    <span class="eaton-download-list__size">(${document.type} ${document.size}, ${document.date})</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</sly>
