<template data-sly-template.module="${ @ data }">

  <div class="faceted-navigation-header">
    <div class="faceted-navigation-header__header-top">
      <div class="faceted-navigation-header__title b-heading-h5">
        ${ '{0} {1}' @ i18n, format=[ data.resultsCount, data.resultsLabel ] }
      </div>
      <div class="faceted-navigation-header__sort-options">
        <div class="dropdown">
          <button id="dSortFacets"
            class=""
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false" >
            ${ data.sortBy.sortByLabel }
            <i class="icon icon-chevron-down" aria-hidden="true"></i>
          </button>
          <ul data-sly-list="${ data.sortBy.items }"
              class="dropdown-menu "
              aria-labelledby="dSortFacets" >
            <li>
              <a href="${item.url}"
               target="${item.target}"
               aria-label="Go to ${item.label}" >
               ${item.label}
              </a>
            </li>
          </ul>
        </div>
        <select class="native-select" data-sly-list="${ data.sortBy.items }" >
          <option value="${item.url}">${item.label}</option>
        </select>
      </div>
    </div>

    <sly data-sly-use.tpl="eaton/static-components/shared/templates/module-faceted-navigation/faceted-navigation-filters.html">
      <sly data-sly-call="${ tpl.module @ activeFilters=data.activeFilters }"></sly>
    </sly>

    <div class="faceted-navigation-header__container">
      <a data-sly-test="${ data.activeFilters.values }"
        target="_self"
        data-toggle-modal-facet
        class="open-facets-mobile b-button b-button__primary b-button__primary--light"
        role="button">
        ${ '{0} ({1})' @ i18n, format=[ 'Filters', data.activeFilters.values.length ] }
      </a>
    </div>
  </div>
</template>
