<template data-sly-template.module="${ @ activeFilters }">
  <div data-sly-test="${ activeFilters.items.length }"
    class="faceted-navigation-filters">

    <!--/* If There Are Active Filters */-->
    <div data-sly-list.filter="${ activeFilters.items }"
      class="faceted-navigation-header__active-filters">
      <a class="faceted-navigation-header__filter-link"
        href="${ filter.url }"
        target="${ filter.target }"
        aria-label="${ '{0} {1}' @ format=[ activeFilters.removeFilterLabel, filter.label ] }">
        <i class="icon icon-close" aria-hidden="true"></i>
        <span class="faceted-navigation-header__filter-label">${ filter.label }</span>
      </a>
    </div>

    <!--/* Clear Filters */-->
    <div class="faceted-navigation-header__filters-actions">
      <a href="${ activeFilters.clearAllFilters.url }"
        target="${ activeFilters.clearAllFilters.target }"
        class="faceted-navigation-header__action-link">
        ${ activeFilters.clearAllFilters.label }
      </a>
    </div>
  </div>
</template>
