<sly data-sly-use.data="${'../data/title-data.js' @testdata=properties.testdata}">

  <div class="eaton-title eaton-title--default ${properties.toggleInnerGrid == 'true' ? 'eaton-title--inset' : ''}">

    <!--/* If Grid Enabled */-->
    <sly data-sly-test="${ properties.toggleInnerGrid }" >
      <div class="container">
    </sly>

      <!--/*
        NOTE: "data.style" should have a value of "h1, h2, h3, h4, h5, or h6"
        This option allows the author to select the HTML tag for SEO purposes / Semantics
        The appearance of the title should always be the same regardless of the HTML Tag
      */-->
      <sly data-sly-test=${data.style}>
        <div data-sly-element="${data.style}"
          class="eaton-title__headline">${ data.title }</div>
      </sly>
      </sly>
      <sly data-sly-test=${!data.style}>
        <h2 class="eaton-title__headline">${ data.title }</h2>
      </sly>

    <sly data-sly-test="${ properties.toggleInnerGrid }" >
      </div>
    </sly>

  </div>

</sly>
