<div class="mega-menu-title">
  <div class="container">
    <a href="#" class="mega-menu-title__level1-link">
      <i class="mega-menu-title__icon glyphicon glyphicon-menu-left" aria-hidden="true"></i>
      <span>Level 1 Link</span>
      <i class="mega-menu-title__icon glyphicon glyphicon-menu-right" aria-hidden="true"></i>
    </a>
    <button class="button--reset mega-menu-title__close-menu">
      <span class="sr-only">Close Search</span>
      <i class="mega-menu-title__icon glyphicon glyphicon-remove" aria-hidden="true"></i>
    </button>
  </div>
</div>
