//-----------------------------------
// Component M-22: Quote
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.eaton-featured-topic {
    // TODO: move to the root component
    background: $color__secondary-gray3;
    padding: $spacing__xl $spacing__sm;

    // TODO: in the markup i'm still using body-copy
    &__title {
      margin-bottom: $spacing__sm;
    }

    &__paragraph {
      margin-bottom: $spacing__md;
    }

}


// TODO: move to a standalone component
// TODO: check for reuse
.eaton-link-list {
  &__title {
    margin-bottom: $spacing__sm;
  }

  &--no-list-style {
    list-style: none;
    padding: 0;
  }
}
