//-----------------------------------
// Component M-22: Quote
//-----------------------------------

@import "../../../global/css/_config/sass";

.eaton-featured-topic {
  padding-top: $spacing__xl;
  padding-bottom: $spacing__xl;

  .glyphicon {
    display: none;
  }

  .eaton-link-list-vertical__list-link,
  .eaton-link-list-vertical__eyebrow {
    font-weight: bold;
    text-transform: none;
  }

  &__text {
    margin-bottom: $spacing__md;
  }

  &__button-container {
    margin-top: $spacing__md;
  }

  // &__list-title {
  //   font-weight: bold;
  //   margin-bottom: $spacing__sm;
  // }

  @include media-mobile-only {
    &__title {
      padding-bottom: $spacing__sm;
    }

    &__list-title {
      margin-top: $spacing__sm;
    }

    &__link-list {
      padding-bottom: 15px;

    }

    &__text {
      margin-bottom: $spacing__sm;
    }

    &__button-container {
      margin-top: 0;

      .b-button.b-button__primary {
        width: 100%;
      }
    }

    .eaton-link-list-vertical__eyebrow {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  @include media-desktop-and-up {
    &__list-left {
      &::after {
        background: $color__secondary-gray6;
        content: '';
        height: 85%;
        position: absolute;
        right: 0;
        top: 5px;
        width: 2px;
      }
    }

    &__list-right {
      padding-left: 9%;
    }
  }
}
