//-----------------------------------
// M-62: Faceted Navigation
//-----------------------------------

.faceted-navigation-header {
  font-size: 14px;
  margin-bottom: 28px;


  // SortBy - Custom Dropdown
  //--------------
  .styled-dropdown {
    position: relative;
    z-index: 1;

    dd,
    dt,
    ul {
      margin: 0px;
      padding: 0px;
    }

    .icon {
      font-size: 12px;
      color: $color__primary-gray1;
      font-weight: normal;
      float: right;
      margin: 5px 0 0 0;
      width: 12px;

      &::before {
        padding-right: 48px;
        color: $color__primary-blue;
      }
    }

    dd {
      position: relative;
    }

    dd a,
    dd a:visited {
      color: $color__primary-blue;
      outline: none;
      margin-left: 12px;
      font-size: 18px;
    }

    > dt > a {
      color: $color__primary-gray1;

      &:hover {
        color: $color__primary-gray1;
        text-decoration: none;
      }
    }

    a:hover {
      text-decoration: underline;
    }

    dt a:hover {
      color: $color__primary-gray1;
      border: 1px solid $color__secondary-gray4;
    }

    dt a {
      background: $color__white;
      display: block;
      border: 1px solid $color__secondary-gray4;
      width: 165px;
      padding: 11px 20px 15px 15px;
      height: 45px;
      font-size: 18px;
      font-weight: normal;
      opacity: .7;
      max-width: 165px;
    }

    dt a span {
      color: $color__primary-blue;
      cursor: pointer;
      display: block;
    }

    dd ul {
      background: $color__white none repeat scroll 0 0;
      border: 1px solid $color__secondary-gray4;
      border-top: 1px solid $color__white;
      color: $color__primary-blue;
      display: none;
      left: 0px;
      padding: 5px 0px;
      position: absolute;
      top: -1px;
      // width: auto;
      width: 165px;
      max-width: 165px;
      list-style: none;
    }

    span.value {
      display: none;
    }

    dd ul li a {
      padding: 5px;
      display: block;
    }

    dd ul li a:hover {
      background-color: $color__white;
      font-weight: normal;
    }

    img.flag {
      border: 0;
      vertical-align: middle;
      margin-left: 10px;
    }

  }


  &__sort-options {
    margin-top: 4px;

    .desc {
      color: #6b6b6b;

      a { color: #0092dd; }
    }

    select { display: none; }

    .flagvisibility {
      display: none;
    }
  }

  &__header-top,
  &__header-bottom {
    display: flex;
  }

  &__active-filters {
    width: 100%;
  }

  &__sort-options,
  &__filters-actions {
    margin-left: auto;
    min-width: 85px;
    font-size: 14px;
    // z-index: 5;
  }

  &__header-bottom {
    margin-top: 30px;
  }

  // Results: Header Title
  //--------------
  &__header-top {
    border-bottom: 2px solid $color__secondary-gray6;
    padding-bottom: 28px;
    padding-top: 25px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }


  // Results: Header Filters
  //--------------

  &__filter-link {
    display: inline-block;
    font-size: 14px;
    margin-right: 12px;

    .icon {
      font-size: 10px;
      margin-right: 2px;
      margin-top: 5px;
    }

  }

  &__filter-label {
    // Empty selector for future reference
  }


  //-----------------------------------
  // MediaQuery: 0-991px
  //-----------------------------------
  @include media-mobile-and-tablet {

    &__header-bottom {
      margin-top: 60px;
    }

    &__filter-link {
      font-size: 12px;
    }
  }



  //-----------------------------------
  // MediaQuery: > 992 px
  //-----------------------------------
  @include media-desktop-and-up {

  }


}
