//-----------------------------------
// M-62: Faceted Navigation
//-----------------------------------

.faceted-navigation-header {
  margin-bottom: 28px;

  &__active-filters {
    width: 100%;
  }

  &__filters-actions {
    margin-left: auto;
    min-width: 85px;
    font-size: 1.4rem; // SMALL BODY COPY DEVIATION
    height: 3.5rem;
  }

  &__sort-options {
    float: right;
    margin-right: -52px;
    width: 160px;
    margin-top: -15px;
    position: relative;

    @include media-mobile-and-tablet {
      margin-right: -20px;
      width: 130px;
      height: 70px;

      .dropdown [data-toggle="dropdown"][aria-expanded="true"] {
        border: 0;
      }

      .dropdown-menu {
        display: none;
      }
    }

    // EATON-650: very specific behavior for these resolutuions
    @media screen and (min-width: 992px) and (max-width: 1265px) {
      margin-right: -15px;
      width: 124px;

      .dropdown-menu {
        width: 124px;
        min-width: 124px;
      }
    }

    select.native-select {
      position: absolute;
      background: transparent;
      top: 0;
      right: -10px;
      width: 170px;
      height: 45px;
      border: 0;
      color: transparent;

      @include media-desktop-and-up {
        display: none;
      }
    }

    .dropdown {
      font-family: $font-family__secondary;
      font-size: 1.8rem;
      width: 100%;

      @include media-mobile-and-tablet {
        position: absolute;
        top: 0;
      }

      [data-toggle="dropdown"] {
        background: $color__white;
        color: $color__primary-gray2;
        width: 100%;
        text-align: left;
        padding-left: 2rem;
        padding-top: 2.5rem;
        border: 1px solid $color__white;

        @include media-mobile-and-tablet {
          padding-top: 15px;
        }

        &[aria-expanded="true"] {
          border-color: $color__secondary-gray5;
          border-bottom-color: $color__white;
        }
      }

      .icon {
        display: inline-block;
        font-size: 1.4rem;
        padding-left: 1rem;
        vertical-align: middle;
        color: $color__primary-blue;
      }

      .dropdown-menu {
        box-shadow: none;
        margin-top: 0;
        border-top: 0;
        border-radius: 0;
        border-color: $color__secondary-gray5;
      }

      li {
        padding: 5px 20px;
        font-size: 1.8rem;

        a {
          color: $color__primary-blue;
          display: inline-block;
          width: 100%;
          text-align: left;
          margin: 0;
          padding: 0;

          &:hover {
            background-color: $color__white;
            text-decoration: underline;
          }
        }
      }
    }
  }


  // Results: Header Title
  //--------------
  &__header-top {
    border-bottom: .2rem solid $color__secondary-gray6;
    padding-bottom: 20px; // EATON-662: Visually 30px Spacing
    padding-top: 20px;    // EATON-662: Visually 40px Spacing
  }

  &__title {
    display: inline-block;
  }


  // Results: Header Filters
  //--------------
  &__filter-link {
    display: inline-block;
    font-size: 1.3rem; // SMALL BODY COPY DEVIATION
    margin-right: 12px;

    .icon {
      font-size: 1rem;
      margin-right: 2px;
      margin-top: 5px;
    }
  }

  &__container {
    text-align: center;
  }

  a.open-facets-mobile {

  }

  .faceted-navigation-filters {
    margin-top: 30px;
    display: flex;
  }

  //-----------------------------------
  // MediaQuery: 0-991px
  //-----------------------------------
  @include media-mobile-and-tablet {

    //filters on header are not visible in mobile
    .faceted-navigation-filters {
      display: none;
    }

    &__filter-link,
    &__filters-actions {
      font-size: 1.2rem;
    }
  }



  //-----------------------------------
  // MediaQuery: > 992 px
  //-----------------------------------
  @include media-desktop-and-up {
    .open-facets-mobile {
      display: none;
    }
  }


}
