<sly data-sly-use.data="com.eaton.platform.core.models.ttil.TTILModel">
  <div class="eaton-single-feature">
    <p class="eaton-single-feature__headline b-eyebrow-small">${data.header}</p>
    <div class="eaton-single-feature__image">
      <img class="img-responsive" src="${data.image}" alt=${data.alttxt} />
    </div>
    <div class="eaton-single-feature__content">
      <!--/* Eyebrow */-->
      <div class="eaton-single-feature__eyebrow b-eyebrow-small">${ data.transEyebrow }</div>

      <!--/* List Links */-->
      <ul class="eaton-single-feature__links">
        <li>
          <a href="${ data.link }" class="eaton-single-feature__item" aria-label="Go to ${ data.transEyebrow }" target="${ data.newWindow }">
            <span>${ data.linkTitle }</span>
            <i class="icon icon-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</sly>
