<sly data-sly-use.data="com.eaton.platform.core.models.ttil.TTILModel">

  <div class="eaton-page-overview">

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6">
          <h1 class="eaton-page-overview__title b-heading-h1">${ data.header }</h1>

          <div data-sly-test="${ data.linkTitle }"
            class="eaton-page-overview__cta eaton-page-overview__cta--desktop">
            <a href="${ data.link }"
              role="button"
              class="b-button b-button__primary b-button__primary--light"
              target="${ data.newWindow }">${ data.linkTitle }</a>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="eaton-page-overview__content b-body-copy">${ data.description }</div>
        </div>

      </div>

      <div data-sly-test="${ data.linkTitle }"
        class="eaton-page-overview__cta eaton-page-overview__cta--mobile text-center">
        <a href="${ data.link }"
          role="button"
          class="b-button b-button__primary b-button__primary--light"
          target="${ data.newWindow }">${ data.linkTitle }</a>
      </div>

    </div>
  </div>

</sly>
