.eaton-featured-topic { background: #F8F8F8; padding: 120px 30px; }

.eaton-featured-topic__title { margin-bottom: 30px; }

.eaton-featured-topic__paragraph { margin-bottom: 60px; }

.eaton-link-list__title { margin-bottom: 30px; }

.eaton-link-list--no-list-style { list-style: none; padding: 0; }
