// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import 'global/css/_config/config';

//-----------------------------------
// Component M-25: Quote
//-----------------------------------
.c-quote {

  background-color: $color__primary-gray1;

  &__heading {
    margin-bottom: 1em;
  }

  &__author {
    color: $color__primary-blue;
    font-family: $font-family__primary;
  }
}
