<sly data-sly-test="${wcmmode.edit}">TTIL List Component</sly>
<div data-sly-use.ttilList="com.eaton.platform.core.helpers.TTILListHelper">

	
	<!--  ARTICLE LIST -->
	<sly data-sly-test="${properties.view == 'no-feature'}">
	    <div class="container-full page_overview" id="primary-content-article-list-single-feature">
	        <div class='aem-Grid aem-Grid--12 noFeature'>
	        	<sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap> 
                    <div data-sly-test="${itemList.first}" class='aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 Heading-bottom'>
                       <div data-sly-test="${ttilList.ttilBean.headerLink}" class='mainHeading leftPadding0'>
		                   <h3><a href="${ttilList.ttilBean.headerLink}" target="${ttilList.ttilBean.newWindow}">${ttilList.ttilBean.transHeader}
									<img class='iconClass' src='/content/dam/eaton/images/Arrow_Blue.png'>
							</a></h3>
                       </div>
                   </div> 
                   <div class='aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 noFeature-infoContainer'>
                       <div class='main'>
                           <span class='selected'></span>
                           <h3 data-sly-test="${item.eyebrow}">${item.eyebrow}</h3>
                           <h2 data-sly-test="${item.headline}"><a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a></h2>
                           <p data-sly-test="${item.publicationDate}">${item.publicationDate}</p>
                       </div>
                   </div>
                </sly>   	
	        </div>
	    </div>
	</sly>
	
	<!--  ARTICLE LIST FEATURE -->
	<sly data-sly-test="${properties.view == 'single-feature'}">
	    <div class="container-full  container-padding extraLargePaddingTop extraLargePaddingBottom" id="primary-content-article-list-single-feature">
	        <div class='aem-Grid aem-Grid--12 noFeature'>
	            <div class='aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12'>
	                <div class='aem-Grid aem-Grid--12'>
	                	<sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap> 
		                    <div data-sly-test="${itemList.first}" class='aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12'>
		                        <div  data-sly-test="${ttilList.ttilBean.headerLink}" class='mediumMarginBottom'>
			                        <h2>${ttilList.ttilBean.transHeader}					
									</h2>
		                        </div>
		                    </div> 
		                   
		                    <div data-sly-test="${itemList.first}" class='aem-GridColumn aem-GridColumn--default--5 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 noFeature-imgContainer mediumMarginBottom'>
		                        <div class='main'>
		                            <a href="${item.pagePath}" target="${item.windowFixed}">
		                            <img data-sly-test="${item.teaserImage}" class='width100Perc' src='${item.teaserImage}' alt="${item.altTxt}">
		                            
		                            <div class='info smallPaddingLeft  smallPaddingRight'>
		                                <div data-sly-test="${item.eyebrow}" class="eyeBrowLarge smallMarginBottom smallMarginTop">${item.eyebrow}</div>
		                                <h4 data-sly-test="${item.headline}">${item.headline}</h4>
		                                <div data-sly-test="${item.publicationDate}" class="smallMarginBottom smallMarginTop date">${item.publicationDate}</div>
		                            </div>
		                            </a>
		                        </div>
		                    </div>
		                    <div data-sly-test="${!itemList.first}" class='aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 noFeature-infoContainer mediumMarginLeft'>
		                        <div class='main'>
		                            <span class='selected'></span>
		                            <div data-sly-test="${item.eyebrow}" class="eyeBrowSmall smallMarginBottom">${item.eyebrow}</div>
		                            <h4 data-sly-test="${item.headline}"><a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a></h4>
		                            <div data-sly-test="${item.publicationDate}" class="mediumMarginBottom smallMarginTop date">${item.publicationDate}</div>
		                        </div>
		                    </div>
	                    </sly>
	                </div>
	            </div>
	        </div>
	    </div>
	</sly>
	
	<!--  RELATED ITEMS WITH TEXT ONLY -->
	<sly data-sly-test="${properties.view == 'related-products-text-only'}">
		<div id="related-items-content" class="mediumMarginTop">
	        <div class="container-fixed related-item-web-container extraLargePaddingTop extraLargePaddingBottom">
	            <div class="aem-Grid aem-Grid--12">
	                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
	                   <h2 class="related-item-heading"><a href="${ttilList.ttilBean.headerLink}" target="${ttilList.ttilBean.newWindow}">${ttilList.ttilBean.transHeader}</a></h2>
	                </div>
	            </div>
		            <div class="aem-Grid aem-Grid--12 smallMarginTop">
	    		    	<sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap> 
			                <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--4 aem-GridColumn--phone--4 related-items-padding">
			                    <div class="related-item">
			                        <div class="related-items-Description smallPaddingLeft smallPaddingTop smallPaddingRight">
			                        	<span class='selected'></span>
			                            <div data-sly-test="${item.eyebrow}" class="related-items-title eyeBrowSmall">
			                                <div id="mask"></div>
			                                ${item.eyebrow}
			                            </div>
			                            <div data-sly-test="${item.headline}" class="related-item-card smallMarginTop mediumMarginBottom">
											<h5>
			                                	<a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
			                                </h5>
			                            </div>
			                        </div>
			                    </div>
			                </div>
				    	</sly>   
		            </div>
	        </div>
	        <!--  mobile view -->
	        <div class="container-fixed container-padding related-item-mob-container extraLargePaddingTop extraLargePaddingBottom">
	            <div class="aem-Grid aem-Grid--12">
	                <div class="aem-GridColumn aem-GridColumn--phone--12">
	                   
	                    	<h2 class="related-item-heading"><a href="${ttilList.ttilBean.headerLink}" target="${ttilList.ttilBean.newWindow}">${ttilList.ttilBean.transHeader}</a></h2>
	                    
	                </div>
	            </div>
	            <div class="aem-Grid aem-Grid--12">
		                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 smallMarginTop">
		                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
		                        <!-- Indicators -->
		                        <ol class="carousel-indicators">
		                       	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		                        </ol>
		                        <!-- Wrapper for slides -->
		                        <div class="carousel-inner" role="listbox">
								<sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap>
								<sly data-sly-test="${itemList.first}" data-sly-unwrap>
		                            <div class="item active">
		                                <div class="related-item">
											<span class='selected'></span>
		                                    <div class="related-items-Description smallPaddingLeft smallPaddingTop smallPaddingRight">
		                                        <div data-sly-test="${item.eyebrow}" class="related-items-title eyeBrowSmall">
		                                            <div id="mask"></div>
		                                            ${item.eyebrow}
		                                        </div>
		                                        <div data-sly-test="${item.headline}" class="related-item-card smallMarginTop mediumMarginBottom">
													<h5>
														<a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
													</h5>	
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
								</sly>
								<sly data-sly-test="!${itemList.first}" data-sly-unwrap>
		                            <div class="item">
		                                <div class="related-item">
											<span class='selected'></span>
		                                    <div class="related-items-Description smallPaddingLeft smallPaddingTop smallPaddingRight">
		                                        <div data-sly-test="${item.eyebrow}" class="related-items-title eyeBrowSmall">
		                                            <div id="mask"></div>
		                                            ${item.eyebrow}
		                                        </div>
		                                        <div data-sly-test="${item.headline}" class="related-item-card smallMarginTop mediumMarginBottom">
													<h5>
														<a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
													</h5>	
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
								</sly>
								</sly>
		                        </div>
		                    </div>
		                </div>
		            </div>
	        </div>
	    </div>
	</sly>
	
	<!--  RELATED ITEMS WITH IMAGE ONLY -->
	<sly data-sly-test="${properties.view == 'related-products-with-images'}">
	    <div id="related-items-content" class="mediumMarginTop">
	        <div class="container-fixed related-item-web-container extraLargePaddingTop extraLargePaddingBottom">
	            <div class="aem-Grid aem-Grid--12">
	                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
	                    <h2 class="related-item-heading"> 
	                    	${ttilList.ttilBean.transHeader}
	                    </h2>
	                </div>
	            </div>
	            <div class="aem-Grid aem-Grid--12 smallMarginTop">
	             <sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap> 
		                <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--4 aem-GridColumn--phone--4 related-items-padding">

		                    <div class="related-item">
		                        <div data-sly-test="${item.teaserImage}" class="related-items-image">
		                            <img src="${item.teaserImage}" alt="${item.altTxt}">
		                        </div>
		                        <div class="related-items-Description smallPaddingLeft smallPaddingTop smallPaddingRight">
		                            <div data-sly-test="${item.eyebrow}" class="related-items-title eyeBrowSmall">
		                                <div id="mask"></div>
		                                ${item.eyebrow}
		                            </div>
		                            <div data-sly-test="${item.headline}" class="related-item-card smallMarginTop mediumMarginBottom">
		                            	<h5>
		                            		<a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
		                            	</h5>
		                            </div>
		                        </div>
		                    </div>    
		                </div>
		            </sly>    
		            </div>
	        </div>
	        <!--  mobile view -->
	        <div class="container-fixed container-padding related-item-mob-container extraLargePaddingTop extraLargePaddingBottom">
	            <div class="aem-Grid aem-Grid--12">
	                <div class="aem-GridColumn aem-GridColumn--phone--12">
	                   
	                    	<h2 class="related-item-heading">${ttilList.ttilBean.transHeader}</h2>
	                   
	                </div>
	            </div>
	            <div class="aem-Grid aem-Grid--12">
	                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 smallMarginTop">
	                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
	                        <!-- Indicators -->
	                        <ol class="carousel-indicators">
	                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	                        </ol>
	                        <!-- Wrapper for slides -->
	                        <div class="carousel-inner" role="listbox">
	                          
	                         <sly data-sly-test="${itemList.first}" data-sly-unwrap> 
	                            <div class="item active">
	                                <div class="related-item">
	                                    <div data-sly-test="${item.teaserImage}" class="related-items-image">
	                                       		<img src="${item.teaserImage}" alt="${item.altTxt}">
	                                    </div>
	                                    <div class="related-items-Description smallPaddingLeft smallPaddingTop smallPaddingRight">
	                                        <div data-sly-test="${item.eyebrow}" class="related-items-title eyeBrowSmall">
	                                            <div id="mask"></div>
	                                            ${item.eyebrow}
	                                        </div>
	                                       <div data-sly-test="${item.headline}" class="related-item-card smallMarginTop mediumMarginBottom">
												<h5>
													<a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
	                                        	</h5>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            </sly>
	                            <sly data-sly-test="!${itemList.first}" data-sly-unwrap> 
	                            <div class="item">
	                                <div class="related-item">
	                                    <div class="related-items-image">
	                                       		<img src="${item.teaserImage}" alt="${item.altTxt}">
	                                    </div>
	                                    <div class="related-items-Description smallPaddingLeft smallPaddingTop smallPaddingRight">
	                                        <div data-sly-test="${item.eyebrow}" class="related-items-title eyeBrowSmall">
	                                            <div id="mask"></div>
	                                            ${item.eyebrow}
	                                        </div>
	                                       <div data-sly-test="${item.headline}" class="related-item-card smallMarginTop mediumMarginBottom">
												<h5>
													<a href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
	                                        	</h5>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            </sly> 
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</sly>


	<!-- FEATURED LIST -->
	<sly data-sly-test="${properties.view == 'fea-list'}">
		<div class="aem-Grid aem-Grid--12 featuredList">
	        <div class='aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 compHighlight'>
			   <div class="eyeBrowSmall smallPaddingBottom  uppercase light">
			      ${ttilList.ttilBean.transHeader}
			   </div>
			   <div class='storyContainer'>
			   		<sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap>
					      <div class="smallPaddingBottom">
					        <div data-sly-test="${item.teaserImage}" class='imgContainer'>
					        	<a href="${item.pagePath}" target="${item.windowFixed}" >
					            	<img src='${item.teaserImage}' alt="${item.altTxt}" />
					           	</a> 	
					         </div>
					        <div class='desc'>
					       		<a data-sly-test="${item.eyebrow}" href="${item.pagePath}" target="${item.windowFixed}" >
					        		<span class="small-body-copy-link-on-dark light light arrowAfter">${item.eyebrow} <span class="glyphicon glyphicon-menu-right"></span></span>
					            </a>      	
					            <div data-sly-test="${item.descriptionFeature}" class="small-body-copy-link-on-dark-deviation light megamenu-margin-deviation"> 
					                 ${item.descriptionFeature}
					            </div>
					        </div>
					        </div>
					  </sly>
				</div>	  
			</div>
	    </div>
	</sly>
	
	<!-- FEATURED STORY -->
	<sly data-sly-test="${properties.view == 'fea-story'}">
	    <div class="container-full extraLargeMarginTop" id="featured-story-${properties.jcr:Position}">
	        <div class="storyHolder storyHolder-${properties.jcr:Position}">
	        	<sly data-sly-list.item="${ttilList.typeList}" data-sly-unwrap> 
		        	<div class="aem-Grid aem-Grid--12">
						<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 storyBoardImageFS odd noPadding">
							<div data-sly-test="${item.teaserImage}" class='imgContainer'>
								<img class="img-responsive show-desktop" src="${item.teaserImage}" />

								<img class="img-responsive show-mob" src="${item.teaserImage}" />

							</div>
							<div class="aem-Grid aem-Grid--12">
								<div class="storyBoardOverlayRight  aem-GridColumn aem-GridColumn--tablet--5  aem-GridColumn--phone--12  aem-GridColumn--default--4">
									<div class="aem-Grid aem-Grid--12">
										<div class="storyBoardOverlayContent mediumPaddingTop mediumPaddingBottom aem-GridColumn aem-GridColumn--tablet--12 aem-GridColumn--phone--8 aem-GridColumn--default--11">
											<div class="infoContent">
												<div data-sly-test="${item.eyebrow}" class="eyeBrowLarge light storyBoardHeadline">${item.eyebrow}</div>
												<h2 data-sly-test="${item.headline}" class="light smallMarginTop infoContentHead ">
													<a class="rightArrowIcon" href="${item.pagePath}" target="${item.windowFixed}">${item.headline}</a>
													<!-- <span class="rightArrowIcon"></span> -->
												</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</sly>
	        </div>
	    </div>
	</sly>
</div>
