
.eaton-form-container {
  padding-top: 60px;
}

.eaton-form {

  $light-gray: #eef0f2;

  font-family: Arial, 'Arial', sans-serif;

  form {
    width: 100%;
    max-width: 870px;
  }

  .field-p {
    margin-bottom: 30px;
  }

  // stylelint-disable-next-line selector-class-pattern
  .LV_validation_message {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
    position: relative;
    top: 10px;
    width: 100%;
  }

  .label-position {
    display: block;
    font-size: 15px;
  }

  .field-group {

    .label {
      width: 100%;
      float: left;
      color: #333f48;
      font-size: 20px;
      text-align: left;
      padding: 0;
      margin-bottom: 30px;
    }

    // stylelint-disable-next-line selector-class-pattern
    ._100 {
      float: left;
      width: 100%;
    }
    // TWO COLUMN

    // stylelint-disable-next-line selector-class-pattern
    ._50 {
      width: 100%;
      float: left;

      @include media-tablet-and-up {
        width: 45%;
      }
    }

    div:first-child {

      @include media-tablet-and-up {
        margin-right: 10%;
      }
    }

  }


  .field-p label:not(.label, .label-position) {
    font-weight: 100;
    font-style: italic;
    font-size: 14px;
    color: #333f48;
    padding-top: 10px;
    width: 100%;
  }

  .field-p .label .inner {
    font-weight: 100;
  }

  // TWO COLUMN

  // stylelint-disable-next-line selector-class-pattern
  ._50_left {
    width: 100%;
    float: left;

    @include media-tablet-and-up {
      margin-right: 10%;
      width: 45%;
    }
  }

  .radio-option {

    &.field-size-top-large,
    &.field-size-left-large {
      float: left;
      width: 100%;
      margin-top: 10px;
    }

    .inner {
      vertical-align: middle;
      color: #000;
    }

    .list-order {

      // stylelint-disable-next-line selector-class-pattern
      &.twoColumn {
        padding-bottom: 20px;
        float: left;
        width: 35%;

        @include media-mobile-only {
          width: 50%;
        }
      }

      // stylelint-disable-next-line selector-class-pattern
      &.twoColumnLeft {
        padding-bottom: 30px;
        float: left;
        width: 20%;
      }
    }
  }

  // INPUT

  input[type="text"] {
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #8c9aa5;

    @include media-tablet-only {
      width: 310px;
    }

    @include media-desktop-and-up {
      width: 392px;
    }
  }

  // CHECKBOX

  [type="checkbox"] {
    &:not(:checked),
    &:checked {
      position: absolute;
      left: -100%;
    }

    &:not(:checked) + span,
    &:checked + span {
      position: relative;
      padding-left: 45px;
    }

    &:not(:checked) + span::before,
    &:checked + span::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      width: 2.5em;
      height: 2.5em;
      background-color: $light-gray;
    }

    &:checked + span::after {
      @extend %font-family-glyphicon;
      @extend %icon-checkmark;
      font-size: 1.4em;
      line-height: 0.8;
      color: $color__primary-blue;
      position: absolute;
      top: 2px;
      left: 5px;
    }

    &:focus {

      + span::before {
        border-color: #5a99db;
        box-shadow: 0 1px 12px #85bffd;
        outline: 0 none;
      }
    }
  }

  // RADIO BUTTON
  input[type="radio"] {
    &:not(:checked),
    &:checked {
      position: absolute;
      display: inline-block;
      left: -100%;
    }

    &:not(:checked) + span,
    &:checked + span {
      position: relative;
      padding-left: 30px;
    }

    &:not(:checked) + span::before,
    &:checked + span::before {
      content: '';
      position: absolute;
      left: -12px;
      top: -10px;
      width: 2.5em;
      height: 2.5em;
      border: 1px solid #8c9aa5;
      border-radius: 100%;
      background: #fff;
    }

    &:checked + span::after {
      content: '';
      width: 18px;
      height: 18px;
      background: $color__primary-blue;
      position: absolute;
      top: -4px;
      left: -6px;
      border-radius: 100%;
    }

    &:focus {

      + span::before {
        border-color: #5a99db;
        box-shadow: 0 1px 12px #85bffd;
        outline: 0 none;
      }
    }
  }

  // BUTTON

  input[type="submit"] {
    background: none;
    border-style: solid;
    display: inline-block;
    font-weight: bold;
    max-width: 600px;
    padding: 15px 100px;
    color: $color__primary-blue;
    border-color: $color__primary-blue;
    border-radius: 0;

    &:hover {
      color: $color__white;
      background: $color__primary-blue;
      text-decoration: none;
    }
  }

  // TEXTAREA

  textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 225px;
    border: 1px solid #8c9aa5;

  }

  // SELECT

  .choices {
    width: 100%;
    margin-top: 10px;

    &__inner {
      background: #FFF url('images/down_arrow.png') no-repeat;
      background-position: 98%;
      background-size: 12px;
      border-radius: 0;
      border: 1px solid #8c9aa5;
    }

    &__list {

      .is-highlighted {
        background-color: #fff;
      }

      &--dropdown {
        position: relative;
        top: 0;
      }
    }

    &__input {
      border-bottom: 0;
    }

    &__item[role="option"] {
      color: $color__primary-blue;

      &.is-highlighted {
        // NOTE: Add background color for accessibility purposes
        // When using keyboard navigation, background color-white is not visible;
        background-color: $light-gray;
      }
    }

    &[data-type*=select-one]::after {
      border: 0;
    }

    &:focus {
      border-color: #5a99db;
      box-shadow: 0 1px 12px #85bffd;
      outline: 0 none;
    }
  }

  // MULTIPLE SELECT

  select[name="multipleSelectMenu"] {
    width: 100%;
    margin-top: 10px;
    color: $color__primary-blue;

    option {
      padding: 10px 20px;

      &[selected="selected"] {
        background-color: $color__secondary-gray5;
      }
    }

  }

  .field-wrapper.individual {
    float: left;
    width: 100%;
    clear: both;

  }
}
