relative{
	position:relative;
}

absolute{
	position:absolute;
}

rightAligned{
	right:-50%;
}


leftAligned{
	left:0;
}

.featuredStoryParentContainer{
	position:relative;
}

.featuredStoryTextParent{
	position:absolute;
	
	
}

.featuredStoryRight{
	right:-50%;
}


.featuredStoryleft{
	left:100px;
}

.infoContent .glyphicon-menu-right {
	font-size: 0.6em;
	vertical-align: 0px;
}


.infoContent{
	padding-left:50px;
	padding-right:50px;	
}


.imgContainer>img.show-desktop {		
		height: 470px;
	}

.storyBoardOverlayContent{
	height:470px;
	
}

.storyBoardOverlayContent > .infoContent {
	/*position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
}
/** storyboard **/
.storyBoardImageFS {
	 position: relative; 
}

.storyBoardImageFS.odd {
	margin-left: 0px
}

.storyBoardImageFS.even {
	margin-left: 10%;
}

.storyBoardImageFS img {
	width: 100%;
}

.storyBoardImageFS .imgContainer>img.show-mob {
	width: auto;
}

.storyBoardOverlayRight {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	/*height: 490px;*/
	background: #0266C6;
	color: #fff;
	opacity: 0.8;
	padding: 0;
	transition: opacity .5s;
	margin-right: 0px !Important;
	/* display:table; */
}

.storyBoardOverlayLeft {
	position: absolute;
	top: 0;
	left: 0;	
	height: 100%;
	background: #0266C6;
	color: #fff;
	opacity: 0.8;
	padding: 0;
	transition: opacity .5s;
	margin-left: 0px !Important;
	display:table;
}

.storyBoardOverlayContent {
	width: 100% !important;
}
.storyBoardOverlayContent > .infoContent{
	width:100%;
    /*width: 75%;*/
    margin: 0 auto;
}
.storyBoardOverlayRight > div, .storyBoardOverlayLeft > div{
	display: table-cell;
    vertical-align: middle;

}
.storyBoardText {
	font-size: 2.5em;
	font-family: EatonMedium;
	word-break: break-word;
	margin: 0px;
}

/** Should be removed **/
.right-link {
	display: inline-block;
	background: url(/content/dam/eaton/images/sprite-sheet.png) -450px
		-2242px no-repeat;
	border: none;
	width: 30px;
	height: 55px;
	vertical-align: 5px;
	zoom: .35 !important;
	margin-left: -10px;
}

.storyBoardHeadline {
	font-size: 1.5em;
}
/** */
.descriptive-feature:nth-Child(even) .storyBoardImage {
	margin-left: 10%;
}

.infoContentHead {
	margin-top: 60px;
	font-family: EatonMedium;
	font-size: 2.500em;
	line-height: 1.250em;	
	font-size: 2.500em;
}



/* @media only screen and (max-width: 769px) { */
@media only screen and (max-width: 600px) , screen and (max-width:992px)
	{
	
	.infoContent{
		padding-left:30px !important;
		padding-right:30px !important;		
		margin-right:15px !important;
	}	
	
	.storyBoardImageFS .imgContainer>img.show-desktop {
		/* height:300px; */
		height: auto;
	}
	.imgContainer {
		width: 100% !important;
		height: auto;
		max-width: 100%;
	}
	.storyBoardHeadline {
		font-size: 1.5em;
	}
	.storyBoardText {
		font-size: 2em;
	}
	.storyBoardImageFS.odd {
		margin-left: 0px
	}
	.storyBoardImageFS.even {
		/*margin-left:0px;*/
		
	}
	.storyBoardOverlayRight, .storyBoardOverlayLeft {
		height: 300px;
	}
	.right-link {
		vertical-align: 0px
	}
	.storyBoardHeadline {
		font-size: 1.063em;
	}
	.storyBoardOverlayRight, .storyBoardOverlayLeft {
		position: static;
		height: auto;
		border-bottom: 10px solid white;
		width: 110% !important;
	}
	.storyBoardImageFS img {
		width: 100% !important;
	}
	.storyBoardImageFS>div.imgContainer {
		width: 1000px;
	}
	.storyBoardOverlayContent {
		height:auto;
		/* height:400px;   */
		 height: auto;
		position: static; 
		vertical-align: middle;
		transform: translate(0%, 0%);
	}
	.storyBoardText {
		font-size: 2.5em;
		line-height: 50px;
	}
	.descriptive-feature:nth-Child(even) .storyBoardImage {
		margin-left: 0;
	}
	.right-link {
		vertical-align: -5px;
	}
	.storyBoardImageFS.even {
		margin-left: 0%;
	}
	.infoContentHead {
		margin-top: 60px !important;
		line-height: 2.28em;
		font-size: 1.750em;
		margin-right: 30px !important;
	}
	
	.storyBoardOverlayContent > .infoContent{
		width:	100%;
		margin-right:30px !important;
	}
	
}


/* @media only screen and (max-width: 600px){
	.right-link {
    	vertical-align:5px;
    }
} */

/*     @media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and(max-width:650px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px) and(max-width:650px),
        only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and(max-width:650px) { 

.infoContentHead{
margin-top:60px;
font-size:3.5em;
line-height:3.2em;
padding-right: 40px;
}

    } */