.featureBlockBottomRight .light{
    color: #FFFFFF !important;
}

.featureBlockBottomRight{
    background: #005EB8;
    color: #FFFFFF !important;
}
.serverImage{
    width:100%;
    height:100%;
}

.featureBlockImage{
    width:100%;
    height:100%;
}

@media only screen and (max-width: 600px) {
    .featureBlockBottomRight > div{
        padding:30px 30px !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .featureBlockBottomRight > div{
        padding:30px 30px !important;
    }
}

@media only screen and (max-width: 992px) {
    .feature-block-holder .body-copy{
        margin-top:60px !important;
    }
    .featureBlockImage{
        margin-top:120px !important;
    }
}
