.categoryHighlight{
margin-bottom:270px;
position:relative;
}
.storyBoardOverlay{
color:#fff;

}
.categoryHighlightHead{
text-align:center !important;
width:100%; font-size:54px; font-family:Eaton;
}
.categoryHighlightDesc{
text-align:center !important;
width:100%; font-size:20px; font-family:Arial;
}
.inner-border { border:1px solid #a7b2ba; border-top:0px; padding:26px; min-height:40px; }
.storyBoardOverlay{
position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.categoryHighlightSeperator{
height:3px;
background:#fff;
margin-top:10px;
margin-top: 24px !important;
width: 10%;
    margin:0 auto;
}
.storyBoardImage{
width:100%;
}
.cardHolder{
position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
	width:100%;
}
.categoryHighlightCard img{
width:100%;
}
.cardHighlight{
color:#333f48;
font-size:18px;
}
.cardDesc{
color:#005eb8;
font-size:26px;
padding-left:0px ; line-height:28px; font-family:EatonBold; padding-top:10px;
}
.cardCaraousel{
position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.carousel-indicators{
position: fixed;
    top: 90%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%) translateY(-0%);
}

.carousel-indicators li{
border:1px solid #c8c8c8 !important;
background-color:#c8c8c8 !important;
    width:15px; height:15px; margin-top:1px;
}
.carousel-indicators .active{
background-color:#005eb8 !important;
border:0px solid #005eb8 !important; width:15px; height:15px; margin: 1px;
}
.categoryHighlightCard.container-padding { padding-left:15px !important; padding-right:15px !important; }
@media only screen and (max-width: 768px) {
.storyBoardImage{
height:400px !important;
}
.cardHighlight{
margin-top:10px;
}
.cardDesc{
margin-top:10px;
}
}
@media only screen and (max-width: 768px) {
.storyBoardOverlay { width:80%; }
div.carousel {

    margin-bottom: 55px;
}
.categoryHighlightHead {

    font-size: 3em;
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
.carousel-inner .item img { width:100%;  }
.content-grey-bg {
    margin-top: 230px;
}
     .storyBoardOverlay { width:50%; }
}
