.divider{
    background-color: #005EB8;
    height:4px;
    width: 80px
}
.byLine {
    font-family: Arial;
    color: #5b6770;
    font-size: 1.24em;
    font-style: italic;
    line-height: 22px;
    text-align: left;
}

.divider-align{
	text-align:center;
}

/*Secondary landing Rel3 */
.h1-entire-h4-a-dev{
    font-size:2.5em;
    font-family: ArialBold;
    color:  #005EB8;
    line-height:1.25em;

}

.title-right h1,.title-right h2, .title-right h3, .title-right h4, .title-right h5, .title-right h6 {
    text-align:right;
}
.title-right .blueLine>span{
    float:right; 
}    
.title-left h1, .title-left h2, .title-left h3, .title-left h4, .title-left h5, .title-left h6{
    text-align:left;
}
.title-left .blueLine>span{
    float:left; 
}
.title-center h1, .title-center h2, .title-center h3, .title-center h4,.title-center h5, .title-center h6{
    text-align:center;
} 
.title-center .blueLine>span{
    clear:both; 
}

@media only screen and (max-width: 992px) {


 
.moreInfoTitle2-rel2.extraLargeMarginTop{
	margin-top:60px !important;
}
.moreInfoTitle3-rel3.extraLargeMarginTop{
	margin-top:60px !important;
}

}
