//-----------------------------------
// M-60: Results List Container
//-----------------------------------

.results-list {
  margin-bottom: $spacing__lg / 2;

  &__disclaimer {
    border-top: 3px solid $color__secondary-gray5;
    padding: 20px 0;
  }

  &__bottom {
    margin-top: 80px;
  }

  &__actions {

  }



  //-----------------------------------
  // MediaQuery: Mobile & Tablet Only
  //-----------------------------------
  @include media-mobile-and-tablet {

  }


  //-----------------------------------
  // MediaQuery: Desktop & Desktop Large
  //-----------------------------------
  @include media-desktop-and-up {
    margin-bottom: $spacing__lg;
  }

}
