<sly data-sly-use.data="${ '../data/view-upsell-products-data.js' @testdata=properties.testdata }">
    <div class="related-products-component container">
        <div class="related-products-component__text">
            <h3>${data.header}</h3>
            <p class="related-products-component__description">${data.description}</p>
        </div>
        <sly data-sly-use.tpl="eaton/static-components/shared/templates/module-upsell-products.html">
            <sly data-sly-call="${ tpl.module @data=data.cards }"></sly>
        </sly>
    </div>
</sly>
