//-----------------------------------
// Component: Title - View: Default
//-----------------------------------
.eaton-title {

  &__eyebrow {
    color: $color__primary-blue;
    font-size: 52px;
    margin:  0;
  }

  &__headline {
    margin-bottom: 0;
  }

  &__byline {

  }

}
