//-----------------------------------
// Component: Title - View: With Eyebrow and Byline
//-----------------------------------
h2.eaton-title__eyebrow-and-byline {

  margin-top: 0;
  margin-bottom: 15px;

}

.eaton-title--eyebrow-and-byline {
  margin-top: $spacing__lg;
}

// .eaton-title--eyebrow-and-byline .article-list-single-feature--border{
// 	margin-bottom: 30px;
// }

.eaton-title {
  &__line {
    border-top: 4px solid $color__primary-blue;
    width: 60px;
    display: block;
    margin: 20px 0 25px;
  }

  &__eyebrow {
    margin-bottom: 15px;

    i{
      font-weight: normal;
      font-size: 1.6rem;
      margin-right: 5px;
    }
  }

  .dark-theme & {
    &__headline,
    &__eyebrow,
    &__byline {
      color: $color__white;
    }

    &__line {
      border-color: $color__white;
    }
  }
}
