//-----------------------------------
// Component: Title - View: With Eyebrow and Byline
//-----------------------------------
h2.eaton-title__eyebrow-and-byline {

  margin-top: 0;
  margin-bottom: 15px;

}

.eaton-title--eyebrow-and-byline{
	margin-top: $spacing__lg;
}

.eaton-title--eyebrow-and-byline .article-list-single-feature--border{
	margin-bottom: 30px;
}
