.icon-text-holder{
display:table;
}
.topic-link-image-holder{
display:table-cell;
width:20px !important;
}
.topic-link-image-holder img{
padding-top:10px !important;
}
.topic-link-text-holder{
display:table-cell;
vertical-align:top;
padding-left:30px !important;

}
@media only screen and (max-width: 992px) {
.topic-link-text-holder{
padding-left:60px !important;

}
}