.eaton-product-tabs input[id="tab-0"] { display: none; }

.eaton-product-tabs input[id="tab-0"]:target ~ .row label[for="tab-0"], .eaton-product-tabs input[id="tab-0"]:target ~ .container label[for="tab-0"], .eaton-product-tabs input[id="tab-0"]:checked ~ .row label[for="tab-0"], .eaton-product-tabs input[id="tab-0"]:checked ~ .container label[for="tab-0"] { background-color: #EEF0F2; }

.eaton-product-tabs input[id="tab-0"]:target ~ .row div[data-tab-name="tab-0"], .eaton-product-tabs input[id="tab-0"]:target ~ .container div[data-tab-name="tab-0"], .eaton-product-tabs input[id="tab-0"]:checked ~ .row div[data-tab-name="tab-0"], .eaton-product-tabs input[id="tab-0"]:checked ~ .container div[data-tab-name="tab-0"] { display: block; }

.dark-theme .eaton-product-tabs input[id="tab-0"]:target ~ .row label[for="tab-0"], .dark-theme .eaton-product-tabs input[id="tab-0"]:target ~ .container label[for="tab-0"], .dark-theme .eaton-product-tabs input[id="tab-0"]:checked ~ .row label[for="tab-0"], .dark-theme .eaton-product-tabs input[id="tab-0"]:checked ~ .container label[for="tab-0"], .eaton-product-tabs.dark-theme input[id="tab-0"]:target ~ .row label[for="tab-0"], .eaton-product-tabs.dark-theme input[id="tab-0"]:target ~ .container label[for="tab-0"], .eaton-product-tabs.dark-theme input[id="tab-0"]:checked ~ .row label[for="tab-0"], .eaton-product-tabs.dark-theme input[id="tab-0"]:checked ~ .container label[for="tab-0"] { background-color: #5B6770; }

.eaton-product-tabs input[id="tab-1"] { display: none; }

.eaton-product-tabs input[id="tab-1"]:target ~ .row label[for="tab-1"], .eaton-product-tabs input[id="tab-1"]:target ~ .container label[for="tab-1"], .eaton-product-tabs input[id="tab-1"]:checked ~ .row label[for="tab-1"], .eaton-product-tabs input[id="tab-1"]:checked ~ .container label[for="tab-1"] { background-color: #EEF0F2; }

.eaton-product-tabs input[id="tab-1"]:target ~ .row div[data-tab-name="tab-1"], .eaton-product-tabs input[id="tab-1"]:target ~ .container div[data-tab-name="tab-1"], .eaton-product-tabs input[id="tab-1"]:checked ~ .row div[data-tab-name="tab-1"], .eaton-product-tabs input[id="tab-1"]:checked ~ .container div[data-tab-name="tab-1"] { display: block; }

.dark-theme .eaton-product-tabs input[id="tab-1"]:target ~ .row label[for="tab-1"], .dark-theme .eaton-product-tabs input[id="tab-1"]:target ~ .container label[for="tab-1"], .dark-theme .eaton-product-tabs input[id="tab-1"]:checked ~ .row label[for="tab-1"], .dark-theme .eaton-product-tabs input[id="tab-1"]:checked ~ .container label[for="tab-1"], .eaton-product-tabs.dark-theme input[id="tab-1"]:target ~ .row label[for="tab-1"], .eaton-product-tabs.dark-theme input[id="tab-1"]:target ~ .container label[for="tab-1"], .eaton-product-tabs.dark-theme input[id="tab-1"]:checked ~ .row label[for="tab-1"], .eaton-product-tabs.dark-theme input[id="tab-1"]:checked ~ .container label[for="tab-1"] { background-color: #5B6770; }

.eaton-product-tabs input[id="tab-2"] { display: none; }

.eaton-product-tabs input[id="tab-2"]:target ~ .row label[for="tab-2"], .eaton-product-tabs input[id="tab-2"]:target ~ .container label[for="tab-2"], .eaton-product-tabs input[id="tab-2"]:checked ~ .row label[for="tab-2"], .eaton-product-tabs input[id="tab-2"]:checked ~ .container label[for="tab-2"] { background-color: #EEF0F2; }

.eaton-product-tabs input[id="tab-2"]:target ~ .row div[data-tab-name="tab-2"], .eaton-product-tabs input[id="tab-2"]:target ~ .container div[data-tab-name="tab-2"], .eaton-product-tabs input[id="tab-2"]:checked ~ .row div[data-tab-name="tab-2"], .eaton-product-tabs input[id="tab-2"]:checked ~ .container div[data-tab-name="tab-2"] { display: block; }

.dark-theme .eaton-product-tabs input[id="tab-2"]:target ~ .row label[for="tab-2"], .dark-theme .eaton-product-tabs input[id="tab-2"]:target ~ .container label[for="tab-2"], .dark-theme .eaton-product-tabs input[id="tab-2"]:checked ~ .row label[for="tab-2"], .dark-theme .eaton-product-tabs input[id="tab-2"]:checked ~ .container label[for="tab-2"], .eaton-product-tabs.dark-theme input[id="tab-2"]:target ~ .row label[for="tab-2"], .eaton-product-tabs.dark-theme input[id="tab-2"]:target ~ .container label[for="tab-2"], .eaton-product-tabs.dark-theme input[id="tab-2"]:checked ~ .row label[for="tab-2"], .eaton-product-tabs.dark-theme input[id="tab-2"]:checked ~ .container label[for="tab-2"] { background-color: #5B6770; }

.dark-theme .eaton-product-tabs__buttons, .eaton-product-tabs.dark-theme__buttons { background-color: #333F48; }

.dark-theme .eaton-product-tabs__buttons::before, .eaton-product-tabs.dark-theme__buttons::before { background-color: #333F48; }

.dark-theme .eaton-product-tabs label, .eaton-product-tabs.dark-theme label { background-color: #333F48; }

.dark-theme .eaton-product-tabs label:hover, .dark-theme .eaton-product-tabs label:focus, .dark-theme .eaton-product-tabs label:active, .dark-theme .eaton-product-tabs label.tab-active, .eaton-product-tabs.dark-theme label:hover, .eaton-product-tabs.dark-theme label:focus, .eaton-product-tabs.dark-theme label:active, .eaton-product-tabs.dark-theme label.tab-active { background-color: #5B6770; }

.dark-theme .eaton-product-tabs label .icon, .dark-theme .eaton-product-tabs label span, .eaton-product-tabs.dark-theme label .icon, .eaton-product-tabs.dark-theme label span { color: #FFF; }

.dark-theme .eaton-product-tabs__description .b-eyebrow-small, .dark-theme .eaton-product-tabs__description .icon, .dark-theme .eaton-product-tabs__description .b-heading-h5, .eaton-product-tabs.dark-theme__description .b-eyebrow-small, .eaton-product-tabs.dark-theme__description .icon, .eaton-product-tabs.dark-theme__description .b-heading-h5 { color: #FFF; }

@media screen and (max-width: 991px) { .dark-theme .eaton-product-tabs .eaton-product-tabs__buttons__center, .eaton-product-tabs.dark-theme .eaton-product-tabs__buttons__center { border-top: 2px solid #5B6770; } }

.eaton-product-tabs__buttons { background-color: #F8F8F8; position: relative; }

.eaton-product-tabs__buttons::before { content: ''; background-color: #F8F8F8; position: absolute; height: 100%; width: 200%; display: block; left: -50%; }

.eaton-product-tabs--fixed .eaton-product-tabs__tab-panel { padding-top: 390px; }

.eaton-product-tabs--fixed .eaton-product-tabs__buttons { position: fixed; z-index: 99; padding: 0; margin-left: 0; margin-right: 0; }

.eaton-product-tabs--fixed .eaton-product-tabs__buttons::after { background-color: inherit; content: ''; height: 149px; left: -50%; position: absolute; top: 0; width: 200%; z-index: -1; }

.eaton-product-tabs--fixed .eaton-product-tabs__buttons .container { position: fixed; padding: 0; margin-left: -15px; margin-right: -15px; }

.eaton-product-tabs__description { padding: 10px 0; }

.eaton-product-tabs__description .b-eyebrow-small { color: #005EB8; font-weight: bold; }

.eaton-product-tabs__description .icon { font-size: 1.1rem; font-weight: bold; }

.eaton-product-tabs__description .b-heading-h5 { padding-top: 6px; }

.eaton-product-tabs__tab-panel { display: none; }

.eaton-product-tabs__tab-panel.panel-active { display: block; }

.eaton-product-tabs label { cursor: pointer; width: 33.333%; text-align: center; float: left; padding: 1.3rem 0; margin: 0; background-color: #F8F8F8; }

.eaton-product-tabs label a { display: block; width: 100%; height: 100%; }

.eaton-product-tabs label a:hover, .eaton-product-tabs label a:focus, .eaton-product-tabs label a:active { text-decoration: none; }

.eaton-product-tabs label:hover, .eaton-product-tabs label:focus, .eaton-product-tabs label:active, .eaton-product-tabs label.tab-active { background-color: #EEF0F2; }

.eaton-product-tabs label .icon { color: #005EB8; display: block; font-size: 2.4rem; }

.eaton-product-tabs label span { color: #005EB8; display: inline-block; font-size: 1.2rem; padding-top: 8px; }

.eaton-product-tabs__dropdown { background-color: #4C8C2B; border: 0; color: #FFF; display: inline-block; font-family: Arial, "Arial", sans-serif; font-size: 16px; font-size: 1.6rem; height: 57px; margin: 40px 0; width: 100%; position: relative; }

.eaton-product-tabs__dropdown .icon { display: inline-block; font-size: 14px; padding-left: 10px; vertical-align: middle; }

.eaton-product-tabs__dropdown__content { position: absolute; background-color: #F8F8F8; list-style: none; padding: 30px; top: 77px; left: 50%; margin: 0 auto; border: 0; border-radius: 0; margin-left: -46.5%; width: 93%; }

.eaton-product-tabs__dropdown__content li { padding: 30px 0 0 35px; position: relative; }

.eaton-product-tabs__dropdown__content li:first-child { padding-top: 0; }

.eaton-product-tabs__dropdown__content li a { color: #5B6770; display: inline-block; width: 100%; text-align: left; margin: 0; padding: 0; }

.eaton-product-tabs__dropdown__content li span { font-size: 1.5rem; }

.eaton-product-tabs__dropdown__content li .icon { font-size: 25px; left: 0; padding: 0 10px 0 0; position: absolute; }

@media screen and (max-width: 991px) { .eaton-product-tabs__description { padding: 10px 15px; }
  .eaton-product-tabs .container { padding: 0; width: 100%; }
  .eaton-product-tabs__dropdown-container { background-color: #FFF; }
  .eaton-product-tabs .eaton-product-tabs__dropdown { width: 93%; margin-top: 20px; margin-bottom: 20px; }
  .eaton-product-tabs__page-utility { padding: 0 15px; }
  .eaton-product-tabs .eaton-product-tabs__buttons__center { border-top: 2px solid #EEF0F2; }
  .eaton-product-tabs--fixed .eaton-product-tabs__buttons { position: relative; z-index: unset; }
  .eaton-product-tabs--fixed .eaton-product-tabs__buttons::before { height: 78px; }
  .eaton-product-tabs--fixed .eaton-product-tabs__buttons__center { position: fixed; top: 0; left: 0; right: 0; margin: 0; z-index: 99; padding: 0; }
  .eaton-product-tabs--fixed .eaton-product-tabs__description { display: none; }
  .eaton-product-tabs--fixed .eaton-product-tabs__dropdown-container { margin-top: 157px; z-index: 1; padding: 0; }
  .eaton-product-tabs--fixed .eaton-product-tabs__tab-panel { padding-top: 265px; } }

@media screen and (min-width: 992px) { .eaton-product-tabs__dropdown { font-size: 18px; font-size: 1.8rem; font-weight: bold; }
  .eaton-product-tabs__description { position: relative; top: 78px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .eaton-product-tabs__description .icon { font-size: 1.4rem; }
  .eaton-product-tabs .eaton-product-tabs__dropdown__content { top: 97px; left: 50%; margin-left: -50%; width: 100%; }
  .eaton-product-tabs label { padding: 4rem 0; }
  .eaton-product-tabs label .icon { font-size: 4rem; }
  .eaton-product-tabs label span { font-size: 1.4rem; }
  .eaton-product-tabs--fixed .eaton-product-tabs__buttons { top: 80px; margin-left: -15px; margin-right: -15px; }
  .eaton-product-tabs--fixed .eaton-product-tabs__page-utility { margin-top: 274px; } }

.aem-AuthorLayer-Edit .eaton-product-tabs__tab-panel, .cq-wcm-edit .eaton-product-tabs__tab-panel { display: block; }
