<sly data-sly-use.fullPageDrawerHelper="com.eaton.platform.core.helpers.FullPageDrawerHelper"></sly>
<div class="utility-nav utility-bottom-fixed" id="utility-nav-mob">
    <div class="container-full">
        <div class="aem-Grid aem-Grid--12">
            <div class="aem-GridColumn aem-GridColumn--phone--9 aem-GridColumn--tablet--9 contry-language-selector">
                <ul class="padding-top-50 padding-bottom-50">
                    <li id="selectRegion">
                        <a href="#." class="select-region-link-mob">
                        <span class="utility-icon"></span>
                        <span class='country-name'>${fullPageDrawerHelper.countryTitle}</span>
                        <span class='language'>${fullPageDrawerHelper.languageTitle}</span>
                        <span class="caret"></span></a>
                    </li>
                </ul>
            </div>
            <div class="aem-GridColumn aem-GridColumn--phone--3 aem-GridColumn--tablet--3 sign-up-link" data-sly-list=${fullPageDrawerHelper.fpdList}>
                <div class="padding-top-50 padding-bottom-50">
                    <a data-sly-test="${item.transLinkTitle}" href="${item.linkPath}" class="pull-right"><span class="${item.icons}"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>