<!--/*
  StyleGuide: SCSS Helpers
*/-->
<template data-sly-template.section="${ @ data }">

  <div class="sg-section" id="sg-scss-helpers">
    <h2>SCSS Helpers</h2>
    <p>SCSS Helpers are a collection of CSS classes, SASS Variables and SASS mixins that... (WIP)</p>
    <br /><br />

    <div class="panel-group" id="sg-scss-helpers-accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sg-scss-helpers-heading-1">
          <h4 class="panel-title">
            <a class="u-show" role="button" data-toggle="collapse" data-parent="#sg-scss-helpers-accordion" href="#sg-scss-helpers-pane-1" aria-expanded="true" aria-controls="sg-scss-helpers-pane-1">
              Typography CSS Classes
            </a>
          </h4>
        </div>
        <div id="sg-scss-helpers-pane-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sg-scss-helpers-heading-1">
          <div class="panel-body">
            <table class="b-body-copy-small">
              <thead>
                <tr>
                  <td width="20%">Stlye Name</td>
                  <td width="40%">CSS Classes</td>
                  <td width="40%">Info</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>H1</td>
                  <td><code> class="b-heading-h1" </code></td>
                  <td><strong>H1</strong> style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>H2</td>
                  <td><code> class="b-heading-h2" </code></td>
                  <td><strong>H2</strong> style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>H3</td>
                  <td><code> class="b-heading-h3" </code></td>
                  <td><strong>H3</strong> style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>H4</td>
                  <td><code> class="b-heading-h4" </code></td>
                  <td><strong>H4</strong> style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>H5</td>
                  <td><code> class="b-heading-h5" </code></td>
                  <td><strong>H5</strong> style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>Body Copy</td>
                  <td><code> class="b-body-copy" </code></td>
                  <td><strong>body-copy</strong> Style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>Body Copy Small</td>
                  <td><code> class="b-body-copy-small" </code></td>
                  <td><strong>body-copy-small</strong> Style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>Eyebrow Large</td>
                  <td><code> class="b-eyebrow-large" </code></td>
                  <td><strong>eyebrow-large</strong> Style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>Eyebrow Small</td>
                  <td><code> class="b-eyebrow-small" </code></td>
                  <td><strong>eyebrow-small</strong> Style for Desktop &amp; Mobile breakpoints</td>
                </tr>
                <tr>
                  <td>Hero Description</td>
                  <td><code> class="b-hero-description" </code></td>
                  <td><strong>hero-description</strong> Style for Desktop &amp; Mobile breakpoints</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sg-scss-helpers-heading-2">
          <h4 class="panel-title">
            <a class="u-show collapsed" role="button" data-toggle="collapse" data-parent="#sg-scss-helpers-accordion" href="#sg-scss-helpers-pane-2" aria-expanded="false" aria-controls="sg-scss-helpers-pane-2">
              Buttons
            </a>
          </h4>
        </div>
        <div id="sg-scss-helpers-pane-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sg-scss-helpers-heading-2">
          <div class="panel-body">
            <table class="b-body-copy-small">
              <thead>
                <tr class="b-body-copy-small">
                  <td width="20%">Stlye Name</td>
                  <td width="40%">CSS Classes</td>
                  <td width="40%">Info</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Primary Light</td>
                  <td><code>class="b-button b-button__primary b-button__primary--light"</code></td>
                  <td>Primary CTA/Button over <strong>White / Light</strong> background</td>
                </tr>
                <tr>
                  <td>Primary Dark</td>
                  <td><code>class="b-button b-button__primary b-button__primary--dark"</code></td>
                  <td>Primary CTA/Button over <strong>Dark</strong> background</td>
                </tr>
                <tr>
                  <td>Secondary Light</td>
                  <td><code>class="b-button b-button__secondary b-button__secondary--light"</code></td>
                  <td>Secondary CTA/Button over <strong>White / Light</strong> background</td>
                </tr>
                <tr>
                  <td>Secondary Dark</td>
                  <td><code>class="b-button b-button__secondary b-button__secondary--dark"</code></td>
                  <td>Secondary CTA/Button over <strong>Dark</strong> background</td>
                </tr>
                <tr>
                  <td>Tertiarly Light</td>
                  <td><code>class="b-button b-button__tertiary b-button__tertiary--light"</code></td>
                  <td>Tertiarly CTA/Button over <strong>White / Light</strong> background</td>
                </tr>
                <tr>
                  <td>Tertiarly Dark</td>
                  <td><code>class="b-button b-button__tertiary b-button__tertiary--dark"</code></td>
                  <td>Tertiarly CTA/Button over <strong>Dark</strong> background</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sg-scss-helpers-heading-3">
          <h4 class="panel-title">
            <a class="u-show collapsed" role="button" data-toggle="collapse" data-parent="#sg-scss-helpers-accordion" href="#sg-scss-helpers-pane-3" aria-expanded="false" aria-controls="sg-scss-helpers-pane-3">
              SCSS Utils <small>(Functions, Mixins, Placeholders)</small>
            </a>
          </h4>
        </div>
        <div id="sg-scss-helpers-pane-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sg-scss-helpers-heading-3">
          <div class="panel-body">
            <table class="b-body-copy-small">
              <thead>
                <tr class="b-body-copy-small">
                  <td width="30%">Name</td>
                  <td width="40%">Code Sample</td>
                  <td width="30%">Info</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Convert PX to REM</td>
                  <td><code>rem(24px)</code> &nbsp;&nbsp;/* output: 2.4rem */</td>
                  <td>SASS Function: pixels to rems</td>
                </tr>
                <tr>
                  <td>MediaQuery <strong>Mobile &amp; Tablet</strong></td>
                  <td><code>@include media-mobile-and-tablet { ... }</code></td>
                  <td>SASS Mixin. @media 0 to 991px</td>
                </tr>
                <tr>
                  <td>MediaQuery <strong>Desktop &amp; Desktop Large</strong> </td>
                  <td><code>@include media-desktop-and-up { ... }</code></td>
                  <td>SASS Mixin. @media greater than 992px</td>
                </tr>
                <tr>
                  <td>MediaQuery <strong>Mobile</strong> </td>
                  <td><code>@include media-mobile-only { ... }</code></td>
                  <td>SASS Mixin. @media 0 to 767px</td>
                </tr>
                <tr>
                  <td>MediaQuery <strong>Tablet</strong></td>
                  <td><code>@include media-tablet-only { ... }</code></td>
                  <td>SASS Mixin. @media 768px to 991px</td>
                </tr>
                <tr>
                  <td>MediaQuery <strong>Desktop</strong></td>
                  <td><code>@include media-desktop-only { ... }</code></td>
                  <td>SASS Mixin. @media 992 to 1199px</td>
                </tr>
                <tr>
                  <td>MediaQuery <strong>Desktop Large</strong> </td>
                  <td><code>@include media-desktop-large { ... }</code></td>
                  <td>SASS Mixin. @media greater than 1200px</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <hr class="sg-divider" />

    <style>


    </style>
  </div>

</template>
