<!--/*
  StyleGuide: SCSS Helpers
*/-->
<template data-sly-template.section="${ @ data }">

  <div class="sg-section" id="sg-scss-helpers">
    <h2>SCSS Helpers</h2>
    <p>SCSS Helpers are a collection of CSS classes, SASS Variables and SASS mixins that... (WIP)</p>
    <br /><br />

    <div class="panel-group" id="sg-scss-helpers-accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sg-scss-helpers-heading-1">
          <h4 class="panel-title">
            <a class="u-show" role="button" data-toggle="collapse" data-parent="#sg-scss-helpers-accordion" href="#sg-scss-helpers-pane-1" aria-expanded="true" aria-controls="sg-scss-helpers-pane-1">
              Typography CSS Classes
            </a>
          </h4>
        </div>
        <div id="sg-scss-helpers-pane-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sg-scss-helpers-heading-1">
          <div class="panel-body">
            <table class="b-body-copy-small">
              <thead>
                <tr>
                  <td width="20%">Stlye Name</td>
                  <td width="40%">CSS Classes</td>
                  <td width="40%">Info</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>H1</td>
                  <td><code> class="b-heading-h1" </code></td>
                  <td>Heading 1 appearance for Desktop / Mobile Breakpoints</td>
                </tr>
                <tr>
                  <td>H2</td>
                  <td><code> class="b-heading-h2" </code></td>
                  <td>Heading 2 appearance for Desktop / Mobile Breakpoints</td>
                </tr>
                <tr>
                  <td>H3</td>
                  <td><code> class="b-heading-h3" </code></td>
                  <td>Heading 3 appearance for Desktop / Mobile Breakpoints</td>
                </tr>
                <tr>
                  <td>H4</td>
                  <td><code> class="b-heading-h4" </code></td>
                  <td>Heading 4 appearance for Desktop / Mobile Breakpoints</td>
                </tr>
                <tr>
                  <td>H5</td>
                  <td><code> class="b-heading-h5" </code></td>
                  <td>Heading 5 appearance for Desktop / Mobile Breakpoints</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="sg-scss-helpers-heading-2">
          <h4 class="panel-title">
            <a class="u-show collapsed" role="button" data-toggle="collapse" data-parent="#sg-scss-helpers-accordion" href="#sg-scss-helpers-pane-2" aria-expanded="false" aria-controls="sg-scss-helpers-pane-2">
              Buttons
            </a>
          </h4>
        </div>
        <div id="sg-scss-helpers-pane-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sg-scss-helpers-heading-2">
          <div class="panel-body">
            <table class="b-body-copy-small">
              <thead>
                <tr class="b-body-copy-small">
                  <td width="20%">Stlye Name</td>
                  <td width="40%">CSS Classes</td>
                  <td width="40%">Info</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Button Primary - Light</td>
                  <td><code>class="b-button b-button__primary b-button__primary--light"</code></td>
                  <td>Primary CTA/Button when used over white / light background</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="u-show collapsed" role="button" data-toggle="collapse" data-parent="#sg-scss-helpers-accordion" href="#sg-scss-helpers-pane-3" aria-expanded="false" aria-controls="sg-scss-helpers-pane-3">
              SCSS Mixins
            </a>
          </h4>
        </div>
        <div id="sg-scss-helpers-pane-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            TODO: (WIP)
          </div>
        </div>
      </div>
    </div>

    <hr class="sg-divider" />

    <style>

    .sg-fonts__sample {
      font-size: 24px;
      line-height: 1.2;
    }

    </style>
  </div>

</template>
