// Import Sass Utils
//--------------
@import '../_config/variables';
@import '../_config/mixins/**/*.scss';


.c-product-card {

  &__heading {
    margin-bottom: 1rem;
  }

  &__image {
    margin-bottom: 1rem;
  }

  &--dark-theme {
    background: $color__primary-1;
  }
}
