//-----------------------------------
// IconList Component: No Image Highlights
//-----------------------------------

.icon-list-no-image-highlights {
  background: $color__secondary-gray3;

  &__item {
    display: flex;
    color: $color__primary-gray2;
  }

  &__content {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__text {

  }

  &__symbol {
    position: relative;
  }

  //-----------------------------------
  // Media-Query: Mobile
  //-----------------------------------
  @include media-mobile-and-tablet {
    &__item {


      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {

    }

    &__symbol {

    }

    &__title {
    }
  }

  //-----------------------------------
  // Media-Query: Desktop
  //-----------------------------------
  @include media-desktop-and-up {
    padding: 42px 0;

    &__text {
      font-size: 60px;
      line-height: 65px;
    }

    &__symbol {
      font-size: 40px;
      top: -15px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: ($spacing__sm / 2);
    }
  }
}
