//-----------------------------------
// IconList Component: Proof Points
//-----------------------------------

.icon-list-proof-points {

  &__item {
    display: flex;
  }

  &__image {
    margin-top: 20px;

    img { width: 80px; }
  }

  &__content {
    padding-left: 40px;
  }

  &__facts,
  &__symbol {
    font-weight: bold;
    display: inline-block;
    color: $color__accent-aqua;
  }

  &__facts {
    line-height: 1;
    margin-left: -3px;
  }

  &__symbol {
    position: relative;
    right: 0;
    font-size: 50px;
    top: -30px;
  }

  //-----------------------------------
  // Media-Query: Mobile
  //-----------------------------------
  @include media-mobile-and-tablet {
    &__item {
      justify-content: center;
      margin-bottom: ($spacing__sm ) + 10;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__facts {
      font-size: 83px;
    }

    &__related {
      font-size: 18px;
    }
  }

  //-----------------------------------
  // Media-Query: Desktop
  //-----------------------------------
  @include media-desktop-and-up {
    &__facts {
      font-size: 75px;
    }

    &__symbol {
      font-size: 45px;
      top: -20px;
    }

    &__related {
      font-size: 24px;
    }
  }
}
