//-----------------------------------
// IconList Component: Proof Points
//-----------------------------------

.icon-list-proof-points {
  padding: ($spacing__lg / 2) 0;

  &__item {
    display: flex;
  }

  &__image {

    img { width: 80px; }
  }

  &__content {
    padding-left: 40px;
  }

  &__text {
    font-family: 'EatonBold';
    color: $color__accent-aqua;
    display: flex;
    margin-left: -3px;
  }

  &__symbol {
    position: relative;
  }

  //-----------------------------------
  // Media-Query: Mobile
  //-----------------------------------
  @include media-mobile-and-tablet {
    &__item {
      justify-content: center;
      align-items: center;
      margin-bottom: ($spacing__sm ) + 10;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      font-size: 8.3rem;
      line-height: 8.5rem;
    }

    &__symbol {
      font-size: 4rem;
      line-height: 4rem;
      top: 13px;
    }

    &__title {
      @include body-copy--desktop;
    }
  }

  //-----------------------------------
  // Media-Query: Desktop
  //-----------------------------------
  @include media-desktop-and-up {
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;

      .eaton-grid-control & {
        display: block;
      }
    }

    &__item {
      flex-basis: 33.33%;

      .eaton-grid-control & {
        flex-basis: 100%;
        margin-bottom: ($spacing__sm ) + 10;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__image {
      margin-top: 20px;
    }

    &__text {
      font-size: 10rem;
      line-height: 10.5rem;
    }

    &__symbol {
      font-size: 6rem;
      line-height: 6rem;
      top: 8px;
    }

    &__title {
      @include body-copy-small--desktop;
    }
  }
}
