//-----------------------------------
// IconList Component: No Image Highlights
//-----------------------------------

.icon-list-no-image-highlights {
  background: $color__secondary-gray3;

  &__item {
    color: $color__primary-gray2;
  }

  &__content {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__symbol {
    position: relative;
  }

  //-----------------------------------
  // Media-Query: Mobile
  //-----------------------------------
  @include media-mobile-and-tablet {
    padding: 30px 0;
    &__item {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      font-size: 50px;
      line-height: 55px;
    }

    &__symbol {
      font-size: 30px;
      top: -15px;
    }

    &__title {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  //-----------------------------------
  // Media-Query: Desktop
  //-----------------------------------
  @include media-desktop-and-up {
    padding: 42px 0;

    &__wrapper {
      display: flex;
    }

    &__text {
      font-size: 60px;
      line-height: 65px;
    }

    &__symbol {
      font-size: 40px;
      top: -15px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: ($spacing__sm / 2);
    }
  }
}
