//-----------------------------------
// Component M-42: Top List with Icon
//-----------------------------------
// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";


.eaton-top-list-with-icon {
  margin-top: $spacing__lg / 2;
  overflow: hidden;

  &__icon {
    color: $color__accent-orange;
    max-width: $spacing__md;
    display: inline-block;

    img {
      width: $spacing__md;
      height: $spacing__md;
    }
  }

  &__text-wrapper {
    width: calc(100% - 90px);
    display: inline-block;
    float: right;
  }

  &__element {
    margin-bottom: $spacing__lg / 2;
  }




  @include media-desktop-and-up {
    margin-top: $spacing__lg;

    &__icon {
      max-width: 70px;

      img {
        width: 70px;
        height: 70px;
      }
    }

    &__text-wrapper {
      width: calc(100% - 100px);
    }

    &__element {
      margin-bottom: $spacing__lg;
    }

    .container {
      margin: 0 auto;

      &.row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .col-md-4 {
          flex: 0 0 33%;
        }

        .row {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

      }
    }
  }

  .eaton-grid-control & {

    margin-top: 0;

    .container {
      width: 100%;

      .col-md-4 {
        flex: 0 0 100%;
      }
    }
  }

  .eaton-grid-control.dark-theme & {
    &__text-wrapper {
      color: $color__white;

      a {
        color: $color__white;
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .eaton-top-list-with-icon {
    .container {
      &.row {
        .col-md-4 {
          flex: 0 0 30%;
        }
      }
    }
  }
}
