//-----------------------------------
// IconList Component: No Image Highlights
//-----------------------------------

.icon-list-no-image-highlights {
  margin: $spacing__md 0;
  background: $color__secondary-gray6;

  &__item {
    color: $color__primary-gray2;
  }

  &__content {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $color__primary-gray1;
  }

  &__text {
    word-wrap: break-word;
    color: $color__primary-gray1;
    font-family: 'EatonMedium';
  }

  &__symbol {
    position: relative;
  }

  //-----------------------------------
  // Media-Query: Mobile
  //-----------------------------------
  @include media-mobile-and-tablet {
    padding: $spacing__md 0;

    &__item {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 5px; // Visually account for 15px gap between title and text
    }

    &__text {
      font-size: 5rem;
      line-height: 5.5rem;
    }

    &__symbol {
      font-size: 3rem;
      top: -15px;
    }
  }

  //-----------------------------------
  // Media-Query: Desktop
  //-----------------------------------
  @include media-desktop-and-up {
    padding: ($spacing__sm * 2) 0;

    .eaton-grid-control & {
      padding: $spacing__sm 0;
    }

    &__wrapper {
      display: flex;
      flex-wrap: nowrap;

      .eaton-grid-control & {
        display: block;
      }
    }

    &__item {
      .eaton-grid-control & {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__text {
      font-size: 6rem;
      line-height: 6.5rem;
    }

    &__symbol {
      font-size: 4rem;
      top: -15px;
    }

    &__title {
      margin-bottom: ($spacing__sm / 2);
    }
  }
}
