//-----------------------------------
// Component Overrides Specific to: Mega Menu
//-----------------------------------

.mega-menu {

  .eaton-link-list-vertical {
    &__external-icon {
      padding-right: 0.4rem;
      font-size: 1.2rem;
    }
  }
  
  //-----------------------------------
  // Media Query: Mobile/Tablet
  //-----------------------------------
  @include media-mobile-and-tablet {
    .eaton-link-list-vertical {
      &__eyebrow {
        margin-bottom: ($spacing__sm / 2);
      }
    }
  }
}
