//-----------------------------------
// Component: Mega Menu
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.mega-menu {
  background: $color__primary-gray1;
  padding: 30px 0;
  // display: none;
  position: absolute;
  width: 100%;
  z-index: 2;

  &__content {
    padding: 20px;
    margin-bottom: 20px;
    color: $color__white;

    &--active {
      display: block;
    }
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
    position: fixed;
    top: 105px;
    bottom: 42px;
    transition: transform 0.7s ease-in-out;
    overflow: auto;
    transform: translate(100%);
    visibility: hidden;
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out;
  }
}
