//-----------------------------------
// Component: Mega Menu
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

// Import Overrides
@import "mega-menu-modules";

.mega-menu {
  background: $color__primary-gray1;
  position: absolute;
  width: 100%;
  z-index: 2;

  &__content {
    color: $color__white;

    &--active {
      display: block;
    }
  }

  &__category {
    background: $color__primary-gray2;
    padding: $spacing__sm 0;
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
    position: fixed;
    top: 109px;
    bottom: 40px;
    transition: transform 0.7s ease-in-out;
    overflow: auto;
    transform: translate(100%);
    visibility: hidden;
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    // opacity: 0;
    // visibility: hidden;
    transition: opacity 0.1s ease-in-out;
  }
}

// Move to Title View
.eaton-title {
  position: relative;
  padding: 30px 0;
  font-size: 20px;
  display: flex;

  a {
    color: $color__white;
    text-decoration: none;
    cursor: pointer;
  }

  &__level1-link {
    display: flex;
    align-items: center;
  }

  &__close-menu {
    display: none;
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
    &__level1-link {
      .glyphicon-menu-left {
        display: inline;
        margin-right: 10px;
      }

      .glyphicon-menu-right {
        display: none;
      }
    }
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    &__level1-link {
      .glyphicon-menu-left {
        display: none;
      }

      .glyphicon-menu-right {
        display: inline;
        margin-left: 10px;
      }
    }

    &__close-menu {
      display: inline;
      position: absolute;
      right: 0;
    }
  }
}
