//-----------------------------------
// Component 4.4: Header - Mega Menu
// TTIL - View - Single feature
//-----------------------------------

.eaton-single-feature {

  &__headline,
  &__image {
    margin-bottom: $spacing__sm;
  }

  &__headline,
  &__eyebrow {
    text-transform: uppercase;

    .dark-theme & {
      color: $color__white;
    }
  }

  &__image {

    img { width: 100%; }
  }

  &__eyebrow {
    margin-bottom: ($spacing__sm / 2);
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    padding: ($spacing__sm / 3) 0; // Visually 30px Spacing between items
    text-decoration: none;
    display: block;

    span {
      &::after {
        color: $color__white;
        position: relative;
        top: 1px;
        content: "\EA07";
        font-family: 'eaton-glyphicon';
        display: inline;
        font-size: 1.4rem;
        padding-left: 7px;
        text-decoration: none;
      }
    }

    i {
      font-size: 1.4rem;
      margin-left: 0.4rem;
    }

    .dark-theme & {

      color: $color__white;
    }
  }
}
