.feature-block-component {

  &__image {
    text-align: center;
    position: relative;
    min-height: 92.6666vw;

    @include media-tablet-only {
      min-height: 60vw;
      min-width: 48vw;
    }

    @include media-desktop-and-up {
      min-height: 44vw;
      min-width: 44vw;
    }
  }

  &__description {
    padding-top: 10px;
    padding-bottom: $spacing__sm
  }

  &__text-container {

    @include media-mobile-only {
      padding: $spacing__md $spacing__sm;
    }

    @include media-tablet-only {
      flex: 2;
    }

    &--white {
      color: $color__white;
    }
  }


  @include media-tablet-and-up {
    width: 100%;
    display: flex;
    align-items: center;

    &__image {
      display: inline-block;
      position: relative;
      order: 1;

    }

    &__text-container {
      order: 2;
      padding-right: 20px;
      padding-left: 80px;

    }


    &__right {
      margin-left: 0;
      display: flex;

      .feature-block-component {
        &__image {
          order: 2;
        }

        &__text-container {
          order: 1;
          padding-right: 80px;
          padding-left: 0;

          @include media-tablet-and-up {
            padding-left: 40px;
          }

          @include media-desktop-large {
            padding-left: 0;
          }
        }
      }
    }

  }

  @include media-desktop-large {
    width: calc((100% - 1140px) / 2 + 1140px);

    &__right {
      margin-left: calc((100% - 1140px) / 2);
    }
  }


  //-----------------------------------
  // Media-Query: 0-991px
  //-----------------------------------
  @include media-mobile-only {

    // EATON-538: Feature Block - CTA should be centered in Mobile.
    &__cta-wrapper {
      text-align: center;
    }

  }

}
