//-----------------------------------
// Component M-11: Page Overview
//-----------------------------------

.eaton-page-overview {

  margin-top: $spacing__xl;
  margin-bottom: $spacing__md;

  // Page Overview Styles
  //--------------
  &__title {
    position: relative;

    &::after {
      content: '';
      background-color: $color__primary-blue;
      bottom: 0;
      display: block;
      height: 4px;
      left: 0;
      position: absolute;
      width: 68px;
    }
  }

  &__content {
    // empty selector for future reference
  }

  @include media-mobile-only {
    margin-top: $spacing__md;
  }


  //-----------------------------------
  // Media-Query: Desktop & Desktop Large
  //-----------------------------------
  @include media-mobile-and-tablet {

    &__title { padding-bottom: 30px; }

    &__content,
    &__cta {
      margin-top: 30px;
    }

    &__cta {

      &--mobile { display: block; }

      &--desktop { display: none; }

    }

  }


  //-----------------------------------
  // Media-Query: Desktop & Desktop Large
  //-----------------------------------
  @include media-desktop-and-up {

    &__title { padding-bottom: 50px; }

    &__cta {
      margin-top: $spacing__md;

      &--mobile { display: none; }

      &--desktop { display: block; }

    }

  }

}
