//-----------------------------------
// Module L2 Hero - Is Part of M-49 Category Highlight
//-----------------------------------
.l2-hero {
  position: relative;

  &--vertical-align {
    display: flex;
    align-items: center;
  }

  &__content {
    position: relative;
    padding: 15px 0;
    width: 100%;
  }

  &__title,
  &__text {
    color: $color__white;
  }

  &__title {
    margin-bottom: 0;
  }

  &__text {
    margin-top: 18px; // Visually 30px Spacing between Headline and Text.
  }


  //-----------------------------------
  // Media Query: 0 - 991px
  //-----------------------------------
  @include media-mobile-and-tablet {

    // Image Aspect Ratio Mobile
    height: #{(628/750) * 100}vw;
    min-height: 370px;
    max-height: 500px;

    &__text {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }


  //-----------------------------------
  // Media Query: > 992px and up
  //-----------------------------------
  @include media-desktop-and-up {
    // Aspect Ratio Desktop: 26:9
    height: #{(9/26) * 100}vw;

    &__text {
      font-size: 2rem;
      line-height: 3.2rem;
      margin-top: 12px; // Visually 30px Spacing between Headline and Text.
    }
  }

}
