.feature-block-component {

  margin: 60px 0;

  &__image {
    text-align: center;

    .rendition {
      img {
        width: 100%;
        height: auto;

        @include media-tablet-only {
          width: 330px;
          height: 400px;
        }

        @include media-desktop-and-up {
          width: 665px;
          height: 665px;
        }
      }
    }
  }

  &__description {
    padding: $spacing__sm 0;
  }

  &__text-container {

    @include media-mobile-only {
      padding: $spacing__md $spacing__sm;
    }

    @include media-tablet-only {
      flex: 2;
    }

    &--white {
      color: $color__white;
    }
  }


  @include media-tablet-and-up {
    width: 100%;
    display: flex;
    align-items: center;

    &__image {
      display: inline-block;
      position: relative;
      order: 1;

    }

    &__text-container {
      width: calc(100% - 484px);
      order: 2;
      padding-right: 80px;
      padding-left: 80px;

    }


    &__right {
      margin-left: 0;
      display: flex;

      .feature-block-component {
        &__image {
          order: 2;
        }

        &__text-container {
          order: 1;
          padding-right: 80px;
          padding-left: 0;

          @include media-tablet-only {
            padding-left: 40px;
          }
        }
      }
    }

  }

  @include media-desktop-large {
    width: calc((100% - 1140px) / 2 + 1140px);

    &__right {
      margin-left: calc((100% - 1140px) / 2);
    }
  }
}
