.eaton-article-feature {

  margin: 60px 0;

  font-family: $font-family__primary;

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    // font-size: 1.5em;
    // font-weight: bold;
    // color: $color__primary-gray1;
    // text-transform: uppercase;
    margin-top: 55px;
  }

  &__cta {
    // color: $color__primary-blue;
    font-size: 4.0rem;
    line-height: 5.0rem;
    margin-top: 15px;
    margin-bottom: 15px;

    a:hover,
    a:active,
    a:visited,
    a:focus {
      text-decoration: none;
      color: $color__primary-blue;
    }
  }

  &__date {
    font-style: italic;
    margin-bottom: 45px;
  }
}

@include media-mobile-and-tablet {
  .eaton-article-feature {

    &__title {
      // font-size: 1.1em;
      margin-top: 27px;
    }

    &__date {
      margin-bottom: 20px;
    }

    &__cta {
      font-size: 2.8rem;
      line-height: 3.2rem;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
