.productTabsBackground{
background:#333f48;
}
.productTabsFamily .btnHolder{
padding:20px 0px;
color:#fff;
text-transform: uppercase;
}
.productTabsFamily .ptHolder{
padding:20px 0px;
color:#fff;
text-transform: uppercase;
}
.productTabsFamily .ptHolder .pxUps{
font-family:eaton;
font-weight:bold;
margin-top:5px;
}
.btnHolder .howToBuy{
border-radius:0px;
background:#4c8c2b;
width:100%;
}

.productTabsFamily .tab{


}
.productTabsFamily .tab .tabInsideContent{
padding:10px 0px 13px 0px;
}
.productTabsFamily .tabHolder{
color:#fff;
}
.productTabsFamily .tabIcon{
display:block;
margin:auto;
}

.productTabsFamily .tabInsideContent .overview{
text-align:center;
}
.productTabsFamily .tabHolder{
margin-left:8.33333333%;
}
.productTabsFamily .tabHolder .active{
background:#5b6770 !important;
}
.productTabsFamily .tabHolder a{
 color:white;
	   text-decoration:none;
 }
.productTabsFamily .tabHolder  a:hover {
       background-color: #5b6770 !important;
	   color:white;
	   text-decoration:none;
 }
.productTabsFamily .tabHolder a:active{
 background-color: #5b6770 !important;
 color:white;
text-decoration:none;
 }
.productTabsFamily .tabHolder a:focus{
 background-color: #5b6770 !important;
 color:white;
text-decoration:none;
 }
.productTabsFamily .tabHolder> li > a {
 padding:0px !important;
 }
.overview{
text-align:center;
}
.productTabsFamily .tabHolder li {
    width: 30% !important;
    margin-top: 0px !important;
    margin-right: 0% !important;
}
.productTabsFamily .tabHolder > li.active > a, .tabHolder > li.active > a:hover, .tabHolder > li.active > a:focus {
}
.productTabsFamily .no-padding { padding-left:0px; padding-right:0px; }


@media only screen and (max-width: 768px) {
.productTabsFamily .ptHolder{
border-bottom:2px solid #5b6770;
}
.productTabsFamily .container{
padding:0px;
}
.productTabsFamily .btnHolder{
margin-left:8.333333%;
margin-right:8.333333%;

}
.productTabsFamily .tabHolder{
margin-left:0px;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.btnHolder{
margin-left:8.333333%;
margin-right:8.333333%;

}


}

