
<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">Sitemap Component</div>
</sly>
<sly data-sly-use.primaryNav="com.eaton.platform.core.helpers.SitemapHelper">

  <div class="eaton-sitemap">
  <sly data-sly-list.primarynavbean="${ primaryNav.primaryNavList}">
    <div class="container" >
    	<a class="eaton-sitemap__levelone" href="${primarynavbean.primaryNav.linkPath}" title="${primarynavbean.primaryNav.linkTitle}">
    		${primarynavbean.primaryNav.linkTitle}
    	</a>
    	<div class="eaton-sitemap__wrapper" data-sly-list.secondarynavbean="${ primarynavbean.secondaryNavList}">
    		<a class="eaton-sitemap__leveltow" href="${secondarynavbean.secondaryNav.linkPath}"  title="${secondarynavbean.secondaryNav.linkTitle}">${secondarynavbean.secondaryNav.linkTitle}</a>
    		<div class="separator" data-sly-test="${secondarynavbean.ternaryNavList}"></div>
    		<div class="eaton-sitemap__wrapper" data-sly-test="${secondarynavbean.ternaryNavList}">
    			<div data-sly-list.ternarynavbean="${secondarynavbean.ternaryNavList}">
    				<a class="eaton-sitemap__levelthree" href="${ternarynavbean.ternaryNav.linkPath}"  title="${ternarynavbean.ternaryNav.linkTitle}">${ternarynavbean.ternaryNav.linkTitle}</a>
    				<div class="eaton-sitemap__wrapper" data-sly-test="${ternaryNavBean.fourthNavList}">
		    			<div data-sly-list.fourthnavbean="${ternaryNavBean.fourthNavList}">
		    				<a class="eaton-sitemap__levelfour" href="${fourthnavbean.fourthNav.linkPath}"  title="${fourthnavbean.fourthNav.linkTitle}">${fourthnavbean.fourthNav.linkTitle}</a>
		    				<div class="eaton-sitemap__wrapper" data-sly-test="${fourthNavBean.fifthNavList}">
				    			<div class="row" data-sly-list.fifthnavbean="${fourthNavBean.fifthNavList}">
				    				<div class="col-xs-12 col-md-4">
				    					<a class="eaton-sitemap__levelfive" href="${fifthnavbean.fifthNav.linkPath}"  title="${fifthnavbean.fifthNav.linkTitle}">${fifthnavbean.fifthNav.linkTitle}</a>
				    					<div class="eaton-sitemap__wrapper" data-sly-test="${fifthNavBean.sixthNavList}">
							    			<div class="last-wrapper" data-sly-list.sixthnavbean="${fifthNavBean.sixthNavList}">
						    					<a class="eaton-sitemap__levelsix" href="${sixthnavbean.linkPath}"  title="${sixthnavbean.linkTitle}">${sixthnavbean.linkTitle}</a>
							    			</div>
							    			
							    		</div>
				    				</div>
				    			</div>
				    			
				    		</div>
		    			</div>
		    			
		    		</div>
    			</div>
    			
    		</div>
    	</div>
    </div>
    </sly>
  </div>

</sly>
