<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
<div>Sitemap Component</div>
</sly>
<sly data-sly-use.primaryNav="com.eaton.platform.core.helpers.SitemapHelper">

<div class="container-full largeMarginBottom container-padding sitemapPage"	>
    <h1 class="page-title smallMarginTop">
		${properties.sitemapHeader}
	</h1>
	<div class="aem-Grid aem-Grid--12" id="sitemap-content" data-sly-list.primarynavbean="${ primaryNav.primaryNavList}">
		<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 level-one smallMarginTop">
			<h1>
				<a class="" role="button" href="${primarynavbean.primaryNav.linkPath}" aria-controls="collapseExample">
					${primarynavbean.primaryNav.linkTitle} 
				</a>
			</h1>
		</div>
		<sly data-sly-list.secondarynavbean="${ primarynavbean.secondaryNavList}">
			<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 level-two smallMarginTop">
				<h2>
					<a class="" role="button" href="${secondarynavbean.secondaryNav.linkPath}"	aria-controls="collapseExample">
						${secondarynavbean.secondaryNav.linkTitle} 
					</a>
				</h2>
				<hr>
			</div>
			<sly data-sly-list.ternarynavbean="${secondarynavbean.ternaryNavList}">
				<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 level-three smallMarginTop">
					<h3>
						<a class="" role="button" href="${ternarynavbean.ternaryNav.linkPath}" aria-controls="collapseExample">
							${ternarynavbean.ternaryNav.linkTitle} 
						</a>
					</h3>
				</div>
				<sly data-sly-list.fourthnavbean="${ternaryNavBean.fourthNavList}">
					<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 level-four smallMarginTop">
						<h4>
							<a class="" role="button" href="${fourthnavbean.fourthNav.linkPath}" aria-controls="collapseExample">
								${fourthnavbean.fourthNav.linkTitle} 
							</a>
						</h4>
					</div>
					<sly data-sly-list.fifthnavbean="${fourthNavBean.fifthNavList}">
						<div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--tablet--4 aem-GridColumn--phone--12 level-five smallMarginTop">
							<h5>
								<a class="" role="button" href="${fifthnavbean.fifthNav.linkPath}" aria-controls="collapseExample">
									${fifthnavbean.fifthNav.linkTitle} 
								</a>
							</h5>
							<div class="" id="level-six"
								data-sly-list.sixthnavbean="${fifthNavBean.sixthNavList}">
								<a class="small-link smallMarginTop" role="button"	href="${sixthnavbean.linkPath}" aria-controls="collapseExample"> 
								${sixthnavbean.linkTitle} 
								</a>
							</div>
						</div>
					</sly> 
				</sly> 
			</sly> 
		</sly>
	</div>
</div>
</sly>