<sly data-sly-use.data="com.eaton.platform.core.helpers.TextHelper">

  <div class="eaton-text-default">

    <!--/* If Grid Enabled */-->
    <div data-sly-test="${ data.textModel.toggleInnerGrid }" class="container">
      <div class="eaton-text-default__content rich-text-container">${ data.textModel.text @ context = 'html' }</div>
    </div>

    <!--/* If Grid NOT-Enabled */-->
    <div data-sly-test="${ !data.textModel.toggleInnerGrid }"
      class="eaton-text-default__content rich-text-container" >${ data.textModel.text @ context = 'html' }</div>

  </div>

</sly>
