.faceted-navigation-header { margin-bottom: 60px; }

.faceted-navigation-header__header-top, .faceted-navigation-header__header-bottom, .faceted-navigation-header__active-filters, .faceted-navigation-header__filter-link { display: -webkit-box; display: -ms-flexbox; display: flex; }

.faceted-navigation-header__sort-options, .faceted-navigation-header__filters-actions { margin-left: auto; }

.faceted-navigation-header__header-top { border-bottom: 2px solid #F8F8F8; }

.faceted-navigation-header__title { font-size: 20px; font-weight: bold; }

.faceted-navigation-header__filter-link { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 2rem; }

.faceted-navigation-header__filter-link .icon { font-size: 10px; margin-right: 1rem; }

.faceted-navigation .faceted-navigation__header.button--reset { width: 100%; text-align: left; }

.faceted-navigation .faceted-navigation__header.button--reset .icon::before { position: absolute; right: 15px; color: #005EB8; font-size: 12px; }

.faceted-navigation .faceted-navigation__facet-name { font-size: 18px; }
