.faceted-navigation-header { margin-bottom: 28px; }

.faceted-navigation-header__header-top, .faceted-navigation-header__header-bottom, .faceted-navigation-header__active-filters, .faceted-navigation-header__filter-link { display: -webkit-box; display: -ms-flexbox; display: flex; }

.faceted-navigation-header__sort-options, .faceted-navigation-header__filters-actions { margin-left: auto; }

.faceted-navigation-header__header-bottom { margin-top: 28px; }

.faceted-navigation-header__header-top { border-bottom: 2px solid #F8F8F8; padding-bottom: 28px; }

.faceted-navigation-header__title { font-size: 20px; font-weight: bold; }

.faceted-navigation-header__filter-link { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 2rem; }

.faceted-navigation-header__filter-link .icon { font-size: 10px; margin-right: 1rem; }

.faceted-navigation__mobile-facet-container { display: none; }

.faceted-navigation__group { border-bottom: 1px solid #e6e6e6; }

.faceted-navigation__list div:last-child { padding-bottom: 12px; }

.faceted-navigation__header.button--reset, .faceted-navigation__view-more-facets button { width: 100%; text-align: left; margin: 14px 0; cursor: pointer; }

.faceted-navigation__header.button--reset .icon::before, .faceted-navigation__view-more-facets button .icon::before { position: absolute; right: 15px; color: #005EB8; font-size: 12px; margin-top: 6px; }

.faceted-navigation__view-more-facets button { color: #005EB8; }

.faceted-navigation__facet-name { font-size: 18px; }

.faceted-navigation label, .faceted-navigation__view-more-values button { font-size: 14px; font-weight: normal; color: #005EB8; }

.faceted-navigation h4 { font-size: 26px; font-weight: bold; margin-bottom: 12px; }
