<!--/*
  M-36 - Product Card: SKU Item

  -
  NOTE: If the HTML structure of this file changes, please also Update the file:
  `/eaton.frontend/src/components/product-grid/js/product-grid.js`
  Since that files contains a Javascript Template that is used when more results are loaded with AJAX

*/-->
<template data-sly-template.item="${ @ results, itemData }">

  <div class="product-card-sku">

    <!--/* Product Image */-->
    <div class="product-card-sku__image-wrapper b-body-copy-small">
      <a href="${ itemData.contentItem.link.url @ context='uri' }"
        class="product-card-sku__image-link"
        target="${ itemData.contentItem.link.target }"
      >
        <!-- Start: Rendition Image Component -->
        <sly data-sly-use.tpl="eaton/static-components/shared/templates/rendition-image.html">
          <sly data-sly-call="${ tpl.module @ data=itemData.contentItem.image }"></sly>
        </sly>
        <!-- End: Rendition Image Component -->
      </a>
    </div>

    <!--/* Product Header */-->
    <div class="product-card-sku__header">

      <div class="product-card-sku__title-wrapper">
        <h3 class="product-card-sku__name">
          <a href="${ itemData.contentItem.link.url @ context='uri' }"
            target="${ itemData.contentItem.link.target }"
            class="product-card-sku__url-link"
          >
            <span class="name-label">${ itemData.contentItem.name }</span>
            <i class="icon icon-chevron-right" aria-hidden="true"></i>
          </a>
        </h3>
        <div class="product-card-sku__price b-body-copy">${ '${0}*' @ format=[ itemData.contentItem.productPrice ] }</div>
      </div>

      <!--/* Product Links */-->
      <ul class="product-card-sku__links-list">
        <li class="product-card-sku__link-item">
          <a href="${ itemData.contentItem.productLinks.specificationsURL @ context='uri' }"
            class="product-card-sku__link-item-link"
            target="_self"
            aria-label="${ 'Go to' @ i18n } ${ results.productSpecificationTitle }"
          >
            <span class="link-label">${ results.productSpecificationTitle }</span>
            <i class="icon icon-chevron-right u-visible-mobile" aria-hidden="true"></i>
          </a>
        </li>

        <li class="product-card-sku__link-item">
          <a href="${ itemData.contentItem.productLinks.resourcesURL @ context='uri' }"
            class="product-card-sku__link-item-link"
            target="_self"
            aria-label="${ 'Go to' @ i18n } ${ results.productResourcesTitle }"
          >
            <span class="link-label">${ results.productResourcesTitle }</span>
            <i class="icon icon-chevron-right u-visible-mobile" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

    </div>


    <!--/* Card Content */-->
    <div class="product-card-sku__content">
      <div class="product-card-sku__attrs-list"
        data-sly-list.attribute="${ itemData.contentItem.productAttributes }">
        <div class="product-card-sku__attrs-list-item">
          <div class="product-card-sku__attr-label b-eyebrow-small text-uppercase">${ attribute.productAttributeLabel }</div>
          <div class="product-card-sku__attr-value b-body-copy">${ attribute.productAttributeValue }</div>
        </div>
      </div>
      <div class="product-card-sku__description">${ itemData.contentItem.description }</div>
    </div>

  </div>

</template>
