//-----------------------------------
// Generic Mixins
//-----------------------------------

// Typography
//--------------
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; // Fallback in px
  font-size: calculateRem($size);
}


// Size
//--------------
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// Width & Height
@mixin square($size) {
  @include size($size, $size);
}
