<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">Social Links Component</div>
</sly>


<sly data-sly-use.data="com.eaton.platform.core.helpers.SocialLinkHelper">

  <div class="eaton-social-links">

    <!--/* If Eyebrow */-->
    <sly data-sly-test="${data.socialListModel.header}">
      <h4 class="eaton-social-links__eyebrow b-eyebrow-small">${data.socialListModel.header}</h4>
    </sly>

    <!--/* List Links */-->
    <ul
      data-sly-list="${ data.socialListModel.links }"
      class="eaton-social-links__list"
    >
      <li class="eaton-social-links__list-item">
        <a href="${ item.path }"
          class="eaton-social-links__list-link"
          target="${ item.target }"
        >
          <img
            src="${ item.path }"
            class="eaton-social-links__list-icon"
            alt="${ item.socialLinkType }" />
        </a>
      </li>
    </ul>

    <div class="eaton-social-links__cta">
      <a href="${ data.socialListModel.viewAllLinkPath }"
        aria-label="${ data.socialListModel.viewAllText }"
        class="eaton-social-links__page-link b-body-copy-small"
        target="${  item.target }">
        <span class="eaton-social-links__page-link-text">${ data.socialListModel.viewAllText }</span>
        <i class="eaton-social-links__page-link-icon glyphicon glyphicon-menu-right"
          aria-hidden="true"></i>
      </a>
    </div>

  </div>

</sly>
