//-----------------------------------
// Component Social Links
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.eaton-social-links {

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    display: inline-block;
  }

}
