//-----------------------------------
// Component M-22: Quote
//-----------------------------------

@import "../../../global/css/_config/sass";

@mixin product-tab($radioId) {
  .eaton-product-tabs {
    input[id="#{$radioId}"] {
      display: none;

      &:target,
      &:checked {
        ~ .row,
        ~ .container {
          label[for="#{$radioId}"] {
            background-color: $color__secondary-gray5;
          }

          div[data-tab-name="#{$radioId}"] {
            display: block;
          }
        }
      }
    }

    .dark-theme &,
    &.dark-theme {
      input[id="#{$radioId}"] {
        &:target,
        &:checked {
          ~ .row,
          ~ .container {
            label[for="#{$radioId}"] {
              background-color: $color__primary-gray2;
            }
          }
        }
      }
    }
  }
}

@include product-tab('tab-0');
@include product-tab('tab-1');
@include product-tab('tab-2');

.eaton-product-tabs {

  .dark-theme &,
  &.dark-theme {
    &__buttons {
      background-color: $color__primary-gray1;

      &::before {
        background-color: $color__primary-gray1;
      }
    }

    label {
      background-color: $color__primary-gray1;
      font-weight: normal;

      &:hover,
      &:focus,
      &:active,
      &.tab-active {
        background-color: $color__primary-gray2;
      }

      .icon,
      span {
        color: $color__white;
      }
    }

    &__description {
      .b-eyebrow-small,
      .icon,
      .b-heading-h5 {
        color: $color__white;
      }
    }

    @include media-mobile-and-tablet {
      .eaton-product-tabs__buttons__center {
        border-top: 2px solid $color__primary-gray2;
      }
    }
  }

  &__buttons {
    background-color: $color__secondary-gray6;
    position: relative;

    &::before {
      content: '';
      background-color: $color__secondary-gray6;
      position: absolute;
      height: 100%;
      width: 200%;
      display: block;
      left: -50%;
    }
  }

  &--fixed {
    .eaton-product-tabs__tab-panel {
      padding-top: 390px;
    }

    .eaton-product-tabs__buttons {
      position: fixed;
      z-index: 99;
      padding: 0;
      margin-left: 0;
      margin-right: 0;

      &::after {
        background-color: inherit;
        content: '';
        height: 149px; //size for desktop
        left: -50%;
        position: absolute;
        top: 0;
        width: 200%;
        z-index: -1;
      }

      .container {
        position: fixed;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }

  &__description {
    padding: 10px 0;

    .b-eyebrow-small {
      color: $color__primary-blue;
      font-weight: bold;
    }

    .icon {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .b-heading-h5 {
      padding-top: 6px;
    }
  }

  &__tab-panel {
    display: none;

    &.panel-active {
      display: block;
    }
  }

  label {
    cursor: pointer;
    width: 33.333%;
    text-align: center;
    float: left;
    padding: 1.3rem 0;
    margin: 0;
    background-color: $color__secondary-gray6;

    a {
      display: block;
      width: 100%;
      height: 100%;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.tab-active {
      background-color: $color__secondary-gray5;
    }

    .icon {
      color: $color__primary-blue;
      display: block;
      font-size: 2.4rem;
    }

    span {
      color: $color__primary-blue;
      display: inline-block;
      font-size: 1.2rem;
      padding-top: 8px;
    }
  }

  &__dropdown {
    background-color: $color__green;
    border: 0;
    color: $color__white;
    display: inline-block;
    font-family: $font-family__secondary;
    font-size: 16px;
    font-size: 1.6rem;
    height: 57px;
    margin: 40px 0;
    width: 100%;
    position: relative;

    .icon {
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
      vertical-align: middle;
    }

    &__content {
      position: absolute;
      background-color: $color__secondary-gray6;
      list-style: none;
      padding: $spacing__sm;
      top: 77px;
      left: 50%;
      margin: 0 auto;
      border: 0;
      border-radius: 0;
      margin-left: -46.5%;
      width: 93%;
      box-shadow: none;

      li {
        padding: $spacing__sm 0 0 35px;
        position: relative;

        &:first-child {
          padding-top: 0;
        }

        a {
          color: $color__primary-gray2;
          display: inline-block;
          width: 100%;
          text-align: left;
          margin: 0;
          padding: 0;
        }

        span {
          font-size: 1.5rem;
        }

        .icon {
          font-size: 25px;
          left: 0;
          padding: 0 10px 0 0;
          position: absolute;
        }
      }
    }
  }

  @include media-mobile-and-tablet {
    &__description {
      padding: 10px 15px;
    }

    .container {
      padding: 0;
      width: 100%;
    }

    &__dropdown-container {
      background-color: $color__white;
    }

    .eaton-product-tabs__dropdown {
      width: 93%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__page-utility {
      padding: 0 15px;
    }

    .eaton-product-tabs__buttons__center {
      border-top: 2px solid $color__secondary-gray5;
    }

    &--fixed {
      .eaton-product-tabs__buttons {
        position: relative;
        z-index: unset;

        &::before {
          height: 78px;
        }
      }

      .eaton-product-tabs__buttons__center {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 99;
        padding: 0;
      }

      .eaton-product-tabs__description {
        display: none;
      }

      .eaton-product-tabs__dropdown-container {
        margin-top: 157px;
        z-index: 1;
        padding: 0;
      }

      .eaton-product-tabs__tab-panel {
        padding-top: 265px;
      }
    }
  }

  @include media-desktop-and-up {
    &__dropdown {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
    }

    &__description {
      position: relative;
      top: 78px;
      transform: translateY(-50%);

      .icon {
        font-size: 1.4rem;
      }
    }

    .eaton-product-tabs__dropdown__content {
      top: 97px;
      left: 50%;
      margin-left: -50%;
      width: 100%;
    }

    label {
      padding: 4rem 0;

      .icon {
        font-size: 4rem;
      }

      span {
        font-size: 1.4rem;
      }
    }

    &--fixed {
      .eaton-product-tabs__buttons {
        top: 80px; // header size
        margin-left: -15px;
        margin-right: -15px;
      }

      .eaton-product-tabs__page-utility {
        margin-top: 274px;
      }
    }
  }
}

//-----------------------------------
// AEM Author Mode Styles
//-----------------------------------

// stylelint-disable selector-class-pattern
.aem-AuthorLayer-Edit,
.cq-wcm-edit {

  // stylelint-disable declaration-no-important
  .eaton-product-tabs__tab-panel {
    display: block;
  }
}
