<!--/*
  M-36 - Product Grid: SKU Results List
*/-->
<template data-sly-template.view="${ @ data }">

  <!--/* Results Wrapper */-->
  <!--/*
    NOTE: data-i18n is a JSON object that contains a list i18n strings used in this View
    - These strings are used by a JavaScript template when the user clicks "Load More"
  */-->
  <div class="results-list"
    data-results-url="${ data.ajaxRequestUrl }"
    data-results-next-page="${ data.ajaxRequestNextPage }"
    data-results-type="product-card-sku"
    data-i18n='{ "goTo": "${ "Go to" @ i18n }" }'
  >

    <!--/* Result Items - SKU */-->
    <div class="results-list__content">
      <sly data-sly-list="${ data.results }">
        <sly data-sly-use.tpl="views/partials/product-card-sku-item.html">
          <sly data-sly-call="${ tpl.item @ data=item }"></sly>
        </sly>
      </sly>
    </div>

    <!--/* Results List - Disclaimer & Actions */-->
    <sly data-sly-use.tpl="views/partials/results-list-bottom.html">
      <sly data-sly-call="${ tpl.partial @ data=data }"></sly>
    </sly>

  </div>

</template>
