.related-products-component {

  padding-bottom: 75px;

  &__card {
    background-color: $color__secondary-gray6;
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid $color__secondary-gray4;
  }

  &__title {
    padding-top: 15px;
  }

  &__arrow {
    bottom: 50%;
  }

  @include media-desktop-and-up {
    &__title {
      padding-top: 30px;
    }
  }
}
