

.text-only-2-column {

  padding: 120px 0;

  h2 {
    padding-bottom: 35px;
  }

  .b-eyebrow-small {
    padding: 15px 0 10px 0;
  }



  &__description {
    padding-bottom: 15px;
  }
  &__article {
    padding-top: 30px;
  }


.category-item-date {
    padding-top: 8px;
  }

&__card {
         display: flex;
        flex-wrap: wrap;
        flex-direction: row;

}



}


