//-----------------------------------
// Component 4.2: Header - Mega Menu
// List - View - Links
//-----------------------------------

.eaton-list-links {
  display: flex;
  oadding:40px 0;

  &__col {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__link {
    padding: ($spacing__sm / 3) 0; // Visually 30px Spacing between items
    text-decoration: none;
    display: inline;

    span{
      color: #FFF;
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      display: block;
      line-height: 2.4rem;
      font-family: Arial, "Arial", sans-serif;
      padding: 10px 0;

      &:after{
        color: #FFF;
        position: relative;
        top: 1px;
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        font-size: 1.4rem;
        display: inline;
        padding-left: 7px;
        text-decoration:none;
      }
    }

    i {
      font-size: 1.4rem;
    }

    .dark-theme & {
      color: $color__white;
    }
  }

  .eaton-list-links__col .eaton-list-links__item:first-child span {
    padding:0;
    line-height: 1.9rem;
  }

  //-----------------------------
  // Mobile-Tablet Breakpoint
  // ----------------------------
  @include media-mobile-and-tablet {
    flex-direction: column;

    &__link {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid rgba(238, 240, 242, 0.3);
      align-items: center;
      font-size: 1.5rem;

      &:after{
        color: #FFF;
        position: relative;
        top: 1px;
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        display: inline-block;
        text-decoration:none;
      }

      span:after{
        display:none;
      }
    }

    &__text {
      flex: 1;
      margin-right: ($spacing__sm / 2);
    }
  }

  //-----------------------------
  // Desktop Breakpoint
  // ----------------------------
  @include media-desktop-and-up {
    flex-wrap: nowrap;

    &__col {
      width: 100%;
      margin: 0 ($spacing__sm / 2 );

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
