.article-list-single-feature {

  margin-top: 50px;

  &--border {
    border-top: 4px solid;
    border-color: $color__primary-blue;
    width: 60px;
    display: block;
  }

  &__link {

    &:hover {
      text-decoration: none;
    }
  }

  &__text {
    margin-left: 15px;
  }

  &__article {

    &--copy {
      padding: 15px 0 40px 0;

      &:last-child {
        padding: 15px 0;

        .category-item-date--padding {
          padding-bottom: 0;
        }
      }
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
  }
}

@include media-mobile-only {
  .article-list-single-feature {

    &__article {
      margin-top: 30px;
    }
  }
}

//@include media-desktop-and-up {
//  .article-list-single-feature {
//
//    &__article {
//
//      &--copy {
//        padding: 15px 0;
//      }
//    }
//  }
//}
