.text-only-3-column {

  padding-top: 60px;
  margin-bottom: 120px;

  &__heading {
    padding-bottom: 10px;
  }

  &__cta {
    display: block;
    z-index: 10;
  }

  .b-eyebrow-small {
    padding: 0;
  }

  &__date {
    padding-top: 0;
    color: $color__primary-gray3;
  }

  &__article {
    padding-top: 0;
  }

  &__article-copy {
    padding: 15px 50px 15px 0;
    position: relative;

    &::before {
      content: '';
      background-color: $color__primary-blue;
      display: block;
      height: 4px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__cta-container {
    margin-top: 3px;
  }

  &__title {
    color: $color__primary-blue;
  }



  @include media-mobile-only {

    margin-bottom: 60px;

    &__cta-container a {
      width: 100%;
    }

    &__heading {
      padding-bottom: 20px;
    }

    .b-eyebrow-small {
      padding-bottom: 30px;
    }

  }


  @include media-tablet-and-up {

    padding-top: 120px;
    margin-bottom: 120px;


    &__heading {
      padding-bottom: 10px;
    }

    .b-eyebrow-small {
      padding: 15px 0 30px 0;
    }

    &__date {
      padding-top: 8px;
    }

    &__description {
      padding-bottom: 15px;
    }

    &__article {
      padding-top: 30px;
    }

    &__cta-container {
      margin-top: 30px;
    }

  }


}

.text-only-3-column__slides {
  padding-left: 15px;

  .slick-active button {
    background-color: $color__primary-blue;
  }

}
