<sly data-sly-use.data="${'../data/view-page-overview-data.js' @testdata=properties.testdata}">

  <div class="eaton-page-overview">

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6">
          <h1 class="eaton-page-overview__title b-heading-h1">${ data.title }</h1>

          <div data-sly-test="${ data.cta.text }"
            class="eaton-page-overview__cta eaton-page-overview__cta--desktop">
            <a href="${ data.cta.url }" class="b-button b-button__primary b-button__primary--light" role="button">${ data.cta.text }</a>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="eaton-page-overview__content">${ data.text }</div>
        </div>

      </div>

      <div data-sly-test="${ data.cta.text }"
        class="eaton-page-overview__cta eaton-page-overview__cta--mobile text-center">
        <a href="${ data.cta.url }" class="b-button b-button__primary b-button__primary--light" role="button">${ data.cta.text }</a>
      </div>

    </div>
  </div>

</sly>
