<div class="feature-block-component container" data-sly-use.data="../data/view-feature-block-data.js">
    <div class="row feature-block-component__container">
        <div class="col-xs-12 col-sm-7 feature-block-component__copy" style="background-color: ${data.backgroundColor @ context='styleString'}">
            <div class="feature-block-component__text">
                <h2>${data.headline}</h2>
                <p>${data.copy}</p>
                <a class="b-button b-button--white feature-block-component__cta" href="${data.ctaUrl}" role="button" data-sly-test="${data.ctaUrl.length > 0}">${data.ctaText}</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 feature-block-component__image"
             style="background:url('${data.image @ context='styleString'}') center no-repeat; background-size: cover">
        </div>
    </div>
</div>
