<sly data-sly-use.data="../data/view-single-feature-data.js">
    <div class="eaton-single-feature">
      <p class="eaton-single-feature__headline b-eyebrow-small">${data.headline}</p>
      <div class="eaton-single-feature__image">
        <img class="img-responsive" src="${data.image}" alt=${data.headline} />
      </div>
      <div class="eaton-single-feature__content">
          <!--/* Eyebrow */-->
          <div class="eaton-single-feature__eyebrow b-eyebrow-small">${ data.eyebrow }</div>

          <!--/* List Links */-->
          <ul data-sly-list="${ data.links }" class="eaton-single-feature__links">
            <li>
              <a href="${ item.url }" class="eaton-single-feature__item" aria-label="Go to ${ item.title }" target="${ item.target }">
                <span>${ item.title }</span>
                <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
      </div>
    </div>
</sly>
