<div class="feature-block-component" data-sly-use.data="../data/view-feature-block-data.js">
    <div class="row feature-block-component__container">
        <div class="col-xs-12 col-sm-7 feature-block-component__copy" style="background-color: ${data.backgroundColor @ context='styleString'}">
            <div class="feature-block-component__text">
                <h2>${data.title}</h2>
                <p class="feature-block-component__description">${data.text}</p>
                <a class="b-button b-button__primary b-button__primary--dark feature-block-component__cta" href="${data.cta.url}" role="button" data-sly-test="${data.cta.url.length > 0}">${data.cta.text}</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 feature-block-component__image"
             style="background:url('${data.imgSrc @ context='styleString'}') center no-repeat; background-size: cover">
        </div>
    </div>
</div>
