<sly data-sly-test="${wcmmode.edit}">Footer Component</sly>
<sly data-sly-use.headerHelper="com.eaton.platform.core.helpers.HeaderHelper"/>
<footer>
	<section class="footer-top mediumPaddingTop mediumPaddingBottom">
		<div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--2 aem-GridColumn--tablet--3 aem-GridColumn--phone--4 footer-logo-container">
                    <p><sly data-sly-resource="${'footer-logo' @ resourceType='eaton/components/structure/logo', selectors='footer-logo', wcmmode=headerHelper.editMode}"></sly></p>                    
                </div>
            </div>
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 ">
                    <sly data-sly-resource="${'footer-desc' @ resourceType='eaton/components/content/text', selectors='footer-desc', wcmmode=headerHelper.editMode}"></sly>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-resource="${'footer-link-list1' @ resourceType='eaton/components/content/link-list', selectors='footer-link-list1', wcmmode=headerHelper.editMode}"></sly>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
					<div class="container-full">
                        <div class="aem-Grid aem-Grid--12">
                            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12"> 
                    			<sly data-sly-resource="${'footer-link-list2' @ resourceType='eaton/components/content/link-list', selectors='footer-link-list2', wcmmode=headerHelper.editMode}"></sly>
							</div>
						</div>
					</div>
					<div class="container-full">
                        <div class="aem-Grid aem-Grid--12">
                            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    			<sly data-sly-resource="${'footer-social-media' @ resourceType='eaton/components/content/link-list', selectors='footer-social-media', wcmmode=headerHelper.editMode}"></sly>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</section>
	<section class="footer-bottom">
		<div class="container-fixed container-padding">
			<div class="aem-Grid aem-Grid--12">
				<div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-resource="${'footer-primary-link-list' @ resourceType='eaton/components/content/link-list', selectors='footer-primary-link-list', wcmmode=headerHelper.editMode}"></sly>
                </div>
			</div>
		</div>
	</section>

</footer>