<sly data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
	<div>Footer Component</div>
</sly>
<div data-sly-use.headerhelper="com.eaton.platform.core.helpers.HeaderHelper">
	 <sly data-sly-test="${headerhelper.HomePagelevel==true ||headerhelper.TemplatePath ==true } ">
<footer>
    <section class="footer-top mediumPaddingTop mediumPaddingBottom">
        <div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--2 aem-GridColumn--tablet--3 aem-GridColumn--phone--4">
                    <p><sly data-sly-resource="${'footer-logo' @ resourceType='eaton/components/structure/logo'}"></sly></p>
                </div>
            </div>
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-resource="${'footer-desc' @ resourceType='eaton/components/content/text'}"></sly>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-resource="${'footer-link-list1' @ resourceType='eaton/components/content/link-list'}"></sly>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
					<div class="container-full">
                        <div class="aem-Grid aem-Grid--12">
                            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    			<sly data-sly-resource="${'footer-link-list2' @ resourceType='eaton/components/content/link-list'}"></sly>
							</div>
						</div>
					</div>
					<div class="container-full">
                        <div class="aem-Grid aem-Grid--12">
                            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    			<sly data-sly-resource="${'footer-social-media' @ resourceType='eaton/components/content/link-list'}"></sly>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-resource="${'footer-primary-link-list' @ resourceType='eaton/components/content/link-list'}"></sly>
                </div>
            </div>
        </div>
    </section>
</footer>

</sly>




<sly data-sly-test="${headerhelper.HomePagelevel==false && headerhelper.TemplatePath ==false }" >
<footer>
    <section class="footer-top mediumPaddingTop mediumPaddingBottom">
        <div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--2 aem-GridColumn--tablet--3 aem-GridColumn--phone--4">
                    <p><sly data-sly-include="${'logo-reference.jsp'  @ wcmmode='disabled'}"/></p>
                </div>
            </div>
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-include="${'footer-desc-reference.jsp'  @ wcmmode='disabled'}"/>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                     <sly data-sly-include="${'footer-link-list1-reference.jsp'  @ wcmmode='disabled'}"/>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
					<div class="container-full">
                        <div class="aem-Grid aem-Grid--12">
                            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    			<sly data-sly-include="${'footer-link-list2-reference.jsp'  @ wcmmode='disabled'}"/>
							</div>
						</div>
					</div>
					<div class="container-full">
                        <div class="aem-Grid aem-Grid--12">
                            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    			<sly data-sly-include="${'footer-social-media-reference.jsp'  @ wcmmode='disabled'}"/>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-bottom">
        <div class="container-fixed container-padding">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                    <sly data-sly-include="${'footer-primary-link-list.jsp'  @ wcmmode='disabled'}"/>
                </div>
            </div>
        </div>
    </section>
</footer>

</sly>


 </div>