<sly
   data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.layouting}">
   <div>Link List Component</div>
</sly>
<div data-sly-use.linkList="com.eaton.platform.core.helpers.LinkListHelper">
   <div class="container-full">
      <div class="aem-Grid aem-Grid--12">
         <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12"> 
            	<!-- SOCIAL LIST --> 
               <sly data-sly-test="${linkList.linkListBean.view == 'social-list'}">
				    <div class="social-media-links">
				        <sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
				            <a class="social-media-${item.socialSite} smallMarginRight" href="${item.socialLink}" target="_blank"></a>
				        </sly>
				    </div>
				</sly>
                <!-- T&C LINK LIST --> 
                <sly data-sly-test="${linkList.linkListBean.view == 'tnc-link-list'}">
                    <sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
                        <a href="${item.linkPagePath}" target="${item.newWindowManual}">${item.linkTitle}</a>
                        <span data-sly-test="${!itemList.last}" class="hide-mob-inline footer-pipe">&nbsp;|&nbsp;
                        </span>
                    </sly>
                        <p id="copyRightText">
                        <div class="copyRightSymbol"> ${linkList.linkListBean.copyRightText}</div>
                        
                        </p>
                </sly>
                <!-- DOWNLOAD LIST WITH DESCRIPTION --> 
                <sly data-sly-test="${linkList.linkListBean.view == 'download-list-view-with-description'}">
                    <div class="container-full industry-download-links">
                        <div class="aem-Grid aem-Grid--12">
                            <div
                                class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                                <div class="moreInfoTitle smallPaddingTop mediumMarginTop">
                                    <div class="eyeBrowSmall">
                                        ${linkList.linkListBean.transHeader}
                                    </div>
                                </div>
                                <div
                                    class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 infoContainer">
                                    <sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
                                        <div class='info-quick-link smallMarginTop'>
                                        	<sly data-sly-test="${properties.downloadicon == 'blue-icon'}">
	                                            <h5>
	                                                <a href="${item.assetLink}" class="quick-link-blue"
	                                                    target="_blank"> <img class='iconClass'
	                                                    src='/content/dam/eaton/images/Download_Icon.png'> <span
	                                                    class="quick-link-span-block">${item.linkTitle}</span>
	                                                </a>
	                                            </h5>
	                                            <p class="download-size small">(${item.assetSize})</p>
	                                            <p data-sly-test="${item.assetDescription}" class="download-desc small">${item.assetDescription}</p>
                                             </sly>
                                             <sly data-sly-test="${properties.downloadicon == 'white-icon'}">
                                             <div class="small-body-copy-link-on-dark">${item.assetDescription}</div>
                                             <div class="megamenu-margin-deviation download-items">
                                        		<div class="downloadIconImage"><img src="/content/dam/eaton/images/download_icon_white.png"></div>
                                        		<div class="sectionHeading">
                                            		<div class="small-body-copy-link-on-dark">${item.linkTitle}</div>
                                            		<div class="small-body-copy-link-on-dark">(${item.assetSize})</div>
                                       		    </div>
                                       		 </div>
                                       		 </sly>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </div>
                </sly>
                <!-- Default View  --> 
               <sly data-sly-test="${linkList.linkListBean.view == 'default'}">
				    <div class="container-full container-padding mediumMarginTop">
				        <div class="aem-Grid aem-Grid--12">
				            <sly data-sly-test="${properties.rtgborder == 'yes'}">
				                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12 vertical-line" align="${linkList.linkListBean.alignment}">
				                 <h4 class="dark">
							      	<!-- <a href="${linkList.linkListBean.headerLink}"
							         target="${linkList.linkListBean.newWindow ? '_blank' : ''}">-->
							      	${linkList.linkListBean.transHeader}
								</h4>
					            <sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
					                <ul class="quick-link-ul">
					                    <li class="smallMarginTop">
					                        <a class="site-icons quick-link-blue" href="${item.linkPagePath}" target="${item.newWindowManual}">
					                            <sly data-sly-test="${item.isExternal}">
	                                                	<img class='moreInfo-iconClass' src="/content/dam/eaton/images/New_Window_Icon.png"/>
	                                             </sly>				                           
					                            <span class="text-wrap">${item.linkTitle}</span>
					                        </a>
					                    </li>
					                </ul>
					            </sly>
					          </div>
				            </sly>
				            <sly data-sly-test="${properties.rtgborder != 'yes'}">
				                <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12" align="${linkList.linkListBean.alignment}">
				                <h4 class="dark">
							      	<!-- <a href="${linkList.linkListBean.headerLink}"
							         target="${linkList.linkListBean.newWindow ? '_blank' : ''}">-->
							      	${linkList.linkListBean.transHeader}
								</h4>
					            <sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
					                <ul class="quick-link-ul">
					                    <li class="smallMarginTop">
					                        <a class="site-icons quick-link-blue" href="${item.linkPagePath}"  target="${item.newWindowManual}">
					                            <sly data-sly-test="${item.isExternal}">
	                                                	<img class='moreInfo-iconClass' src="/content/dam/eaton/images/New_Window_Icon.png"/>
	                                             </sly>				                           
					                            <span class="text-wrap">${item.linkTitle}</span>
					                        </a>
					                    </li>
					                </ul>
					            </sly>
					          </div>
				            </sly>
				       </div>
				     </div> 
				</sly>
                <!--  Default1 View on Dark -->
                <sly data-sly-test="${linkList.linkListBean.view == 'default-on-dark'}">
                    <h3 class="footer-link-heading">
                          ${linkList.linkListBean.transHeader}
                    </h3>
					<ul class="footerLinks">
					    <sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
					        <li class="smallMarginTop">
					            <a href="${item.linkPagePath}" target="${item.newWindowManual}">
					                <sly data-sly-test="${item.isExternal}">
					                    <img class='moreInfo-iconClass' src="/content/dam/eaton/images/New_Window_Icon.png">
					                </sly>
					                <span class="footerLinksTitle">${item.linkTitle}</span>
					                <span class="glyphicon glyphicon-menu-right"></span>
					            </a>
					        </li>
					    </sly>
					</ul>
                </sly>
                <!-- PRIMARY NAVIGATION --> 
                <sly data-sly-test="${linkList.linkListBean.view == 'primary-nav'}">
					<sly data-sly-test="${linkList.linkListBean.listType == 'child-pages'}">
						<ul class="nav navbar-nav" id="megaMenuOption">
						<sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
						   <li id="${item.navName}-Menu" data-menu='${item.navName}Page'>
						      <a href="#"> 
						      <span class="glyphicon glyphicon-menu-left show-mob pull-left"></span>${item.navTitle}
						      <span class="glyphicon glyphicon-menu-right show-mob pull-right"></span>
						      </a>
						   </li>
						   <li class="utility-nav-mob-view show-mob rightPadding0">
						  		<sly data-sly-resource="${'utility-nav' @ resourceType='eaton/components/structure/full-page-drawer', selectors='full-page-drawer-mobile', wcmmode='disabled'}"></sly>
						   </li>
						</sly>                     
                       </ul>                        
                    </sly> 
               <sly	data-sly-test="${linkList.linkListBean.listType == 'manual-list'}">
				<sly data-sly-list.item="${linkList.typeList}" data-sly-unwrap>
				<ul class="nav navbar-nav" id="megaMenuOption">
					<li id="${item.cssLinkTitle}-Menu"
						data-menu='${item.cssLinkTitle}Page'>
						<a href="#"> 
							<span class="glyphicon glyphicon-menu-left show-mob pull-left"></span>
								${item.linkTitle}
							<span class="glyphicon glyphicon-menu-right show-mob pull-right"></span>
						</a>
					</li>
					<li class="utility-nav-mob-view show-mob rightPadding0">
						<sly data-sly-resource="${'utility-nav' @ resourceType='eaton/components/structure/full-page-drawer', selectors='full-page-drawer-mobile', wcmmode='disabled'}"></sly>
					</li>
				</ul>
				</sly> 
				</sly>
                </sly>
            </div>
        </div>
    </div>
</div>