//-----------------------------------
// SASS: Typography Mixins
// EATON - Styleguide
//-----------------------------------


//-----------------------------------
// NOTE: There 3 Mixins for each heading tag since there are some use cases where a Heading
// should look like an H4 in mobile but like an H5 in desktop breakpoints. EG: M-36 Product Card SKU
//-----------------------------------


// H1 Heading
//--------------
@mixin h1-hero--mobile {
  font-family: 'EatonMedium', sans-serif;
  font-size: 35px;
  line-height: 40px;
}

@mixin h1-hero--desktop {
  font-family: 'EatonMedium', sans-serif;
  font-size: 54px;
  line-height: 68px;
}

@mixin h1-hero {
  @include h1-hero--mobile;

  @include media-desktop-and-up {
    @include h1-hero--desktop;
  }
}


// H1 Heading
//--------------
@mixin h1--mobile {
  font-family: 'EatonMedium', sans-serif;
  font-size: 35px;
  line-height: 40px;
}

@mixin h1--desktop {
  font-family: 'EatonMedium', sans-serif;
  font-size: 54px;
  line-height: 68px;
}

@mixin h1 {
  @include h1--mobile;

  @include media-desktop-and-up {
    @include h1--desktop;
  }
}


// H2 Heading
//--------------
@mixin h2--mobile {
  font-family: 'EatonMedium', sans-serif;
  font-size: 28px;
  line-height: 32px;
}

@mixin h2--desktop {
  font-family: 'EatonMedium', sans-serif;
  font-size: 40px;
  line-height: 50px;
}

@mixin h2 {
  @include h2--mobile;

  @include media-desktop-and-up {
    @include h2--desktop;
  }
}



// H3 Heading
//--------------
@mixin h3--mobile {
  font-family: 'EatonMedium', sans-serif;
  font-size: 28px;
  line-height: 32px;
}

@mixin h3--desktop {
  font-family: 'EatonMedium', sans-serif;
  font-size: 40px;
  line-height: 50px;
}

@mixin h3 {
  @include h3--mobile;

  @include media-desktop-and-up {
    @include h3--desktop;
  }
}



// H4 Heading
//--------------
@mixin h4--mobile {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
}

@mixin h4--desktop {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
}

@mixin h4 {
  @include h4--mobile;

  @include media-desktop-and-up {
    @include h4--desktop;
  }
}


// H5 Heading
//--------------
@mixin h5--mobile {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

@mixin h5--desktop {
  font-family: Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
}

@mixin h5 {
  @include h5--mobile;

  @include media-desktop-and-up {
    @include h5--desktop;
  }
}


// Body Copy
//--------------
@mixin body-copy--mobile {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}


@mixin body-copy--desktop {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 38px;
}



@mixin body-copy {
  @include body-copy--mobile;

  a {
    color: $color__primary-blue;

    // &:active { font-weight: bold; }
  }

  @include media-desktop-and-up {
    @include body-copy--desktop;
  }

}


// Body Copy Small
//--------------
@mixin body-copy-small--mobile {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}

@mixin body-copy-small--desktop {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

@mixin body-copy-small {
  @include body-copy-small--mobile;

  a {
    color: $color__primary-blue;

    // &:active { font-weight: bold; }
  }

  @include media-desktop-and-up {
    @include body-copy-small--desktop;
  }

}


// Eyebrow Large
//--------------
@mixin eyebrow-large--mobile {
  font-family: $font-family__secondary;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin eyebrow-large--desktop {
  font-family: $font-family__secondary;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
}

@mixin eyebrow-large {
  font-weight: bold;
  @include eyebrow-large--mobile;

  @include media-desktop-and-up {
    @include eyebrow-large--desktop;
  }
}

// links bold
@mixin h5-link-bold {
  @include h5;
  font-family: $font-family__primary-bold;
  @include media-desktop-and-up {
    font-family: $font-family__primary-bold;
  }
}

@mixin h4-link-bold {
  @include h4;
  font-family: $font-family__primary-bold;
  @include media-desktop-and-up {
    font-family: $font-family__primary-bold;
  }
}


// Eyebrow Small
//--------------
@mixin eyebrow-small--mobile {
  font-family: $font-family__secondary;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

@mixin eyebrow-small--desktop {
  font-family: $font-family__secondary;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin eyebrow-small {
  font-weight: bold;
  @include eyebrow-small--mobile;

  @include media-desktop-and-up {
    @include eyebrow-small--desktop;
  }
}
