//------------------------------------------
// Component M-36: Product Card Sku
//------------------------------------------
// NOTE: SASS is written "Mobile First" and there are media queries for Other Breakpoints

.results-list--card-sku {
  // empty selector for future reference
}

.product-card-sku {

  // Local Variables
  //--------------
  $color__image-border: $color__secondary-gray5;
  $grid-container-padding-mobile: 30px;
  $thumbnail-size-mobile: 54px;
  $thumbnail-size-desktop: 148px;
  $icon-arrow-right-size: 1rem;

  position: relative;


  // Styleguide Overrides
  //--------------
  &__name,
  &__price,
  &__name a {
    color: $color__white;
  }

  &__name {
    margin-bottom: 5px; // EATON-380: The padding between the Header and the Specification and Resource Links should be 20px
  }

  // Product Card - General Styles
  //--------------
  &__name,
  &__link-item {

    // Caret Icon
    .icon { font-size: 2rem; }

  }

  &__name {
    @include media-desktop-and-up {
      .icon.icon-chevron-right{
        font-size: 2rem;
      }
    }

  }

  &__image-link {
    display: block;
  }

  &__image-wrapper {
    position: absolute;
    z-index: 2;
  }

  .rendition__image {
    @include square($thumbnail-size-mobile); // Width & Height
    border: 1px solid $color__image-border;
    background-color: $color__white;
    padding: 0.5rem;
  }

  &__links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__attr-label {
    margin-bottom: 2px; // EATON-625: Spacing between Attribute Label and Value should be 15px visually
  }


  //-----------------------------------
  // Media-Query: Mobile & Tablet
  //-----------------------------------
  @include media-mobile-and-tablet {

    // Overide Bootstrap's Container in order to make the component full-width (Mobile Only)
    margin-left: ($grid-container-padding-mobile * -1);  // Negative value
    margin-right: ($grid-container-padding-mobile * -1); // Negative value

    // Product Image
    //--------------
    &__image-wrapper {
      left: 30px;
      top: 20px;
    }

    // Product Header
    //--------------
    &__title-wrapper {
      background-color: $color__primary-blue;
      position: relative;
    }

    &__name {
      // Mobile should look like an H4
      @include h4--mobile;

      margin-bottom: 5px;
      padding-left: $grid-container-padding-mobile + $thumbnail-size-mobile + ($spacing__sm / 2);
      padding-right: $grid-container-padding-mobile + 10px;
      padding-top: 16px; // NOTE: Top-padding is reduced to compensate for Line-Height

      .icon {
        @include square($icon-arrow-right-size);
        // It centers the icon vertically
        line-height: $icon-arrow-right-size;
        position: absolute;
        right: $grid-container-padding-mobile;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
      }
    }

    &__price {
      padding-bottom: 20px;
      padding-left: $grid-container-padding-mobile + $thumbnail-size-mobile + ($spacing__sm / 2);
    }


    // Product Links
    //--------------
    &__links-list {
      // empty selector for future reference
    }

    &__link-item {
      @include body-copy-small--mobile;

      background-color: $color__secondary-gray6;
      padding: 12px $grid-container-padding-mobile;

      .icon{
        font-size: 1rem;
      }
    }

    &__link-item-link {
      align-items: center;
      display: flex;
      font-size: 1rem;

      &:hover {
        color: $color__primary-blue;
        text-decoration: none;
      }

      .link-label { flex: 1; font-size: 1.3rem; }

    }


    // Text Content
    //--------------
    &__content {
      padding: ($spacing__md / 2) $grid-container-padding-mobile;
    }

    // Product Attributes
    //--------------
    &__attrs-list {
      padding-bottom: 16px; // Visually 30px bottom margin
    }

    &__attrs-list-item {
      margin-bottom: 10px; // Visually 20px bottom margin

      &:last-child { margin-bottom: 0; }
    }

    &__attr-label { margin-bottom: 4px; } // Visually 15px bottom margin

    &__attr-value {
      // Empty selector for future reference
    }

    // Product Description
    //--------------
    &__description {
      @include body-copy--mobile;
    }

  }




  //-----------------------------------
  // Media-Query: Desktop & Desktop Large
  //-----------------------------------
  @include media-desktop-and-up {

    $product-card-padding: 20px;

    // Product Image
    //--------------
    &__image-wrapper {
      left: 20px;
      top: 20px;
    }

    .rendition__image {
      @include square($thumbnail-size-desktop); // Width & Height
      padding: 1rem;
    }


    // Product Header
    //--------------
    $padding-left: $thumbnail-size-desktop + 40px;

    &__header {
      background-color: $color__primary-blue;
      padding: 20px 120px 20px $padding-left;
      position: relative;
    }

    &__title-wrapper {

    }

    &__name {
      @include h5--desktop;

      .icon {
        font-size: 26px;
        position: relative;
        top: 4px; // Icon Vertical Alignment
      }
    }

    &__price {
      position: absolute;
      top: 50%;
      right: $product-card-padding;
      transform: translateY(-50%);
    }

    &__links-list {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
    }

    &__link-item {
      @include body-copy-small--desktop;
      position: relative;

      margin-right: 20px;
      padding-right: 16px;

      &::after {
        content: '';
        background-color: $color__white;
        height: 18px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }

      &:last-child::after {
        content: none;
        display: none;
      }
    }

    &__link-item-link {

      .link-label {
        color: $color__white;
      }

      &:hover {
        color: $color__white;
        text-decoration: underline;
      }
    }


    // Product Content Wrapper
    //--------------
    &__content {
      margin-top: $spacing__sm;
      margin-bottom: $spacing__md;
      padding-left: $padding-left;
    }

    &__attrs-list {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $spacing__sm;
    }

    &__attrs-list-item {
      flex: 1;
      padding-right: 20px;
      word-wrap: break-word;

      &:last-child {
        padding-right: 0;
      }
    }

    &__description {
      @include body-copy-small--desktop;
    }

  }

}
