//-----------------------------------
// M-48: Media Gallery - Zoom Behavior
//-----------------------------------
.module-media-gallery {

  &__image-wrapper {
    position: relative;
  }

  // Toggle Carousel UI (Arrows and Buttons) when the Zoom is enabled/disabled (Desktop BP)
  &__slide-arrows-container,
  &__slide-utility {
    transition: opacity 250ms ease-out, visibility 250ms ease-out;
    opacity: 1;
    visibility: visible;
  }

  &.zoom-inline-open &__slide-arrows-container,
  &.zoom-inline-open &__slide-utility {
    opacity: 0;
    visibility: hidden;
  }

}


//-----------------------------------
// Zoom Behavior - Desktop Breakpoint
//-----------------------------------
.zoom-inline {
  @include absolute-fill();
}


//-----------------------------------
// Zoom Behavior - Mobile/Tablet Breakpoint
//-----------------------------------
body.zoom-overlay-open {
  overflow: hidden;
}

.zoom-overlay {

  background: $color__white;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;

  &__close {
    color: $color__primary-blue;
    height: 44px;
    width: 44px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 5;
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }


  //-----------------------------------
  // Media Query: > 992px and up
  //-----------------------------------
  @include media-desktop-and-up {

    display: none !important; // stylelint-disable-line declaration-no-important

  }

}
