//-----------------------------------
// M-48: Media Gallery
//-----------------------------------

// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";

.module-media-gallery {

  //-----------------------------------
  // Debug Styles
  //-----------------------------------
  &__slide-preview { border: 1px solid indianred; }

  &__slide-container &__arrows { border: 1px solid mediumseagreen; }


  //-----------------------------------
  // Gallery Headline & Description
  //-----------------------------------
  &__header,
  &__description {
    margin-bottom: ($spacing__md / 2);
  }

  &__headline {
    margin-bottom: $spacing__sm;
  }


  //-----------------------------------
  // Slide Container
  //-----------------------------------
  &__slide-container {
    position: relative;
  }

  &__slide-preview {
    position: relative;
    text-align: center;

  }

  // Wrapper Div used to maintain image aspect ratio
  &__image-wrapper {

    img {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

  }


  // Zoom & Download Styles
  &__slide-utility {
    position: absolute;
    bottom: $spacing__sm / 2;

    .icon {
      color: $color__primary-blue;
    }
  }

  &__download {
    left: $spacing__sm / 2;
  }

  &__zoom {
    right: $spacing__sm / 2;
  }

  // Slide Item - Text & description
  &__slide-info {
    padding: $spacing__sm 0 $spacing__sm $spacing__sm;
    border-left: 1px solid $color__secondary-gray4;
  }

  &__slide-text {
    margin-bottom: 0;
  }

  // Slide Arrows - Prev & Next
  &__arrows {
    position: absolute;
    top: 0;
    color: $color__secondary-gray4;
  }

  &__prev-arrow {
    left: 0;
  }

  &__next-arrow {
    right: 0;
  }

  //-----------------------------------
  // Thumbnail Container
  //-----------------------------------
  &__thumbnail-container {
    position: relative;
  }

  &__thumbnail-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__thumbnail-container {
    .module-media-gallery__arrows {
      color: $color__primary-blue;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__thumbnail-item {
    margin: 0 30px;

    &:focus {
      outline: 0;
    }
  }

  &__thumbnail-image-wrapper {

    img {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //-----------------------------------
  // Mobile Breakpoint: 0 to 991px
  //-----------------------------------
  @include media-mobile-and-tablet {

    // Slide Container
    //--------------
    &__slide-container {
      // empty selector for future reference
    }

    // Thumbnail Container
    //--------------
    &__thumbnail-container {
      display: none;
    }

  }



  //-----------------------------------
  // Desktop Breakpoint: >992 px
  //-----------------------------------
  @include media-desktop-and-up {
    padding: $spacing__md 0 $spacing__xl;


    // Slide Container
    //--------------
    &__slide-container {
      .module-media-gallery__arrows {
        .icon {
          font-size: 37px;
        }
      }
    }

    &__slide-info {
      margin: $spacing__sm 0 $spacing__sm;
    }

    &__thumbnail-container {
      .module-media-gallery__arrows {
        .icon {
          font-size: 12px;
        }
      }
    }

    &__thumbnail-image-wrapper {
      padding: ($spacing__sm / 2);
    }

    &__thumbnail-item {
      position: relative;

      &.active {

        &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100%;
          background: $color__primary-blue;
          bottom: 0;
        }
      }
    }
  }
}
