//-----------------------------------
// M-48: Media Gallery
//-----------------------------------

// Import All SASS config files (Variables, Mixins, functions... etc)
@import "../../../global/css/_config/sass";

.module-media-gallery {

  //-----------------------------------
  // Debug Styles
  //-----------------------------------
  &__slide-preview { border: 1px solid indianred; }

  &__arrows { border: 1px solid mediumseagreen; }

  &__thumbnail-container { border: 1px solid #639; }


  //-----------------------------------
  // Gallery Headline & Description
  //-----------------------------------
  &__header,
  &__description {
    margin-bottom: ($spacing__md / 2);
  }

  &__headline {
    margin-bottom: $spacing__sm;
  }


  //-----------------------------------
  // Slide Container
  //-----------------------------------
  &__slide-container {
    position: relative;
  }

  &__slide-preview {
    position: relative;
    text-align: center;

  }

  // Wrapper Div used to maintain image aspect ratio
  &__image-wrapper {

    img {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

  }


  // Zoom & Download Styles
  &__slide-utility {
    position: absolute;
    bottom: 0;

    .icon {
      color: $color__primary-blue;
    }
  }

  &__download {
    left: 0;
  }

  &__zoom {
    right: 0;
  }

  // Slide Item - Text & description
  &__slide-info {
    padding: $spacing__sm 0 $spacing__sm $spacing__sm;
    border-left: 1px solid $color__secondary-gray4;
  }

  &__slide-text {
    margin-bottom: 0;
  }

  // Slide Arrows - Prev & Next
  &__arrows {
    position: absolute;
    top: 0;
    color: $color__secondary-gray4;
  }

  &__prev-arrow {
    left: 0;
  }

  &__next-arrow {
    right: 0;
  }

  //-----------------------------------
  // Thumbnail Container
  //-----------------------------------
  &__thumbnail-container {
    position: relative;
  }

  &__thumbnail-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__thumbnail-container {
    .module-media-gallery__arrows {
      color: $color__primary-blue;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__thumbnail-image-wrapper {

    img {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //-----------------------------------
  // Mobile Breakpoint
  //-----------------------------------
  @include media-mobile-and-tablet {
  }

  //-----------------------------------
  // Desktop Breakpoint
  //-----------------------------------
  @include media-desktop-and-up {
    padding: $spacing__md 0 $spacing__xl;

    &__slide-container {
      .module-media-gallery__arrows {
        .icon {
          font-size: 37px;
        }
      }
    }

    &__thumbnail-container {
      .module-media-gallery__arrows {
        .icon {
          font-size: 12px;
        }
      }
    }

    &__slide-info {
      margin: $spacing__sm 0 $spacing__sm;
    }
  }
}
