.divider{
background-color: #005eb8;
height:4px;
margin-top:10px;
margin-bottom:10px;
}
.primaryImageHolder{
margin-left:25%;
}
.primaryTextFamilyPage .requestAQuoteBtn{
background:#005eb8;
border-radius:0px;
border-color:#005eb8 !important;
}
.primaryTextFamilyPage .requestAQuoteBtn:hover{
background:#005eb8 !important;
}
.primaryTextFamilyPage .requestAQuoteBtn:focus{
background:#005eb8 !important;
}
.primaryTextFamilyPage .requestAQuoteBtn:active{
background:#005eb8 !important;
}
.requestQuoteHolder{
margin:10px 0px;
}
.requestQuoteList{
list-style:none;
padding-left:0px !important;

}
.requestQuoteList li{
color:#005eb8;
margin-bottom:10px;
}
.newWinIcon{
width:20px;
margin-right:10px;
}

@media only screen and (max-width: 768px) {
.requestQuoteList{
margin:10px 0px;
}
.primaryImageHolder{
margin-left:0px;
}
}