.eaton-social-links__eyebrow { margin-bottom: 18px; }

.eaton-social-links__list { font-size: 0; list-style-type: none; margin: 0 0 16px; padding: 0; }

.eaton-social-links__list-item { display: inline-block; margin-right: 18px; }

.eaton-social-links .icon-facebook { color: #2C578F; }

.eaton-social-links .icon-twitter { color: #0FA9D0; }

.eaton-social-links .icon-googleplus { color: #D44A3A; }

.eaton-social-links .icon-linked-in { color: #3699C6; }

.eaton-social-links .icon-pinterest { color: #D02127; }

.eaton-social-links__page-link { font-size: 18px; }

.eaton-social-links__page-link-icon { font-size: 0.7em; }

.dark-theme .eaton-social-links__eyebrow { color: #FFF; }

.dark-theme .eaton-social-links__page-link, .dark-theme .eaton-social-links__page-link:hover, .dark-theme .eaton-social-links__page-link:active { color: #FFF; }
