<sly data-sly-use.data="com.eaton.platform.core.helpers.LinkListHelper">

  <div class="eaton-link-list-horizontal">

    <!--/* List Links */-->
    <ul
      data-sly-list="${ data.viewContentListModel.listTypeArray }"
      class="eaton-link-list-horizontal__list"
    >
      <li class="eaton-link-list-horizontal__list-item">
        <a href="${ item.pageLink }"
          aria-label="Go to ${ item.linkTitle }"
          class="eaton-link-list-horizontal__list-link"
          target="${ item.newWindow }"
        >${ item.linkTitle }</a>
      </li>
    </ul>

  </div>

</sly>
