// Layout Utils
//--------------
.u-is-fixed { position: fixed; }

.overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .8;
  background-color: #fff;
  z-index: 500;
}

.u-absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.u-is-center-aligned {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.u-no-margin { margin: 0; }
.u-no-padding { padding: 0; }

.u-float-left { float: left; }
.u-float-right { float: right; }

.u-clearfix {
  @include clearfix();
}

.u-list-inline {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


// Text Utils
//--------------
.u-text-center { text-align: center; }
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }

.u-text-uppercase { text-transform: uppercase; }

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// Visibility
//--------------
.u-hide { display: none; }
.u-show { display: block; }
.u-inline { display: inline; }
.u-inline-block { display: inline-block; }

.u-hidden { visibility: hidden; }
.u-visible { visibility: visible; }

// Visible only from 0 to 991px | Hidden if >992px
.u-visible-mobile {
  display: block;

  @include media-desktop-and-up { display: none; }
}

// Visible > 992px
.u-visible-desktop {
  display: none;

  @include media-desktop-and-up { display: block; }
}


// Responsive Images
//-------------
// NOTE: These values are used as helpers in JavaScript to determine the current Breakpoint
[data-mobile-rendition] {

  // Default Value Mobile
  min-width: 2px;

  // If Tablet ( Between 768px and 991px )
  @media all and (min-width: $grid__sm) and (max-width: $grid__sm-max) {
    min-width: 1px;
  }

  // If Desktop & Desktop Large ( Greater than 992px )
  @media all and (min-width: $grid__md) {
    min-width: 0;
  }
}
