/**  **/

.hero,
.sec_hero,
.sec_hero_with_description,
.hero-product-category{
    position: relative; 
    background-size: cover;

}
.hero .background-image,
.sec_hero .background-image,
.sec_hero_with_description .background-image,
.hero-product-category .background-image
{
    min-height: 100%;
    height: 100%;
    width: 100%;
}
.hero-product-category .h1Hero{
            line-height:1.192em !important;
			font-size:3.25em !important;
            }
.overlay {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.sec_hero .overlay{
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero_button {
	text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.hero-down-arrow {
    display: none;
}
.see_more {
    display: none;
}

.hero-down-arrow {
    display: none;
    text-align: center;
    margin-top: 10px;
    font-size: 1.25em;
}
.hero-product-category .hero-line{
	height:3px;
	background:#FFFFFF;  
	width:13% !important;
	margin-left:0px !important;
	margin-right:0px !important;
    
}

.hero .hero-line,
.sec_hero .hero-line,
.sec_hero_with_description .hero-line {
	height:3px;
	background:#FFFFFF;  
	width:13% !important;
	margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-bottom:0px;
    
}
 .hero-product-category-secondary-landing .hero-product-category .background-image{
	    height: 359px;
    	width: 100%;
    	border:0;
    }
 .hero-product-category-secondary-landing .hero-product-category .overlay a:hover{
	color:#FFFFFF;
}
 .hero-product-category-secondary-landing .hero-line {
	color:#FFFFFF;
}
.hero-product-category-secondary-landing .background-image-secondary-landing-desktop{
	display:block;
}
.hero-product-category-secondary-landing .background-image-secondary-landing-mob{
	display:none;
}                                    
    @media screen and (max-width: 992px){


       .hero-product-category .h1Hero{
			margin-top:40px !important;
            line-height:1.152em !important;
			font-size:2.06em !important;
            }
        .hero-product-category .hero-line{
        margin-top:40px !important;
            }
        .hero-product-category .hero-description-copy{
        margin-top:40px !important;
            }




}



  @media only screen and (max-width: 600px) {

  }



                            @media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and(max-width:650px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and(max-width:650px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px) and(max-width:650px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and(max-width:650px){ 



                            }
/*release3*/

.cat-hero-title                                        
{
	text-align:center;
}

.storyBoardOverlay .smallPaddingTop
{
	padding-top:30px !important;
 }
.cat-desc
{
	font-size: 1.25em;
    line-height: 1.6em;
	text-align:center;  
	width: 100%;;
    font-family: Arial                                    
}

 @media only screen and (min-width: 601px) and (max-width: 992px){

.storyBoardOverlay .smallPaddingTop
{
	padding-top:60px !important;
 }

.cat-desc
{
	font-size: 1.750em;
    line-height: 1.571em;                                    
}                                        
 }
@media only screen and (max-width: 600px){
.storyBoardOverlay .smallPaddingTop
{
	padding-top:60px !important;
 }
.cat-desc
{
	font-size: 1.750em;
    line-height: 1.571em;                                  
}                                             
}
/*release 3 career*/       



.career-hero .hero-product-category .background-image{
    height: auto;
    width: 100%;
}
@media only screen and (max-width: 600px) {
.career-hero .hero-product-category
{
	height:auto;
}
.hero-product-category-secondary-landing .hero-product-category .background-image{
	    height: auto;

    }
.hero-product-category-secondary-landing .background-image-secondary-landing-desktop{
	display:none;
}
.hero-product-category-secondary-landing .background-image-secondary-landing-mob{
	display:block;
}
}

@media only screen and (max-width: 992px){

.career-hero .hero-product-category .hero-description-copy   
{
    margin-top: 40px !important;
 }   
.career-hero .smallMarginTop
{
    margin-top: 40px !important;
 }                     
.career-hero .hero-product-category .background-image{
	    filter: brightness(80%);
}

}
